# Import

In [35]:
import socket
from urllib.parse import urlencode, quote_plus

import pandas as pd
import requests

from db.mongo import MyMongo
# from api.kakao_geocode import get_geocode_from_address

# 함수

In [29]:
def get_distance_from_coords(lat1, lon1, lat2, lon2):

    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c * 1000

    return distance


def get_kakao_api_key():
    hname = socket.gethostname()
    api_key = ''
    if hname == 'ideapad':
        file_path = '/home/jake/Private/kakao_api_key.txt'
    elif hname == 'danbi-mac.local':
        file_path = '/Users/jake/Private/kakao_api_key.txt'

    with open(file_path) as f:
        api_key = f.read()
    return api_key.strip()


def fetch_geo_response_from_kakao(addr, url_type='address'):
    urls = {
        'address': 'https://dapi.kakao.com/v2/local/search/address.json',
        'keyword': 'https://dapi.kakao.com/v2/local/search/keyword.json'
    }

    def get_response_by_type(url_type, response):
        # print(response)
        if not response or response['meta']['total_count'] == 0:
            return None

        doc = response['documents'][0]
        if url_type == 'address':
            return doc['road_address'] or doc['address']

        if url_type == 'keyword':
            return doc

    url = urls[url_type]
    key = get_kakao_api_key()
    headers = {'Authorization': f'KakaoAK {key}'}
    payload = {'query': addr, }
    encoded = urlencode(payload, quote_via=quote_plus)
    url2 = f'{url}?{encoded}'
    res = requests.get(url2, headers=headers)

    return get_response_by_type(url_type, res.json())

# 데이터 가져오기

In [2]:
tobacco_path = 'cvs_from_tobacco.tsv'
cvs_tobacco = pd.read_csv(tobacco_path, sep='\t', dtype=object).drop_duplicates(['관리번호'])

print(f'cvs_tobacco: {len(cvs_tobacco)}')  # before: 67602, after: 65541

cvs_tobacco: 65541

# Columns

In [25]:
# cols = ['영업상태명', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '소재지전화', '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명',
#         '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수', '본사종업원수',
#         '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지']

cols = ['관리번호', '사업장명', '상세영업상태명', '좌표정보(X)', '좌표정보(Y)', '도로명전체주소', '지정일자', '폐업일자', '최종수정시점', '데이터갱신일자', '업태구분명', 'lat', 'lng']

cvs_tobacco.columns

Index(['개방서비스ID', '개방서비스명', '개방자치단체코드', '관리번호', '데이터갱신구분', '데이터갱신일자',
       '도로명우편번호', '도로명전체주소', '민원종류명', '번호', '사업장명', '상세영업상태명', '상세영업상태코드',
       '소재지면적', '소재지우편번호', '소재지전체주소', '소재지전화', '업태구분명', '영업상태구분코드', '영업상태명',
       '인허가일자', '인허가취소일자', '재개업일자', '좌표정보(X)', '좌표정보(Y)', '지정일자', '최종수정시점',
       '폐업일자', '휴업시작일자', '휴업종료일자', 'lat', 'lng'],
      dtype='object')

# 상세영업상태명:

## 정상영업: 36684개
## 폐업처리: 27710개

In [4]:
cvs_tobacco['상세영업상태명'].value_counts()

정상영업        36684
폐업처리        27710
지정취소          694
직권취소          320
영업정지           85
휴업처리           38
임시소매기간만료       10
Name: 상세영업상태명, dtype: int64

# 영업상태별 DF 생성

In [10]:
cvs_active = cvs_tobacco.loc[cvs_tobacco['상세영업상태명'].str.contains('정상영업')]; cvs_active.loc[::, cols]

,관리번호,사업장명,상세영업상태명,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,2006300010105600037,세븐일레븐 종로허브점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198658.943470079,452604.254902527
1,1999300007605600150,GS25동숭점,정상영업,19990628,NaN,20120404135825.0,2018-08-31 23:59:59.0,NaN,200156.610752518,453486.14839667897
2,2007300010105600043,이마트24 광화문시대점,정상영업,20070625,NaN,20180622133108.0,2018-08-31 23:59:59.0,NaN,197559.791065754,452388.315239125
3,2007300012905600006,세븐일레븐 독립문역점,정상영업,20070807,NaN,20130502163622.0,2018-08-31 23:59:59.0,NaN,196230.717211362,452476.18106458295
4,2008300012905600082,세븐일레븐 종로배화점,정상영업,20081007,NaN,20081007145235.0,2018-08-31 23:59:59.0,NaN,197231.292851585,452764.45729597396
5,2003300007605600130,세븐일레븐 종로향기점,정상영업,20031216,NaN,20150731160736.0,2018-08-31 23:59:59.0,NaN,201843.179937827,452443.27937024704
6,2007300012905600047,GS25 명륜아남점,정상영업,20071119,NaN,20071119102124.0,2018-08-31 23:59:59.0,NaN,199944.16729832898,453791.442084652
7,2007300012905600048,GS25 혜화대명점,정상영업,20071120,NaN,20090430153802.0,2018-08-31 23:59:59.0,NaN,200031.226482075,453557.400004758
8,2007300012905600055,GS25 평창문화로점,정상영업,20071204,NaN,20180503150542.0,2018-08-31 23:59:59.0,NaN,197865.966333333,456429.34466666705
9,2004300007605600095,세븐일레븐 종로숭인점,정상영업,20040830,NaN,20090831141431.0,2018-08-31 23:59:59.0,NaN,201923.40606958,452887.220420862
10,2010300012905600067,GS25 종로방통대점,정상영업,20100806,NaN,20100830164822.0,2018-08-31 23:59:59.0,NaN,200309.35812063699,453044.212129777
11,2010300012905600072,세븐일레븐 종로구기점,정상영업,20100901,NaN,20100902093017.0,2018-08-31 23:59:59.0,NaN,196260.9162031,456159.784427484
12,2008300012905600071,GS25종로관훈점,정상영업,20080812,NaN,20080812195838.0,2018-08-31 23:59:59.0,NaN,198500.44755914,452243.43365493603
13,2004300007605600116,GS25 동묘역점,정상영업,20041126,NaN,20091120113929.0,2018-08-31 23:59:59.0,NaN,201350.47337553801,452279.74426029995
14,2008300012905600022,씨유 종로5가역점,정상영업,20080320,NaN,20120727105320.0,2018-08-31 23:59:59.0,NaN,199936.591919229,452096.36720458604
15,2008300012905600073,미니스톱 종로충신점,정상영업,20080828,NaN,20080828093531.0,2018-08-31 23:59:59.0,NaN,200374.51843675802,452616.256307724
16,2008300012905600029,GS25 종로안국점,정상영업,20080408,NaN,20080408170518.0,2018-08-31 23:59:59.0,NaN,198685.005097689,452737.39991695795
17,2010300012905600034,씨유 종로성대점,정상영업,20100503,NaN,20120730111835.0,2018-08-31 23:59:59.0,NaN,199667.34921991,453570.52997439104
18,2005300007605600012,세븐일레븐공평점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198485.509749042,452102.52450196
19,2002300007605600033,씨유 종로제일점,정상영업,20020325,NaN,20170321100321.0,2018-08-31 23:59:59.0,NaN,198979.900757892,452173.28417043
20,2018300016905600075,지에스25종로영풍점,정상영업,20181129,NaN,20181129111120.0,2018-12-01 02:20:16.0,NaN,198351.81873748198,451921.60302604
21,2012300012905600086,씨유 성균관대 인문관점,정상영업,20121004,NaN,20121005090436.0,2018-08-31 23:59:59.0,NaN,199231.345644103,454019.36089002
22,1999300007605600122,세븐일레븐탑골공원점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,199001.895945417,452078.522023565
23,1999300007605600123,세븐일레븐 평창점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,196915.715098031,456069.982694811
24,1999300007605600124,세븐일레븐 인사점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198783.662701312,452122.430070163
25,1999300007605600125,세븐일레븐 종로점,정상영업,19990521,NaN,20091113173448.0,2018-08-31 23:59:59.0,NaN,198670.13531224802,452015.770046035
26,2007300012905600036,세븐일레븐 s서대문역점,정상영업,20071029,NaN,20071029094611.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
27,2008300012905600020,세븐일레븐 s종로3가역점,정상영업,20080313,NaN,20080313104453.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
28,2006300010105600061,GS25 창신역점,정상영업,20061221,NaN,20150210172221.0,2018-08-31 23:59:59.0,NaN,201304.223298708,452882.754347238
29,2007300010105600014,세븐일레븐 종로두산점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198324.653631679,452252.812389497
...,...,...,...,...,...,...,...,...,...,...
67572,2016652002805600012,씨유 서귀송악도서관점,정상영업,20160912,NaN,20160912152102.0,2018-08-31 23:59:59.0,NaN,129767.0,-29696
67573,2016652002805600013,씨유제주송악산점,정상영업,20160913,NaN,20160913135533.0,2018-08-31 23:59:59.0,NaN,133827.730801,-31792.5380585
67574,2016652002805600015,씨유 모슬포점,정상영업,20161111,NaN,20161111174018.0,2018-08-31 23:59:59.0,NaN,130639.957881,-29810.5327017
67575,2016652002805600016,지에스25마라도포구점,정상영업,20161202,NaN,20161202154020.0,2018-08-31 23:59:59.0,NaN,131538.450456,-41513.9053236
67576,2016652002905600001,세븐일레븐 서귀포 신흥점,정상영업,20160112,NaN,20160119143007.0,2018-08-31 23:59:59.0,NaN,178339.198869,-21618.8352434
67577,2018652003005600009,씨유성산온평점,정상영업,20180702,NaN,20180702161103.0,2018-08-31 23:59:59.0,NaN,190406.125687,-9873.20523107
67578,2014652004105600007,씨유서귀법환점,정상영업,20141230,NaN,20141230115731.0,2018-08-31 23:59:59.0,NaN,154501.757285,-28626.6473208
67579,2014652004205600003,GS25신서귀포점,정상영업,20141016,NaN,20141016183550.0,2018-08-31 23:59:59.0,NaN,154003.939397,-26714.8993806
67580,2017652003105600014,씨유 서귀감산리점,정상영업,20170822,NaN,20170822133730.0,2018-08-31 23:59:59.0,NaN,139845.92745,-26104.9032193
67581,2017652003105600015,GS25제주신화월드점,정상영업,20171108,NaN,20171108170325.0,2018-08-31 23:59:59.0,NaN,136356.94232200002,-20780.8074936
67582,2017652003105600017,씨유제주신화아띠점,정상영업,20171208,NaN,20171208110100.0,2018-08-31 23:59:59.0,NaN,135526.538759,-21664.9798126
67583,2017652003905600003,지에스25 동홍그린점,정상영업,20170321,NaN,20170406102118.0,2018-08-31 23:59:59.0,NaN,160431.408546,-26408.4396603
67584,2017652003905600004,지에스25 동홍중앙점,정상영업,20170517,NaN,20170517141701.0,2018-08-31 23:59:59.0,NaN,160017.501079,-27170.1870411999
67585,2017652003905600005,씨유 서귀포현대점,정상영업,20170717,NaN,20170717101248.0,2018-08-31 23:59:59.0,NaN,160290.474613,-26465.2039851
67586,2017652003905600006,씨유 서귀남고사거리점,정상영업,20170814,NaN,20170814152954.0,2018-08-31 23:59:59.0,NaN,159727.292143,-25450.1151662
67587,2014652003005600005,세븐일레븐서귀포라사니아리조트점,정상영업,20140605,NaN,20170221163128.0,2018-08-31 23:59:59.0,NaN,188085.926685,-13659.3646429
67588,2014652003005600006,씨유봄그리고가을리조트점,정상영업,20140610,NaN,20160624130000.0,2018-08-31 23:59:59.0,NaN,191645.43531300002,-2470.43651019
67589,2013652003105600007,GS25안덕대평점,정상영업,20130719,NaN,20130719171202.0,2018-08-31 23:59:59.0,NaN,140940.290889,-28863.2545605
67590,2013652004205600003,씨유제주풍림리조트점,정상영업,20131107,NaN,20131107104109.0,2018-08-31 23:59:59.0,NaN,152324.829585,-29032.2870427
67591,2012652004305600004,씨유제주중문점,정상영업,20120620,NaN,20120724114937.0,2018-08-31 23:59:59.0,NaN,146404.42052,-26981.3158301
67592,2015652004205600006,세븐일레븐 서귀포강정점,정상영업,20151105,NaN,20180712161922.0,2018-08-31 23:59:59.0,NaN,153957.2822,-27145.5004676
67593,2016652003205600007,세븐일레븐 서귀포 토산로점,정상영업,20160829,NaN,20160829181045.0,2018-08-31 23:59:59.0,NaN,179485.314276,-20907.7064996
67594,2016652003305600001,씨유 서귀포자구리점,정상영업,20160701,NaN,20160701103110.0,2018-08-31 23:59:59.0,NaN,159580.85963599998,-28060.9524148
67595,2016652003305600003,세븐일레븐 서귀포솔동산점,정상영업,20160913,NaN,20160913103242.0,2018-08-31 23:59:59.0,NaN,159197.160195,-28201.8379394
67596,2017652003805600003,씨유서귀포보목길점,정상영업,20170825,NaN,20170828100557.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
67597,2015652004005600008,씨유서귀홍중로점,정상영업,20151218,NaN,20151218103300.0,2018-08-31 23:59:59.0,NaN,158740.645497,-26671.3778983
67598,2015652004005600010,씨유서귀서홍로점,정상영업,20151224,NaN,20151224175803.0,2018-08-31 23:59:59.0,NaN,158644.20361300002,-25647.4817751
67599,2016652003605600003,씨유서귀외돌개점,정상영업,20160726,NaN,20160728094718.0,2018-08-31 23:59:59.0,NaN,158423.732149,-27921.9995709
67600,2016652003605600004,GS25서귀중정점,정상영업,20161104,NaN,20180905162357.0,2018-08-31 23:59:59.0,NaN,158770.925971,-27501.9725236
67601,2017652003105600013,세븐일레븐 서귀포창천점,정상영업,20170801,NaN,20170801130037.0,2018-08-31 23:59:59.0,NaN,141198.828124,-25740.006185

In [11]:
cvs_quit = cvs_tobacco.loc[cvs_tobacco['상세영업상태명'].str.contains('폐업처리')]; cvs_quit.loc[::, cols]

,관리번호,사업장명,상세영업상태명,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
225,2003300007605600035,미니스톱 혜화점,폐업처리,NaN,20060605.0,20080221000000.0,2018-08-31 23:59:59.0,NaN,199947.810511547,453528.91270822205
226,2006300007605600007,미니스톱 종각역점,폐업처리,20060127,20080325.0,20080325174729.0,2018-08-31 23:59:59.0,NaN,198572.839145325,452022.373156033
227,2006300007605600008,GS25 종로용비점,폐업처리,20060203,20100225.0,20100225173905.0,2018-08-31 23:59:59.0,NaN,197567.747824202,452347.973860449
228,2006300007605600009,GS25 종로숭인점,폐업처리,NaN,20061201.0,20080221000000.0,2018-08-31 23:59:59.0,NaN,201960.951300031,452506.17859595397
229,2008300012905600064,GS25종로리버,폐업처리,20080709,20140502.0,20140502153724.0,2018-08-31 23:59:59.0,NaN,198614.61995563,451842.501561085
243,2004300007605600079,미니스톱경희궁점,폐업처리,20040721,20151012.0,20151012163236.0,2018-08-31 23:59:59.0,NaN,197465.223921125,452366.61389989796
244,1999300007605600163,씨유 종로효제점,폐업처리,19990723,20171101.0,20171101160936.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
245,1999300007605600143,GS25 종각점,폐업처리,19990624,20080229.0,20080229172350.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
246,2006300010105600019,미니스톱 창신역점,폐업처리,NaN,20061201.0,20080221000000.0,2018-08-31 23:59:59.0,NaN,201304.223298708,452882.754347238
247,2006300010105600022,GS25 대학로점,폐업처리,20060824,20090116.0,20090116172116.0,2018-08-31 23:59:59.0,NaN,200242.66173302103,453287.29409741296
248,2008300012905600067,미니스톱(종각중앙점),폐업처리,20080716,20140808.0,20140808173424.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
249,2009300012905600088,세븐일레븐 종로효제점,폐업처리,20091110,20150123.0,20150123175639.0,2018-08-31 23:59:59.0,NaN,200272.06769195801,452378.88679271203
250,2003300007605600008,GS25 명륜스타점,폐업처리,NaN,20050707.0,20080221000000.0,2018-08-31 23:59:59.0,NaN,199972.88143177802,453308.674806807
251,2003300007605600011,GS25 종로안국점,폐업처리,20030128,20080320.0,20080320170416.0,2018-08-31 23:59:59.0,NaN,198685.005097689,452737.39991695795
252,2002300007605600034,GS25종로창신점,폐업처리,NaN,20070402.0,20080221000000.0,2018-08-31 23:59:59.0,NaN,201293.88863979,452453.76006044
253,2005300007605600085,씨유 숭인파라빌점,폐업처리,20051017,20151001.0,20151001151147.0,2018-08-31 23:59:59.0,NaN,201946.86632604,452416.591916256
254,2009300012905600084,씨유 원남사거리점,폐업처리,20091103,20131031.0,20131031142141.0,2018-08-31 23:59:59.0,NaN,199750.932694302,452592.759611754
255,2009300012905600085,씨유 종로시사점,폐업처리,20091103,20130925.0,20130926092510.0,2018-08-31 23:59:59.0,NaN,198600.297703408,451907.673521567
256,2010300012905600060,씨유 종로공평점,폐업처리,20100722,20150703.0,20150703132118.0,2018-08-31 23:59:59.0,NaN,198403.06290822898,452180.670203793
257,2008300012905600023,GS25 종각점,폐업처리,20080320,20140407.0,20140407154004.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
258,2010300012905600013,씨유 현대사옥점,폐업처리,20100304,20180419.0,20180419161906.0,2018-08-31 23:59:59.0,NaN,199976.765493088,452526.527263312
259,2010300012905600014,세븐일레븐 종로5가역점,폐업처리,20100309,20110309.0,20110310095915.0,2018-08-31 23:59:59.0,NaN,200126.766304313,452265.17351783795
260,2005300007605600095,GS25 명륜스타점,폐업처리,20051121,20130118.0,20130118103555.0,2018-08-31 23:59:59.0,NaN,199972.88143177802,453308.674806807
261,2004300007605600110,GS25종로드림,폐업처리,20041029,20100622.0,20100622150428.0,2018-08-31 23:59:59.0,NaN,196143.25611835698,452619.54362936
262,2004300007605600121,GS25 postal 광화문점,폐업처리,20041221,20171228.0,20171228152308.0,2018-08-31 23:59:59.0,NaN,197995.21879340897,451945.047247204
263,2009300012905600058,씨유 이화사거리점,폐업처리,20090619,20140922.0,20140922105632.0,2018-08-31 23:59:59.0,NaN,200100.301859185,452546.02892552
264,2007300012905600019,GS25 종로청진점,폐업처리,20070928,20080507.0,20080507190550.0,2018-08-31 23:59:59.0,NaN,198150.30037412103,452019.21264293103
265,2007300012905600020,세븐일레븐 종로르메이에르점,폐업처리,20070928,20080605.0,20080605104617.0,2018-08-31 23:59:59.0,NaN,198150.30037412103,452019.21264293103
266,2007300012905600061,GS25 마로니에점,폐업처리,20071231,20100910.0,20100910135125.0,2018-08-31 23:59:59.0,NaN,200241.53960990199,453188.69990349
267,2008300012905600011,GS25 창신점,폐업처리,20080220,20110218.0,20110218113435.0,2018-08-31 23:59:59.0,NaN,201295.197344796,452425.60875744704
...,...,...,...,...,...,...,...,...,...,...
67234,2014652004405600005,CU스위트호텔,폐업처리,20140929,20160909.0,20160909103503.0,2018-08-31 23:59:59.0,NaN,144774.60321300002,-27248.605946
67235,2013652003905600002,씨유서귀포현대점,폐업처리,20130215,20170704.0,20170704145749.0,2018-08-31 23:59:59.0,NaN,160290.474613,-26465.2039851
67236,2013652003705600003,GS효돈사거리점,폐업처리,20130617,20140821.0,20140821151223.0,2018-08-31 23:59:59.0,NaN,164836.82426199998,-25809.6891657
67237,2016652003505600002,씨유서귀포중앙점,폐업처리,20160727,20180928.0,20180928115852.0,2018-08-31 23:59:59.0,NaN,159307.914951,-27158.9132548
67238,2015652004105600009,GS25 신서귀LH점,폐업처리,20150924,20170920.0,20170920162808.0,2018-08-31 23:59:59.0,NaN,155273.985075,-27369.3586842
67239,2010652003205600004,GS25샤인빌리조트,폐업처리,20101213,20140812.0,20140812165207.0,2018-08-31 23:59:59.0,NaN,180630.25660999998,-21061.8800816
67240,2015652003905600003,씨유 서귀코아루점,폐업처리,20150924,20160923.0,20160923113031.0,2018-08-31 23:59:59.0,NaN,160195.81586,-26805.2129281
67241,2014652003405600001,(주)비지에프리테일씨유서귀포점,폐업처리,20140117,20141028.0,20141028163629.0,2018-08-31 23:59:59.0,NaN,159115.057222,-27524.6605183
67242,2017652003105600010,씨유 서귀평화로점,폐업처리,20170703,20180119.0,20180122094142.0,2018-08-31 23:59:59.0,NaN,139693.347939,-23327.5266522
67243,2009652004205600001,씨유 제주풍림리조트점,폐업처리,20090211,20131022.0,20131022134826.0,2018-08-31 23:59:59.0,NaN,152324.829585,-29032.2870427
67244,2010652002905600004,세븐일레븐서귀포남원점,폐업처리,20100730,20160304.0,20160304102815.0,2018-08-31 23:59:59.0,NaN,173662.128436,-24018.1376552
67245,2013652004105600006,GS25서귀법환점,폐업처리,20131007,20161107.0,20161107164256.0,2018-08-31 23:59:59.0,NaN,154324.830076,-28698.7271174
67246,2017652003105600002,GS25 서귀덕수점,폐업처리,20170223,20180620.0,20180620155928.0,2018-08-31 23:59:59.0,NaN,135045.56545,-26852.2421266
67247,2016652003105600004,지에스 25 산방산온천점,폐업처리,20160518,20180523.0,20180524091952.0,2018-08-31 23:59:59.0,NaN,134522.032428,-27222.355881
67248,2016652003105600008,GS25화순아일랜드점,폐업처리,20161025,20180809.0,20180809145235.0,2018-08-31 23:59:59.0,NaN,138036.36715499999,-27795.6144527
67249,2016652002805600008,지에스25 서귀운진항점,폐업처리,20160727,20170504.0,20170508100813.0,2018-08-31 23:59:59.0,NaN,130694.13298,-31018.7947087
67250,2016652002805600010,세븐일레븐 서귀포 대정중앙점,폐업처리,20160818,20170731.0,20170801090743.0,2018-08-31 23:59:59.0,NaN,130374.24763099999,-30278.0962213
67251,2015652002905600003,씨유 서귀태흥점,폐업처리,20150626,20161021.0,20161021143955.0,2018-08-31 23:59:59.0,NaN,177336.00578900002,-22542.6334599
67252,2015652002905600004,세븐일레븐 서귀포 일주대로점,폐업처리,20150911,20171101.0,20171101142841.0,2018-08-31 23:59:59.0,NaN,173692.513148,-23664.0736002
67253,2013652003005600005,세븐일레븐서귀포코델리아리조트점,폐업처리,20130626,20170623.0,20170623143005.0,2018-08-31 23:59:59.0,NaN,191576.437563,-4135.48931382
67254,2013652003005600009,세븐일레븐서귀포신양점,폐업처리,20131227,20171026.0,20171026103456.0,2018-08-31 23:59:59.0,NaN,192639.367722,-6654.47305378
67255,2013652003105600001,GS25제주산방산점,폐업처리,20130214,20180308.0,20180308162053.0,2018-08-31 23:59:59.0,NaN,135430.10655599998,-28793.4908586
67256,2017652003905600008,씨유 서귀삼아점,폐업처리,20171013,20180928.0,20181005162219.0,2018-08-31 23:59:59.0,NaN,160257.467453,-27074.2814822
67257,2013652003105600008,GS25담모라점,폐업처리,20130911,20180601.0,20180601160928.0,2018-08-31 23:59:59.0,NaN,135258.354405,-27144.8349445
67258,2013652004205600002,씨유제주풍림리조트점,폐업처리,20131107,20181031.0,20181031091914.0,2018-11-02 02:37:44.0,NaN,152324.829585,-29032.2870427
67259,2012652004305600006,씨유 서귀중문점,폐업처리,20120704,20161107.0,20161107160311.0,2018-08-31 23:59:59.0,NaN,146678.01139200001,-27004.5298797
67260,2012652004305600007,세븐일레븐 서귀포중문상로점,폐업처리,20120704,20170706.0,20170706171633.0,2018-08-31 23:59:59.0,NaN,146388.728535,-26899.8484447
67261,2012652004405600003,GS25중문단지점,폐업처리,20120613,20160531.0,20160601105256.0,2018-08-31 23:59:59.0,NaN,146379.419142,-26829.7426886
67262,2015652004205600007,씨유서귀강정상록점,폐업처리,20151127,20161226.0,20161226190001.0,2018-08-31 23:59:59.0,NaN,153798.0,-26652
67263,2009652004405600001,씨유 중문관광단지점,폐업처리,20090128,20180503.0,20180503104718.0,2018-08-31 23:59:59.0,NaN,145339.666273,-27106.7737319

# 구분선----------

# 카카오에서 좌표 가져오기

In [30]:
for idx, row in cvs_tobacco.iterrows():
    addr = row['도로명전체주소']
    name = row['사업장명']
    doc = None

    if addr:
        doc = fetch_geo_response_from_kakao(addr)
    elif name:
        doc = fetch_geo_response_from_kakao(name, url_type='keyword')
    if doc:
        cvs_tobacco.at[idx, 'lat'] = doc['y']
        cvs_tobacco.at[idx, 'lng'] = doc['x']

KeyboardInterrupt:

In [32]:
len(cvs_tobacco.loc[~cvs_tobacco['lat'].isna(), cols])
# cvs_tobacco.loc[::, cols]

9822

In [33]:
cvs_tobacco.loc[~cvs_tobacco['lat'].isna(), cols].head()

,관리번호,사업장명,상세영업상태명,좌표정보(X),좌표정보(Y),도로명전체주소,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,lat,lng
0,2006300010105600037,세븐일레븐 종로허브점,정상영업,198658.943470079,452604.254902527,"서울특별시 종로구 삼일대로 461 (경운동,운현궁SK허브 101동 102호)",NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,37.57559556952654,126.98582687874092
1,1999300007605600150,GS25동숭점,정상영업,200156.610752518,453486.14839667897,서울특별시 종로구 동숭길 140 (혜화동),19990628,NaN,20120404135825.0,2018-08-31 23:59:59.0,NaN,37.58366929825265,127.0025632117959
2,2007300010105600043,이마트24 광화문시대점,정상영업,197559.791065754,452388.315239125,"서울특별시 종로구 사직로8길 42, 102-2호 (내수동,광화문시대 상가1층)",20070625,NaN,20180622133108.0,2018-08-31 23:59:59.0,NaN,37.5736728979999,126.97294992549394
3,2007300012905600006,세븐일레븐 독립문역점,정상영업,196230.717211362,452476.18106458295,서울특별시 종로구 통일로 248 (무악동),20070807,NaN,20130502163622.0,2018-08-31 23:59:59.0,NaN,37.57456546325696,126.95812421174286
4,2008300012905600082,세븐일레븐 종로배화점,정상영업,197231.292851585,452764.45729597396,서울특별시 종로구 필운대로 12 (필운동),20081007,NaN,20081007145235.0,2018-08-31 23:59:59.0,NaN,37.57716379872892,126.96943884968033

# 파일 저장

In [39]:
# cvs_active.loc[::, cols].to_csv('cvs_active.tsv', sep='\t', index=False)
# cvs_quit.loc[::, cols].to_csv('cvs_quit.tsv', sep='\t', index=False)
# cvs_tobacco.loc[::, cols].to_csv('cvs_all.tsv', sep='\t', index=False)
# cvs_tobacco.loc[::, cols].to_csv('cvs_all_lat_lng.tsv', sep='\t', index=False)
with MyMongo() as db:
    db.delete_and_insert_df('cvs', 'cvs', cvs_tobacco)

<--Mongo Connected.
{}
Deleted rows: 0
Inserted rows: 65541
Mongo Connection Closed.-->

# 영업중인 지에스: 12643개

In [6]:
idx_tobacco_gs0 = cvs_tobacco['사업장명'].str.contains('지에스')
idx_tobacco_gs1 = cvs_tobacco['사업장명'].str.contains('GS')
idx_tobacco_active = cvs_tobacco['상세영업상태명'].str.contains('정상영업')

cvs_tobacco.loc[(idx_tobacco_gs0 | idx_tobacco_gs1) & (idx_tobacco_active), cols]

,관리번호,사업장명,상세영업상태명,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
1,1999300007605600150,GS25동숭점,정상영업,19990628,NaN,20120404135825.0,2018-08-31 23:59:59.0,NaN,200156.610752518,453486.14839667897
6,2007300012905600047,GS25 명륜아남점,정상영업,20071119,NaN,20071119102124.0,2018-08-31 23:59:59.0,NaN,199944.16729832898,453791.442084652
7,2007300012905600048,GS25 혜화대명점,정상영업,20071120,NaN,20090430153802.0,2018-08-31 23:59:59.0,NaN,200031.226482075,453557.400004758
8,2007300012905600055,GS25 평창문화로점,정상영업,20071204,NaN,20180503150542.0,2018-08-31 23:59:59.0,NaN,197865.966333333,456429.34466666705
10,2010300012905600067,GS25 종로방통대점,정상영업,20100806,NaN,20100830164822.0,2018-08-31 23:59:59.0,NaN,200309.35812063699,453044.212129777
12,2008300012905600071,GS25종로관훈점,정상영업,20080812,NaN,20080812195838.0,2018-08-31 23:59:59.0,NaN,198500.44755914,452243.43365493603
13,2004300007605600116,GS25 동묘역점,정상영업,20041126,NaN,20091120113929.0,2018-08-31 23:59:59.0,NaN,201350.47337553801,452279.74426029995
16,2008300012905600029,GS25 종로안국점,정상영업,20080408,NaN,20080408170518.0,2018-08-31 23:59:59.0,NaN,198685.005097689,452737.39991695795
20,2018300016905600075,지에스25종로영풍점,정상영업,20181129,NaN,20181129111120.0,2018-12-01 02:20:16.0,NaN,198351.81873748198,451921.60302604
28,2006300010105600061,GS25 창신역점,정상영업,20061221,NaN,20150210172221.0,2018-08-31 23:59:59.0,NaN,201304.223298708,452882.754347238
31,2003300007605600105,GS25종로관철점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198797.140043517,451887.51214766
35,2009300012905600028,GS25 혜화점,정상영업,20090305,NaN,20090311103144.0,2018-08-31 23:59:59.0,NaN,199840.10203115302,453601.61949758604
36,1998300007605600254,GS25 숭인본점,정상영업,19981127,NaN,20110624182541.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
38,2005300007605600028,GS25종로익선,정상영업,20050412,NaN,20150421112617.0,2018-08-31 23:59:59.0,NaN,198938.628193769,452464.092338006
39,2010300012905600092,GS25상명사랑점,정상영업,20101108,NaN,20101116090509.0,2018-08-31 23:59:59.0,NaN,196268.479696575,455316.074423675
40,2018300016905600055,지에스(GS)25 숭인필점,정상영업,20180914,NaN,20180917091101.0,2018-09-17 23:59:59.0,NaN,201341.677424554,452471.587514595
43,2018300016905600057,지에스25 R종로2점,정상영업,20180927,NaN,20180928085840.0,2018-09-28 23:59:59.0,NaN,201756.98806202397,452371.62864850205
45,2005300007605600058,GS25 종로로얄점,정상영업,NaN,NaN,20080221000000.0,2018-08-31 23:59:59.0,NaN,198271.843790307,452533.899674194
49,2018300016905600061,지에스25 종로동묘시장점,정상영업,20181005,NaN,20181005165009.0,2018-10-09 15:19:31.0,NaN,201550.20597335,452142.041004355
50,2018300016905600047,GS25트윈트리타워점,정상영업,20180820,NaN,20180820172832.0,2018-08-31 23:59:59.0,NaN,198176.15923966301,452574.67151361
52,2012300012905600092,GS종각점,정상영업,20121016,NaN,20121017085857.0,2018-08-31 23:59:59.0,NaN,198541.72075378,451935.633974889
54,2011300012905600019,GS25 창신점,정상영업,20110308,NaN,20110308131423.0,2018-08-31 23:59:59.0,NaN,201295.197344796,452425.60875744704
56,2018300016905600049,지에스25종로국카사옥,정상영업,20180822,NaN,20180823091233.0,2018-08-31 23:59:59.0,NaN,197567.93800572,452276.45463337604
57,2018300016905600051,지에스25종로장사동점,정상영업,20180829,NaN,20180829183135.0,2018-08-31 23:59:59.0,NaN,199590.35280529302,451844.663527506
59,2018300016905600053,지에스25 소격동점,정상영업,20180904,NaN,20180914160246.0,2018-09-14 23:59:59.0,NaN,198341.605922532,452957.22837825
60,2011300012905600043,GS25 수성동계곡,정상영업,20110601,NaN,20140801163542.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
63,2012300012905600062,GS25 숭인동묘점,정상영업,20120801,NaN,20120809164237.0,2018-08-31 23:59:59.0,NaN,201384.40371758898,452259.221855811
64,2011300012905600039,지에스(GS)25상명대점,정상영업,20110428,NaN,20110524152008.0,2018-08-31 23:59:59.0,NaN,196010.602015955,455485.36355739
68,2012300012905600021,GS25국일관점,정상영업,20120316,NaN,20120316170541.0,2018-08-31 23:59:59.0,NaN,199045.043602772,451939.677286976
70,1997300007605600109,GS25 명륜성대점,정상영업,19970321,NaN,20111219105632.0,2018-08-31 23:59:59.0,NaN,199628.24828081302,453954.31886665896
...,...,...,...,...,...,...,...,...,...,...
67494,2015652004205600005,GS25김정문화점,정상영업,20151104,NaN,20151104171435.0,2018-08-31 23:59:59.0,NaN,153864.138478,-26948.2716837
67498,2014652004305600002,지에스25서귀대포,정상영업,20140224,NaN,20140312163724.0,2018-08-31 23:59:59.0,NaN,147382.936723,-28385.0564983
67500,2014652004405600003,GS대평중앙점,정상영업,20140422,NaN,20160511164217.0,2018-08-31 23:59:59.0,NaN,141165.993404,-28773.7683912
67505,2017652004105600006,GS25 신서귀LH점,정상영업,20171011,NaN,20171115140946.0,2018-08-31 23:59:59.0,NaN,155313.0,-27245
67506,2013652003605600001,GS25서귀엘지,정상영업,20130507,NaN,20130509085811.0,2018-08-31 23:59:59.0,NaN,159063.849296,-27388.1800019
67512,2017652004105600001,지에스25서귀법환,정상영업,20170214,NaN,20170310161234.0,2018-08-31 23:59:59.0,NaN,154338.168592,-28706.7020749
67516,2016652003305600004,GS25 서귀솔동산점,정상영업,20160921,NaN,20160921155035.0,2018-08-31 23:59:59.0,NaN,159267.478157,-28002.7902876
67522,2015652003905600005,GS25 서귀동홍반석점,정상영업,20151216,NaN,20151216184319.0,2018-08-31 23:59:59.0,NaN,159657.73812999998,-25805.1214432
67524,2015652004005600004,GS25서귀홍중점,정상영업,20150918,NaN,20180411174421.0,2018-08-31 23:59:59.0,NaN,158611.28795899998,-26394.0896971
67525,2015652004005600005,지에스25서귀서홍점,정상영업,20151005,NaN,20151005171859.0,2018-08-31 23:59:59.0,NaN,158541.58379200002,-26152.37543
67527,2015652004105600002,GS25 서귀신시가지,정상영업,20150225,NaN,20181017104901.0,2018-10-19 02:37:46.0,NaN,154292.0,-26980
67536,2018652003105600008,GS25 산방산온천점,정상영업,20180607,NaN,20180605141705.0,2018-08-31 23:59:59.0,NaN,134522.032428,-27222.355881
67538,2018652003105600010,GS25 서귀덕수점,정상영업,20180702,NaN,20180702110026.0,2018-08-31 23:59:59.0,NaN,135045.56545,-26852.2421266
67539,2018652003205600003,GS25제주성읍점,정상영업,20180418,NaN,20180426121152.0,2018-08-31 23:59:59.0,NaN,181428.683398,-11330.1528322
67542,2017652003105600009,GS25편의점 화순육거리점,정상영업,20170627,NaN,20170627113301.0,2018-08-31 23:59:59.0,NaN,137591.513038,-27507.6260372
67543,2017652003105600011,GS25화순만복점,정상영업,20170724,NaN,20170724100112.0,2018-08-31 23:59:59.0,NaN,137196.419048,-27861.5982976
67545,2018652004305600001,GS25 제주약천사점,정상영업,20180514,NaN,20180514181154.0,2018-08-31 23:59:59.0,NaN,148760.743713,-27844.1645861
67546,2018652004305600003,GS25 대포중앙점,정상영업,20180604,NaN,20180621162915.0,2018-08-31 23:59:59.0,NaN,147207.621056,-27083.8816331
67551,2016652003105600009,지에스25서귀서광로점,정상영업,20161130,NaN,20161130135731.0,2018-08-31 23:59:59.0,NaN,134820.953179,-22596.3712042
67552,2013652004105600003,GS25서귀호근점,정상영업,20130409,NaN,20130904135525.0,2018-08-31 23:59:59.0,NaN,155620.786151,-26423.1759705
67554,2018652003105600004,GS25 제주산방산점,정상영업,20180321,NaN,20180320094846.0,2018-08-31 23:59:59.0,NaN,135430.10655599998,-28793.4908586
67555,2017652003105600004,GS25사계포구점,정상영업,20170313,NaN,20170622115012.0,2018-08-31 23:59:59.0,NaN,135376.769924,-29523.7324777
67568,2016652002805600007,GS25 모슬포항점,정상영업,20160616,NaN,20160617084518.0,2018-08-31 23:59:59.0,NaN,130187.933168,-30821.8280282
67575,2016652002805600016,지에스25마라도포구점,정상영업,20161202,NaN,20161202154020.0,2018-08-31 23:59:59.0,NaN,131538.450456,-41513.9053236
67579,2014652004205600003,GS25신서귀포점,정상영업,20141016,NaN,20141016183550.0,2018-08-31 23:59:59.0,NaN,154003.939397,-26714.8993806
67581,2017652003105600015,GS25제주신화월드점,정상영업,20171108,NaN,20171108170325.0,2018-08-31 23:59:59.0,NaN,136356.94232200002,-20780.8074936
67583,2017652003905600003,지에스25 동홍그린점,정상영업,20170321,NaN,20170406102118.0,2018-08-31 23:59:59.0,NaN,160431.408546,-26408.4396603
67584,2017652003905600004,지에스25 동홍중앙점,정상영업,20170517,NaN,20170517141701.0,2018-08-31 23:59:59.0,NaN,160017.501079,-27170.1870411999
67589,2013652003105600007,GS25안덕대평점,정상영업,20130719,NaN,20130719171202.0,2018-08-31 23:59:59.0,NaN,140940.290889,-28863.2545605
67600,2016652003605600004,GS25서귀중정점,정상영업,20161104,NaN,20180905162357.0,2018-08-31 23:59:59.0,NaN,158770.925971,-27501.9725236

# 영업중인 씨유: 12301개

In [7]:
idx_tobacco_cu0 = cvs_tobacco['사업장명'].str.contains('씨유')
idx_tobacco_cu1 = cvs_tobacco['사업장명'].str.contains('CU')
# idx_tobacco_cu2 = cvs_tobacco['사업장명'].str.contains('훼미리마트')  # 검색결과: 0
# idx_tobacco_cu3 = cvs_tobacco['사업장명'].str.contains('패밀리마트')  # 검색결과: 0
idx_tobacco_active = cvs_tobacco['상세영업상태명'].str.contains('정상영업')

cvs_tobacco.loc[(idx_tobacco_cu0 | idx_tobacco_cu1) & (idx_tobacco_active), cols]

,관리번호,사업장명,상세영업상태명,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
14,2008300012905600022,씨유 종로5가역점,정상영업,20080320,NaN,20120727105320.0,2018-08-31 23:59:59.0,NaN,199936.591919229,452096.36720458604
17,2010300012905600034,씨유 종로성대점,정상영업,20100503,NaN,20120730111835.0,2018-08-31 23:59:59.0,NaN,199667.34921991,453570.52997439104
19,2002300007605600033,씨유 종로제일점,정상영업,20020325,NaN,20170321100321.0,2018-08-31 23:59:59.0,NaN,198979.900757892,452173.28417043
21,2012300012905600086,씨유 성균관대 인문관점,정상영업,20121004,NaN,20121005090436.0,2018-08-31 23:59:59.0,NaN,199231.345644103,454019.36089002
30,2002300007605600051,씨유 마로니에점,정상영업,20020604,NaN,20120730112725.0,2018-08-31 23:59:59.0,NaN,200099.913137334,452901.85254681896
32,2009300012905600079,씨유 종로구청점,정상영업,20091009,NaN,20120723125130.0,2018-08-31 23:59:59.0,NaN,198205.621520751,452254.21760316705
33,2009300012905600080,씨유 종로신영점,정상영업,20091019,NaN,20120720113731.0,2018-08-31 23:59:59.0,NaN,196557.46211867602,455479.388346619
34,2006300010105600004,씨유 종로3가점,정상영업,20060718,NaN,20120718125451.0,2018-08-31 23:59:59.0,NaN,198984.839771292,452270.384433732
42,2018300016905600054,씨유 종로동숭점,정상영업,20180914,NaN,20180917092231.0,2018-09-17 23:59:59.0,NaN,200163.533936465,453385.896458574
44,2018300016905600058,씨유 동대문종합시장점,정상영업,20180927,NaN,20180928090131.0,2018-09-28 23:59:59.0,NaN,200542.25824337898,452057.12685958296
46,2018300016905600065,씨유 종로크라운호텔점,정상영업,20181031,NaN,20181031171921.0,2018-11-02 02:37:44.0,NaN,198886.944446027,452419.42955676
48,2018300016905600063,씨유SK서린사옥점,정상영업,20181023,NaN,20181023131213.0,2018-10-25 02:37:49.0,NaN,198195.96539258302,451925.63111828
51,2012300012905600094,씨유 삼청골목길점,정상영업,20121026,NaN,20121026132023.0,2018-08-31 23:59:59.0,NaN,198296.52344280898,453184.37238866795
53,2012300012905600093,씨유종로1가점,정상영업,20121017,NaN,20121018085115.0,2018-08-31 23:59:59.0,NaN,198150.30037412103,452019.21264293103
55,2018300016905600045,CU성균관대경영관점,정상영업,20180808,NaN,20180810140033.0,2018-08-31 23:59:59.0,NaN,199231.345644103,454019.36089002
61,2011300012905600001,씨유 종로부암점,정상영업,20110107,NaN,20120726094602.0,2018-08-31 23:59:59.0,NaN,196668.877563099,455055.264019484
66,2012300012905600039,씨유 종로삼청동점,정상영업,20120509,NaN,20120719104349.0,2018-08-31 23:59:59.0,NaN,198304.49309374,453792.22090783896
67,2012300012905600020,씨유 M종로3가역 (주)대명점,정상영업,20120313,NaN,20120719170540.0,2018-08-31 23:59:59.0,NaN,199247.14893983802,452131.74440025
69,1998300007605600104,(주)세나코퍼레이션 씨유 내자중앙점,정상영업,19980810,NaN,20120719173029.0,2018-08-31 23:59:59.0,NaN,197470.779212828,452667.381135571
71,2011300012905600009,씨유 동대문로터리점,정상영업,20110201,NaN,20120730111234.0,2018-08-31 23:59:59.0,NaN,200820.41120447603,452168.573383761
77,2012300012905600054,씨유 종로피아노길점,정상영업,20120628,NaN,20120719101310.0,2018-08-31 23:59:59.0,NaN,198683.848370092,451822.99676257797
78,2011300012905600068,씨유 성대원룸촌점,정상영업,20110919,NaN,20120730110858.0,2018-08-31 23:59:59.0,NaN,199665.95607064103,453731.083871475
84,2012300012905600075,씨유 종각쇼핑센터점,정상영업,20120828,NaN,20120828163721.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
86,2012300012905600067,씨유 종로파고다점,정상영업,20120808,NaN,20120809134338.0,2018-08-31 23:59:59.0,NaN,198875.869671265,451796.74370069103
94,2010300012905600099,씨유 종로원서점,정상영업,20101130,NaN,20120719172920.0,2018-08-31 23:59:59.0,NaN,198988.45959737603,453392.779978221
95,2010300012905600100,씨유 종로재동점,정상영업,20101206,NaN,20120719124517.0,2018-08-31 23:59:59.0,NaN,198644.127013967,452931.10342471796
98,2011300012905600094,씨유 동숭뮤지컬점,정상영업,20111227,NaN,20120730125236.0,2018-08-31 23:59:59.0,NaN,200310.954763273,453311.605568337
101,2002300007605600010,씨유 종로신교점,정상영업,20020117,NaN,20120719172624.0,2018-08-31 23:59:59.0,NaN,197248.98886396,453488.39754304296
102,2013300016905600001,씨유 종로가회점,정상영업,20130703,NaN,20130704091040.0,2018-08-31 23:59:59.0,NaN,198626.68414188,453242.258661963
107,2016300016905600020,씨유 종로옥인점,정상영업,20160307,NaN,20160316091150.0,2018-08-31 23:59:59.0,NaN,197151.855973496,453243.785159162
...,...,...,...,...,...,...,...,...,...,...
67549,2017652003105600003,씨유서귀서광신화점,정상영업,20170303,NaN,20170303112017.0,2018-08-31 23:59:59.0,NaN,134804.64858900002,-22546.3296258
67550,2010652002905600003,씨유 남제주점,정상영업,20100517,NaN,20120725093320.0,2018-08-31 23:59:59.0,NaN,173675.074874,-24065.5121239
67553,2018652003105600002,씨유 서귀 평화로점,정상영업,20180130,NaN,20180130133508.0,2018-08-31 23:59:59.0,NaN,139693.347939,-23327.5266522
67556,2017652003105600006,씨유 서귀사계중앙로점,정상영업,20170324,NaN,20170419175744.0,2018-08-31 23:59:59.0,NaN,134489.385718,-29182.5499997
67558,2017652003005600023,씨유 제주섭지코지점,정상영업,20171128,NaN,20171222170828.0,2018-08-31 23:59:59.0,NaN,192639.367722,-6654.47305378
67559,2017652003005600024,씨유 성산골든튤립점,정상영업,20171201,NaN,20171201162429.0,2018-08-31 23:59:59.0,NaN,192126.517279,-5373.60989792
67561,2018652003105600001,씨유 서귀덕수점,정상영업,20180131,NaN,20180130133143.0,2018-08-31 23:59:59.0,NaN,135033.038699,-26989.3209264
67563,2016652003005600018,씨유제주성산일출점,정상영업,20161116,NaN,20161116141835.0,2018-08-31 23:59:59.0,NaN,193877.01088,-3367.84117273
67564,2016652003005600020,씨유성산고성점,정상영업,20161222,NaN,20161222140424.0,2018-08-31 23:59:59.0,NaN,191442.467165,-5536.0102504
67565,2016652003105600007,씨유서귀동광로점,정상영업,20161010,NaN,20161026133740.0,2018-08-31 23:59:59.0,NaN,139002.0,-19584
67567,2016652002805600006,씨유 서귀일과수로점,정상영업,20160610,NaN,20160610181428.0,2018-08-31 23:59:59.0,NaN,128513.013202,-28303.6600383
67570,2016652002805600009,CU제주삼정G에듀점,정상영업,20160809,NaN,20160811102721.0,2018-08-31 23:59:59.0,NaN,132468.665266,-23191.9697583
67571,2016652002805600011,씨유 제주이노에듀타운점,정상영업,20160902,NaN,20160927100930.0,2018-08-31 23:59:59.0,NaN,132585.43639000002,-23752.5374265
67572,2016652002805600012,씨유 서귀송악도서관점,정상영업,20160912,NaN,20160912152102.0,2018-08-31 23:59:59.0,NaN,129767.0,-29696
67573,2016652002805600013,씨유제주송악산점,정상영업,20160913,NaN,20160913135533.0,2018-08-31 23:59:59.0,NaN,133827.730801,-31792.5380585
67574,2016652002805600015,씨유 모슬포점,정상영업,20161111,NaN,20161111174018.0,2018-08-31 23:59:59.0,NaN,130639.957881,-29810.5327017
67577,2018652003005600009,씨유성산온평점,정상영업,20180702,NaN,20180702161103.0,2018-08-31 23:59:59.0,NaN,190406.125687,-9873.20523107
67578,2014652004105600007,씨유서귀법환점,정상영업,20141230,NaN,20141230115731.0,2018-08-31 23:59:59.0,NaN,154501.757285,-28626.6473208
67580,2017652003105600014,씨유 서귀감산리점,정상영업,20170822,NaN,20170822133730.0,2018-08-31 23:59:59.0,NaN,139845.92745,-26104.9032193
67582,2017652003105600017,씨유제주신화아띠점,정상영업,20171208,NaN,20171208110100.0,2018-08-31 23:59:59.0,NaN,135526.538759,-21664.9798126
67585,2017652003905600005,씨유 서귀포현대점,정상영업,20170717,NaN,20170717101248.0,2018-08-31 23:59:59.0,NaN,160290.474613,-26465.2039851
67586,2017652003905600006,씨유 서귀남고사거리점,정상영업,20170814,NaN,20170814152954.0,2018-08-31 23:59:59.0,NaN,159727.292143,-25450.1151662
67588,2014652003005600006,씨유봄그리고가을리조트점,정상영업,20140610,NaN,20160624130000.0,2018-08-31 23:59:59.0,NaN,191645.43531300002,-2470.43651019
67590,2013652004205600003,씨유제주풍림리조트점,정상영업,20131107,NaN,20131107104109.0,2018-08-31 23:59:59.0,NaN,152324.829585,-29032.2870427
67591,2012652004305600004,씨유제주중문점,정상영업,20120620,NaN,20120724114937.0,2018-08-31 23:59:59.0,NaN,146404.42052,-26981.3158301
67594,2016652003305600001,씨유 서귀포자구리점,정상영업,20160701,NaN,20160701103110.0,2018-08-31 23:59:59.0,NaN,159580.85963599998,-28060.9524148
67596,2017652003805600003,씨유서귀포보목길점,정상영업,20170825,NaN,20170828100557.0,2018-08-31 23:59:59.0,NaN,NaN,NaN
67597,2015652004005600008,씨유서귀홍중로점,정상영업,20151218,NaN,20151218103300.0,2018-08-31 23:59:59.0,NaN,158740.645497,-26671.3778983
67598,2015652004005600010,씨유서귀서홍로점,정상영업,20151224,NaN,20151224175803.0,2018-08-31 23:59:59.0,NaN,158644.20361300002,-25647.4817751
67599,2016652003605600003,씨유서귀외돌개점,정상영업,20160726,NaN,20160728094718.0,2018-08-31 23:59:59.0,NaN,158423.732149,-27921.9995709

# 영업중인 이마트24: 2570개

In [8]:
idx_tobacco_emart0 = cvs_tobacco['사업장명'].str.contains('이마트24')
idx_tobacco_emart1 = cvs_tobacco['사업장명'].str.contains('emart24')

idx_tobacco_active = cvs_tobacco['상세영업상태명'].str.contains('정상영업')

cvs_tobacco.loc[(idx_tobacco_emart0 | idx_tobacco_emart1) & (idx_tobacco_active), cols]

,관리번호,사업장명,상세영업상태명,지정일자,폐업일자,최종수정시점,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
2,2007300010105600043,이마트24 광화문시대점,정상영업,20070625,NaN,20180622133108.0,2018-08-31 23:59:59.0,NaN,197559.791065754,452388.315239125
47,2018300016905600064,이마트24 행촌독립문점,정상영업,20181029,NaN,20181029173631.0,2018-10-31 02:38:21.0,NaN,196550.626191895,452473.82908988796
75,2017300016905600049,이마트24정독천수점,정상영업,20170628,NaN,20181023174801.0,2018-10-25 02:37:49.0,NaN,198353.454278001,453041.478323415
105,2016300016905600015,이마트24 이화사거리점,정상영업,20160219,NaN,20171204133345.0,2018-08-31 23:59:59.0,NaN,200158.82002238,452691.97984761
134,2017300016905600072,이마트24 삼청동점,정상영업,20170925,NaN,20170925134551.0,2018-08-31 23:59:59.0,NaN,198286.187157832,453260.691369535
152,2018300016905600016,이마트24 광화문 포스탈점,정상영업,20180227,NaN,20180227133500.0,2018-08-31 23:59:59.0,NaN,197995.21879340897,451945.047247204
180,2017300016905600095,(주)이마트24 성대후문점,정상영업,20171129,NaN,20171129172313.0,2018-08-31 23:59:59.0,NaN,199428.158333717,454084.366462445
192,2018300016905600029,이마트24 종로창신점,정상영업,20180601,NaN,20180601182141.0,2018-08-31 23:59:59.0,NaN,201056.87717041897,452038.303804553
198,2018300016905600024,이마트24 종로낙원점,정상영업,20180420,NaN,20180516110409.0,2018-08-31 23:59:59.0,NaN,198966.78218634,452232.345396899
204,2018300016905600006,이마트24 종로3가점,정상영업,20180130,NaN,20180130180947.0,2018-08-31 23:59:59.0,NaN,199216.03021164399,452287.079932058
444,2018301015205600088,이마트24 서울시청역점,정상영업,20181115,NaN,20181120160429.0,2018-11-22 02:37:53.0,NaN,197638.403594278,451154.23238724296
463,2013301013005600032,이마트24 충무로앰버서더호텔점,정상영업,20130703,NaN,20180905162328.0,2018-09-05 23:59:59.0,NaN,198991.78411317602,451028.699087442
472,2018301015205600089,이마트24 AR서울역1호점,정상영업,20181127,NaN,20181127155824.0,2018-11-29 02:20:02.0,NaN,197243.21534636602,450655.10423993104
488,2018301015205600081,(주)이마트24 R충무로스타점,정상영업,20181030,NaN,20181031090601.0,2018-11-02 02:37:44.0,NaN,199243.59508439302,450951.535436388
503,2010301010005600061,이마트24 신당점,정상영업,20100615,NaN,20171120153144.0,2018-08-31 23:59:59.0,NaN,201991.076017364,451542.677230348
528,2008301010005600099,이마트24 동대문승리점,정상영업,20080828,NaN,20180905170524.0,2018-09-05 23:59:59.0,NaN,201169.94045780698,451631.036954361
552,2014301013005600107,이마트24 한국은행점,정상영업,20141119,NaN,20171229151652.0,2018-08-31 23:59:59.0,NaN,198063.00898772897,451052.004950709
582,2017301013005600096,주식회사 이마트24 명동,정상영업,20170925,NaN,20170925180025.0,2018-08-31 23:59:59.0,NaN,198622.01232901102,451198.403473388
589,2017301013005600107,이마트24 을지로3가점,정상영업,20171030,NaN,20171031083855.0,2018-08-31 23:59:59.0,NaN,199242.60894032102,451435.750592935
592,2017301013005600009,이마트24 신당솔하임,정상영업,20170124,NaN,20171101132503.0,2018-08-31 23:59:59.0,NaN,201804.78122966102,451455.234471512
618,2018301015205600011,주식회사 이마트24명동 아르누보지점,정상영업,20180209,NaN,20180209184417.0,2018-08-31 23:59:59.0,NaN,198505.140766586,451381.11310565897
624,2017301013005600123,이마트24 회현이프라자점,정상영업,20171208,NaN,20171208175019.0,2018-08-31 23:59:59.0,NaN,197747.778200542,450625.764220466
653,2018301015205600009,이마트24 약수장충점,정상영업,20180206,NaN,20180207093705.0,2018-08-31 23:59:59.0,NaN,200655.13626529698,450044.262091471
654,2018301015205600010,이마트24 메사빌딩점,정상영업,20180206,NaN,20180207155912.0,2018-08-31 23:59:59.0,NaN,198129.435542814,450900.239718295
658,2017301013005600075,(주)이마트24 퇴계로점,정상영업,20170726,NaN,20170821090723.0,2018-08-31 23:59:59.0,NaN,199868.297343497,451151.00749269896
682,2018301015205600014,이마트24 서소문 순화점,정상영업,20180228,NaN,20180228174112.0,2018-08-31 23:59:59.0,NaN,197346.664858178,451164.44975357
688,2017301013005600024,주식회사 이마트24 AR 서울역2호점,정상영업,20170306,NaN,20170831172005.0,2018-08-31 23:59:59.0,NaN,197301.94605383603,450655.10423993104
692,2018301015205600035,주식회사 이마트24명동 명동1번가지점,정상영업,20180430,NaN,20180430131707.0,2018-08-31 23:59:59.0,NaN,198512.158018371,451049.033739299
694,2018301015205600039,이마트24 신당다산로점,정상영업,20180521,NaN,20180521154051.0,2018-08-31 23:59:59.0,NaN,201359.911312645,451238.24718675204
946,2018302015005600060,이마트24 남산힐튼점,정상영업,20181127,NaN,20181127161648.0,2018-11-29 02:20:02.0,NaN,197884.69431679198,450278.75800727203
...,...,...,...,...,...,...,...,...,...,...
65160,2018572000505600010,이마트24 청주용암광장점,정상영업,20180313,NaN,20180313160839.0,2018-08-31 23:59:59.0,NaN,244935.22345,345435.126093
65176,2018573000505600039,이마트24 청주가로수점,정상영업,20180510,NaN,20180510115421.0,2018-08-31 23:59:59.0,NaN,234576.970096,346660.050245
65185,2017573500505600017,이마트24 청원내수점,정상영업,20170328,NaN,20171023103451.0,2018-08-31 23:59:59.0,NaN,247948.553753,358880.62722600000
65200,2017572500505600013,이마트24 청주사직대로점,정상영업,20170308,NaN,20171218202606.0,2018-08-31 23:59:59.0,NaN,240845.40977399997,348300.53246
65205,2017573500505600070,(주)이마트24청주율량점,정상영업,20171027,NaN,20171027150820.0,2018-08-31 23:59:59.0,NaN,244499.23546799997,351709.258639
65222,2017573000505600078,이마트24 청주가경중앙점,정상영업,20170823,NaN,20170823143706.0,2018-08-31 23:59:59.0,NaN,238943.82750500002,347076.100764
65226,2018573500505600038,이마트24 오창프라자점,정상영업,20180524,NaN,20180607162327.0,2018-08-31 23:59:59.0,NaN,238154.305681,357086.239415
65236,2011441013305600104,이마트24 오창이안점,정상영업,20111205,NaN,20170919172735.0,2018-08-31 23:59:59.0,NaN,237436.587518,356176.589388
65252,2016573000505600119,이마트24 청주강서모닝점,정상영업,20161201,NaN,20171030140553.0,2018-08-31 23:59:59.0,NaN,238221.49988000002,347342.901338
65260,2017573500505600054,이마트24 청주예대점,정상영업,20170825,NaN,20171017103107.0,2018-08-31 23:59:59.0,NaN,244568.732556,350868.283168
65263,2017573000505600122,이마트24 청주SK테크노점,정상영업,20171218,NaN,20171218103740.0,2018-08-31 23:59:59.0,NaN,238496.88346500002,350865.038219
65294,2018573500505600044,이마트24 오창양청원룸점,정상영업,20180620,NaN,20180625171157.0,2018-08-31 23:59:59.0,NaN,238788.421884,358099.416592
65297,2018573000505600011,이마트24 석곡사거리점,정상영업,20180208,NaN,20180208110210.0,2018-08-31 23:59:59.0,NaN,237773.200584,345502.096365
65303,2018573500505600011,이마트24청주대점,정상영업,20180201,NaN,20180201174310.0,2018-08-31 23:59:59.0,NaN,244127.797948,350334.195108
65305,2018573500505600014,이마트24 청주율량중앙점,정상영업,20180221,NaN,20180227175436.0,2018-08-31 23:59:59.0,NaN,245211.860689,351084.433855
65310,2017573000505600084,이마트24봉명사거리점,정상영업,20170908,NaN,20181030172028.0,2018-11-01 02:38:01.0,NaN,241014.707039,348751.91457
65311,2017573000505600088,이마트24 청주봉명공원점,정상영업,20170912,NaN,20171018173225.0,2018-08-31 23:59:59.0,NaN,241472.660009,349115.198958
65323,2001438000405600007,이마트24사창대로점,정상영업,20010329,NaN,20171220163113.0,2018-08-31 23:59:59.0,NaN,241051.705626,348515.258944
65328,2017573000505600091,이마트24 청주비하점,정상영업,20170921,NaN,20171108144844.0,2018-08-31 23:59:59.0,NaN,237895.74189200002,348118.312649
65334,2018573500505600034,이마트24 청주내덕점,정상영업,20180503,NaN,20180503113515.0,2018-08-31 23:59:59.0,NaN,243094.79475700003,350704.397887
65337,2017573000505600112,이마트24 봉명타운점,정상영업,20171124,NaN,20171124102838.0,2018-08-31 23:59:59.0,NaN,241294.291546,350160.664188
65342,2001437000405600124,이마트24 청주충청대로점,정상영업,20011117,NaN,20180904173425.0,2018-09-04 23:59:59.0,NaN,244413.545816,352996.931132
65418,2017573500505600072,이마트24충북오창점,정상영업,20171113,NaN,20171113173815.0,2018-08-31 23:59:59.0,NaN,237106.922017,356495.393482
65452,2018573500505600024,이마트24 청주청원구청점,정상영업,20180327,NaN,20180329145658.0,2018-08-31 23:59:59.0,NaN,243418.22151399998,350216.144477
65459,2017573000505600102,이마트24 청주비하원룸점,정상영업,20171031,NaN,20171201104724.0,2018-08-31 23:59:59.0,NaN,237731.737984,348931.676468
65462,2016573000505600048,이마트24 세중테크노점,정상영업,20160525,NaN,20171103133319.0,2018-08-31 23:59:59.0,NaN,239010.623462,349120.175076
65485,2016573500505600086,이마트24 청주아이웰점,정상영업,20161122,NaN,20171114102530.0,2018-08-31 23:59:59.0,NaN,244334.51486599998,352270.689437
65490,2016573500505600014,이마트24 청주라마다점,정상영업,20160204,NaN,20180918204830.0,2018-09-18 23:59:59.0,NaN,244068.66739499997,351687.001679
65516,2018573000505600089,이마트24 청주테크노센터점,정상영업,20180904,NaN,20180904142106.0,2018-09-04 23:59:59.0,NaN,NaN,NaN
65520,2018573000505600083,이마트24 청주복대현대점,정상영업,20180814,NaN,20180814094757.0,2018-08-31 23:59:59.0,NaN,240115.148596,348131.179701

# 구분선------------