# Import

In [1]:
import os
import re
import sys
from collections import defaultdict

import pandas as pd

# Declare Path

In [2]:
root_dir = '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/'
dirs = [x for x in os.listdir(root_dir) if x != '.DS_Store']
files = {}

# for d in dirs:
d = 'c2_perstudent'
dir_path = os.path.join(root_dir, d)
files[d] = [os.path.join(root_dir, d, x) for x in os.listdir(dir_path) if x != '.DS_Store' and x.endswith('.tsv')]

files

{'c2_perstudent': ['/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2017_private.tsv',
  '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2017_national.tsv',
  '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2016_national.tsv',
  '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2018_private.tsv',
  '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2018_national.tsv',
  '/Users/jake/OneDrive - leverage innovative users/Documents/News_Item/University/c2_perstudent/2016_private.tsv']}

# Load Files

In [3]:
pd.set_option('display.max_row', 50)
df = defaultdict(dict)
for dir_name, file_list in files.items():
    key = dir_name.split('_')[-1]
    for file in file_list:
        file_name = re.search(r'(.+?)\.tsv', file.split('/')[-1]).group(1)
        df[file_name] = pd.read_csv(file, sep='\t')

df

defaultdict(dict,
            {'2017_private':      기준년도       학교종류 설립구분  지역  상태              학교      교비회계(A)  산학협력단 회계(B)  \
             0    2016        대학교   사립  경남  기존   가야대학교(김해) _본교   26,156,376      912,662
             1    2016        대학교   사립  경기  기존       가천대학교 _본교  214,633,551   39,297,838
             2    2016        대학교   사립  강원  기존    가톨릭관동대학교 _본교   94,315,946   10,710,231
             3    2016        대학교   사립  경기  기존      가톨릭대학교 _본교  171,998,257   67,564,267
             4    2016        대학교   사립  서울  기존    감리교신학대학교 _본교   13,084,081      199,079
             5    2016        대학교   사립  경기  기존       강남대학교 _본교   80,726,425    4,289,867
             6    2016        대학교   사립  서울  기존       건국대학교 _본교  354,162,618   93,840,777
             7    2016        대학교   사립  충남  기존       건양대학교 _본교   99,878,462   16,037,723
             8    2016  사이버대학(대학)   사립  대전  기존    건양사이버대학교 _본교    9,275,749            0
             9    2016        대학교   사립  경기  기존       경기대학교 _본교  162,619,507   14,775,090
             10   2016        대학교   사립  경남  기존       경남대학교 _본교  115,687,804   12,996,605
             11   2016        대학교   사립  강원  기존       경동대학교 _본교   53,942,617    4,310,300
             12   2016        대학교   사립  부산  기존       경성대학교 _본교  114,591,877   10,184,510
             13   2016        대학교   사립  경북  기존       경운대학교 _본교   52,379,738    6,177,318
             14   2016        대학교   사립  경북  기존       경일대학교 _본교   67,386,958   12,396,300
             15   2016        대학교   사립  경북  기존       경주대학교 _본교   18,884,465      492,987
             16   2016        대학교   사립  서울  기존       경희대학교 _본교  416,818,034  112,354,770
             17   2016  사이버대학(대학)   사립  서울  기존    경희사이버대학교 _본교   29,237,701            0
             18   2016        대학교   사립  대구  기존       계명대학교 _본교  259,633,729   32,963,336
             19   2016        대학교   사립  서울  기존       고려대학교 _본교  579,714,269  237,602,321
             20   2016  사이버대학(대학)   사립  서울  기존    고려사이버대학교 _본교   19,948,983            0
             21   2016        대학교   사립  부산  기존       고신대학교 _본교   48,131,328    3,556,122
             22   2016        대학교   사립  광주  기존       광신대학교 _본교    7,741,737            0
             23   2016        대학교   사립  서울  기존       광운대학교 _본교  105,148,133   22,221,585
             24   2016        대학교   사립  전남  기존    광주가톨릭대학교 _본교    2,746,657            0
             ..    ...        ...  ...  ..  ..             ...          ...          ...
             148  2016        대학교   사립  경기  기존   한국산업기술대학교 _본교   81,964,874   23,664,702
             149  2016        대학교   사립  서울  기존     한국성서대학교 _본교   13,982,433      175,396
             150  2016  사이버대학(대학)   사립  서울  기존  한국열린사이버대학교 _본교   18,043,668       71,892
             151  2016        대학교   사립  서울  기존    한국외국어대학교 _본교  210,908,617   19,850,235
             152  2016        대학교   사립  경기  기존     한국항공대학교 _본교   60,386,730   30,770,535
             153  2016        대학교   사립  대전  기존       한남대학교 _본교  133,562,508   15,404,276
             154  2016        대학교   사립  경북  기존       한동대학교 _본교   55,292,498    6,778,796
             155  2016        대학교   사립  강원  기존       한라대학교 _본교   37,135,515    2,909,063
             156  2016        대학교   사립  전남  기존       한려대학교 _본교    7,425,547      107,113
             157  2016        대학교   사립  강원  기존       한림대학교 _본교  151,025,760   32,594,300
             158  2016        대학교   사립  충남  기존       한서대학교 _본교   88,148,309    9,464,325
             159  2016        대학교   사립  서울  기존       한성대학교 _본교   82,626,629    5,464,174
             160  2016        대학교   사립  경기  기존       한세대학교 _본교   36,568,504    1,098,610
             161  2016        대학교   사립  경기  기존       한신대학교 _본교   52,510,481    4,246,050
             162  2016        대학교   사립  서울  기존       한양대학교 _본교  421,958,595  220,690,779
             163  2016  사이버대학(대학)   사립  서울  기존    한양사이버대학교 _본교   39,154,586            0
             164  2016        대학교   사립  전북  기존     한일장신대학교 _본교   12,370,200      180,081
             165  2016        대학교   사립  강원  기존       한중대학교 _본교   11,051,625    1,037,091
             166  2016        대학교   사립  경기  기존       협성대학교 _본교   48,120,662    2,385,937
             167  2016        대학교   사립  광주  기존       호남대학교 _본교   73,935,455    8,225,266
             168  2016        대학교   사립  광주  기존     호남신학대학교 _본교    8,825,407            0
             169  2016        대학교   사립  충남  기존       호서대학교 _본교  134,411,495   35,595,078
             170  2016       산업대학   사립  전북  기존       호원대학교 _본교   54,021,544    1,873,223
             171  2016        대학교   사립  서울  기존       홍익대학교 _본교  223,065,148   19,485,333
             172  2016  사이버대학(대학)   사립  부산  기존    화신사이버대학교 _본교    4,912,560            0

                   도서구입비(C)  기계기구매입비(D) 총교육비 (E=A+B+C+D) 재학생수(F) 학생1인당 교육비(G=E/F)
             0      154,314     711,147       27,934,499   2,718         10,277.6
             1    1,824,729   5,469,014      261,225,132  20,737         12,597.1
             2      825,830   4,113,615      109,965,622   9,332         11,783.7
             3    4,079,645   3,399,209      247,041,378  10,881         22,703.9
             4      168,106      50,000       13,501,266   1,576          8,566.8
             5      778,235     957,723       86,752,250   7,325         11,843.3
             6    3,827,275  12,339,842      464,170,512  28,663         16,194.1
             7      552,135   3,797,126      120,265,446   8,593         13,995.7
             8            0     317,790        9,593,539   2,711          3,538.7
             9      896,951   2,425,091      180,716,639  16,377         11,034.8
             10     967,985   2,110,566      131,762,960  13,489          9,768.2
             11     402,287   1,329,236       59,984,440   7,203          8,327.7
             12   1,058,349   2,978,353      128,813,089  13,468          9,564.4
             13     276,388   2,259,596       61,093,040   5,066         12,059.4
             14     419,576   1,440,016       81,642,850   7,373         11,073.2
             15      81,047      48,809       19,507,308   2,326          8,386.6
             16   5,267,259   7,866,464      542,306,527  33,327         16,272.3
             17           0      38,737       29,276,438   8,443          3,467.5
             18   2,909,779   7,441,825      302,948,669  24,537         12,346.6
             19   7,767,043  16,649,694      841,733,327  37,308         22,561.7
             20      13,480      55,330       20,017,793   9,671          2,069.9
             21     733,426     600,192       53,021,068   5,064         10,470.2
             22      20,696           0        7,762,433     949          8,179.6
             23   1,768,070   6,522,111      135,659,899   9,807           13,833
             24      80,953           0        2,827,610     106         26,675.6
             ..         ...         ...              ...     ...              ...
             148    523,900   5,365,322      111,518,798   8,108         13,754.2
             149    109,271     180,448       14,447,548   1,222         11,822.9
             150      1,000   1,102,765       19,219,325   4,003          4,801.2
             151  2,534,012   5,911,724      239,204,588  19,131         12,503.5
             152    607,252   1,940,998       93,705,515   4,616         20,300.2
             153    373,381   1,782,021      151,122,186  13,290         11,371.1
             154    282,813   1,699,113       64,053,220   4,359         14,694.5
             155    195,540     553,116       40,793,234   4,120          9,901.3
             156          0       9,058        7,541,718     721         10,460.1
             157  1,199,896   1,601,100      186,421,056   9,001         20,711.1
             158    427,758   3,568,739      101,609,131   7,903           12,857
             159    887,865   1,849,505       90,828,173   7,454         12,185.2
             160    206,996     499,403       38,373,513   3,664         10,473.1
             161    327,973     489,759       57,574,263   5,761          9,993.8
             162  6,569,851  12,035,475      661,254,700  33,065         19,998.6
             163        122     447,606       39,602,314  14,812          2,673.7
             164     70,000     199,476       12,819,757   1,217         10,533.9
             165      6,200      72,237       12,167,153   1,145         10,626.3
             166    299,443     676,019       51,482,061   4,894         10,519.4
             167    424,577   3,234,902       85,820,200   8,000         10,727.5
             168     40,446       7,180        8,873,033     986            8,999
             169    941,615   8,197,704      179,145,892  13,785         12,995.7
             170    312,394   1,046,803       57,253,964   5,782          9,902.1
             171  2,701,466   5,808,435      251,060,382  21,953         11,436.3
             172     12,978     147,997        5,073,535   1,210            4,193

             [173 rows x 13 columns],
             '2017_national':     기준년도      학교종류   설립구분  지역  상태                 학교      산학협력단 회계 기준연도  \
             0   2016       대학교     국립  강원  기존        강릉원주대학교 _본교  2016년 3월~2017년 2월
             1   2016       대학교     국립  강원  기존        강릉원주대학교 _본교  2016년 1월~2016년 2월
             2   2016       대학교     국립  강원  기존          강원대학교 _본교  2016년 3월~2017년 2월
             3   2016       대학교     국립  강원  기존          강원대학교 _본교  2016년 1월~2016년 2월
             4   2016       대학교     국립  경남  기존      경남과학기술대학교 _본교  2016년 3월~2017년 2월
             5   2016       대학교     국립  경남  기존      경남과학기술대학교 _본교  2016년 1월~2016년 2월
             6   2016       대학교     국립  대구  기존          경북대학교 _본교  2016년 3월~2017년 2월
             7   2016       대학교     국립  대구  기존          경북대학교 _본교  2016년 1월~2016년 2월
             8   2016       대학교     국립  경남  기존          경상대학교 _본교  2016년 3월~2017년 2월
             9   2016       대학교     국립  경남  기존          경상대학교 _본교  2016년 1월~2016년 2월
             10  2016      교육대학     국립  인천  기존        경인교육대학교 _본교  2016년 3월~2017년 2월
             11  2016      교육대학     국립  인천  기존        경인교육대학교 _본교  2016년 1월~2016년 2월
             12  2016      교육대학     국립  충남  기존        공주교육대학교 _본교  2016년 3월~2017년 2월
             13  2016      교육대학     국립  충남  기존        공주교육대학교 _본교  2016년 1월~2016년 2월
             14  2016       대학교     국립  충남  기존          공주대학교 _본교  2016년 3월~2017년 2월
             15  2016       대학교     국립  충남  기존          공주대학교 _본교  2016년 1월~2016년 2월
             16  2016      교육대학     국립  광주  기존        광주교육대학교 _본교  2016년 3월~2017년 2월
             17  2016      교육대학     국립  광주  기존        광주교육대학교 _본교  2016년 1월~2016년 2월
             18  2016       대학교     국립  전북  기존          군산대학교 _본교  2016년 3월~2017년 2월
             19  2016       대학교     국립  전북  기존          군산대학교 _본교  2016년 1월~2016년 2월
             20  2016       대학교     국립  경북  기존        금오공과대학교 _본교  2016년 3월~2017년 2월
             21  2016       대학교     국립  경북  기존        금오공과대학교 _본교  2016년 1월~2016년 2월
             22  2016      교육대학     국립  대구  기존        대구교육대학교 _본교  2016년 3월~2017년 2월
             23  2016      교육대학     국립  대구  기존        대구교육대학교 _본교  2016년 1월~2016년 2월
             24  2016       대학교     국립  전남  기존          목포대학교 _본교  2016년 3월~2017년 2월
             ..   ...       ...    ...  ..  ..                ...                ...
             57  2016      교육대학     국립  충북  기존        청주교육대학교 _본교  2016년 1월~2016년 2월
             58  2016      교육대학     국립  강원  기존        춘천교육대학교 _본교  2016년 3월~2017년 2월
             59  2016      교육대학     국립  강원  기존        춘천교육대학교 _본교  2016년 1월~2016년 2월
             60  2016       대학교     국립  대전  기존          충남대학교 _본교  2016년 3월~2017년 2월
             61  2016       대학교     국립  대전  기존          충남대학교 _본교  2016년 1월~2016년 2월
             62  2016       대학교     국립  충북  기존          충북대학교 _본교  2016년 3월~2017년 2월
             63  2016       대학교     국립  충북  기존          충북대학교 _본교  2016년 1월~2016년 2월
             64  2016       대학교     국립  경기  기존          한경대학교 _본교  2016년 3월~2017년 2월
             65  2016       대학교     국립  경기  기존          한경대학교 _본교  2016년 1월~2016년 2월
             66  2016       대학교     국립  충북  기존        한국교원대학교 _본교  2016년 3월~2017년 2월
             67  2016       대학교     국립  충북  기존        한국교원대학교 _본교  2016년 1월~2016년 2월
             68  2016       대학교     국립  충북  기존        한국교통대학교 _본교  2016년 3월~2017년 2월
             69  2016       대학교     국립  충북  기존        한국교통대학교 _본교  2016년 1월~2016년 2월
             70  2016    방송통신대학     국립  서울  기존      한국방송통신대학교 _본교  2016년 3월~2017년 2월
             71  2016    방송통신대학     국립  서울  기존      한국방송통신대학교 _본교  2016년 1월~2016년 2월
             72  2016  각종학교(대학)  특별법국립  서울  기존       한국예술종합학교 _본교  2016년 3월~2017년 2월
             73  2016  각종학교(대학)  특별법국립  서울  기존       한국예술종합학교 _본교  2016년 1월~2016년 2월
             74  2016       대학교     국립  충남  기존  한국전통문화대학교(일반) _본교  2016년 3월~2017년 2월
             75  2016       대학교     국립  충남  기존  한국전통문화대학교(일반) _본교  2016년 1월~2016년 2월
             76  2016       대학교     국립  서울  기존        한국체육대학교 _본교  2016년 3월~2017년 2월
             77  2016       대학교     국립  서울  기존        한국체육대학교 _본교  2016년 1월~2016년 2월
             78  2016       대학교     국립  부산  기존        한국해양대학교 _본교  2016년 3월~2017년 2월
             79  2016       대학교     국립  부산  기존        한국해양대학교 _본교  2016년 1월~2016년 2월
             80  2016       대학교     국립  대전  기존          한밭대학교 _본교  2016년 3월~2017년 2월
             81  2016       대학교     국립  대전  기존          한밭대학교 _본교  2016년 1월~2016년 2월

                    대학회계 (A) 발전기금회계 (B)  산학협력단회계 (C)  도서구입비 (D) 기계기구매입비 (E)  \
             0    93,179,082    470,512   24,283,689    214,995   6,042,367
             1             0          0    4,601,856          0     111,792
             2   239,515,396  6,872,275   75,197,120    916,424   9,449,137
             3             0          0   16,769,671          0           0
             4    41,579,025    134,275   10,318,657    419,859   2,735,706
             5             0          0    1,577,855          0           0
             6   262,865,733  3,565,543  165,794,572  4,516,049  25,387,771
             7             0          0   31,552,021          0   2,864,887
             8   166,091,359  3,212,975   75,810,709  2,642,363   6,876,854
             9             0          0   13,856,586          0      79,952
             10   32,202,467    677,770    3,285,406    224,317     711,227
             11            0          0      483,634          0           0
             12   18,588,325    148,015      719,537    110,583     274,854
             13            0          0      328,558          0           0
             14  131,345,052  1,060,830   54,997,417  1,200,438   5,107,628
             15            0          0    8,765,898          0      29,125
             16   19,108,797    368,613    1,859,231     78,807     470,697
             17            0          0      495,359          0           0
             18   76,780,238    163,488   38,056,012    597,133   4,996,221
             19            0          0    7,696,408          0     446,515
             20   53,790,694    666,115   25,935,090    691,205   3,974,394
             21            0          0    5,819,567          0           0
             22   23,307,937     77,329    1,336,367    181,407     434,599
             23            0          0      266,929          0           0
             24   70,690,721    246,172   35,927,645    366,456   6,353,536
             ..          ...        ...          ...        ...         ...
             57            0          0      368,445          0           0
             58   15,349,807    113,256    1,390,531     94,744     277,988
             59            0          0      476,513          0           0
             60  224,438,697  3,655,146  135,527,951  2,554,249  13,650,396
             61            0          0   25,918,418          0     211,601
             62  186,673,778  2,574,475   85,247,724    291,140   7,195,881
             63            0          0   16,005,331          0     700,579
             64   40,385,862     99,952   17,457,532    307,923   2,201,068
             65            0          0    2,358,297          0           0
             66   56,996,956     72,907    8,667,629    713,943   1,167,584
             67            0          0    2,021,650          0      39,090
             68   97,395,933    910,832   21,997,298    835,422   3,711,761
             69            0          0    3,116,486          0           0
             70  121,616,022  2,065,484    3,160,398    905,194     754,797
             71            0          0      499,739          0           0
             72   59,232,046  1,387,252    4,869,655    620,518   1,289,090
             73            0          0      748,570          0           0
             74   23,953,855          0    3,326,806    340,323   2,719,240
             75            0          0      424,184          0           0
             76   37,112,006    327,795    2,648,933    191,395     907,579
             77            0          0      399,630          0      30,000
             78   84,946,605  2,181,143   32,910,402    641,775   4,924,140
             79            0          0    5,165,193          0      30,722
             80   70,006,769    438,979   31,613,016    825,692   5,135,889
             81            0          0    7,084,134          0     284,610

                총교육비 (F=A+B+C+D+E) 재학생수 (G) 학생1인당 교육비 (H=F/G)
             0         124,190,645    8,685          14,299.4
             1           4,713,648        0                 0
             2         331,950,352   23,947          13,861.9
             3          16,769,671        0                 0
             4          55,187,522    5,606           9,844.4
             5           1,577,855        0                 0
             6         462,129,668   30,296          15,253.8
             7          34,416,908        0                 0
             8         254,634,260   17,261            14,752
             9          13,936,538        0                 0
             10         37,101,187    4,246           8,737.9
             11            483,634        0                 0
             12         19,841,314    2,024             9,803
             13            328,558        0                 0
             14        193,711,365   16,672            11,619
             15          8,795,023        0                 0
             16         21,886,145    2,190           9,993.7
             17            495,359        0                 0
             18        120,593,092    8,296          14,536.3
             19          8,142,923        0                 0
             20         85,057,498    7,131          11,927.8
             21          5,819,567        0                 0
             22         25,337,639    2,718           9,322.2
             23            266,929        0                 0
             24        113,584,530    8,513          13,342.5
             ..                ...      ...               ...
             57            368,445        0                 0
             58         17,226,326    1,837           9,377.4
             59            476,513        0                 0
             60        379,826,439   24,200          15,695.3
             61         26,130,019        0                 0
             62        281,982,998   17,884          15,767.3
             63         16,705,910        0                 0
             64         60,452,337    6,405           9,438.3
             65          2,358,297        0                 0
             66         67,619,019    5,709          11,844.3
             67          2,060,740        0                 0
             68        124,851,246    9,302            13,422
             69          3,116,486        0                 0
             70        128,501,895  125,385           1,024.9
             71            499,739        0                 0

# Functions

In [4]:
def convert_str2int(d, idx_numeric):
    d.iloc[::,idx_numeric:] = d.iloc[::,idx_numeric:].applymap(lambda x: pd.to_numeric(x.replace(',', '') if type(x)!=int and type(x)!=float else x))

# Index and Columns

In [5]:
df['2018_private'].columns

Index(['기준년도', '학교종류', '설립구분', '지역', '상태', '학교', '교비회계(A)', '산학협력단 회계(B)',
       '도서구입비(C)', '기계기구매입비(D)', '총교육비 (E=A+B+C+D)', '재학생수(F)',
       '학생1인당 교육비(G=E/F)'],
      dtype='object')

In [6]:
df['2018_national'].columns

Index(['기준년도', '학교종류', '설립구분', '지역', '상태', '학교', '대학회계 (A)', '발전기금회계 (B)',
       '산학협력단회계 (C)', '도서구입비 (D)', '기계기구매입비 (E)', '총교육비 (F=A+B+C+D+E)',
       '재학생수 (G)', '학생1인당 교육비 (H=F/G)'],
      dtype='object')

In [7]:
# 13 univ
univ_names = ['서울', '연세', '고려', '서강', '성균관', '한양', '중앙', '경희', '한국외국어', '서울시립', '건국', '동국', '홍익']
univ = [u + '대학교 _본교' for u in univ_names]

idx_2016_private = df['2016_private']['학교'].isin(univ)
idx_2016_national = df['2016_national']['학교'].isin(univ)
idx_2017_private = df['2017_private']['학교'].isin(univ)
idx_2017_national = df['2017_national']['학교'].isin(univ)
idx_2018_private = df['2018_private']['학교'].isin(univ)
idx_2018_national = df['2018_national']['학교'].isin(univ)



cols = []

cols_numeric = [
    '총입학자수', '일반고 학생수'
]

# Pre-process

In [8]:
# df['2016_submission'][cols_sub] = df['2016_submission'][cols_sub].applymap(lambda x: pd.to_numeric(x.replace(',', '') if type(x)!=int else x))
convert_str2int(df['2016_private'], 6)
convert_str2int(df['2016_national'], 6)
convert_str2int(df['2017_private'], 6)
convert_str2int(df['2017_national'], 7)
convert_str2int(df['2018_private'], 6)
convert_str2int(df['2018_national'], 6)

# Transform

In [9]:
560385685 + 35575680

595961365

In [10]:
# 서울대: 43348
'''
서울대 
560,385,685 + 35,575,680 = 595961365

580,820,730

10,259,907
43,602,353
1,230,644,355
28,390

43,348
'''

df_13univ = df['2018_private'].loc[idx_2018_private].sort_values('학생1인당 교육비(G=E/F)', ascending=False); df_13univ
list_seoul = [2017, '대학교', '법인', '서울', '기존', '서울대학교 _본교', 595961365, 580820730, 10259907, 43602353, 1230644355, 28390, 43348]
df_seoul = pd.DataFrame(columns=df_13univ.columns, data=[list_seoul])
df_13univ = df_13univ.append(df_seoul)
df_13univ

,기준년도,학교종류,설립구분,지역,상태,학교,교비회계(A),산학협력단 회계(B),도서구입비(C),기계기구매입비(D),총교육비 (E=A+B+C+D),재학생수(F),학생1인당 교육비(G=E/F)
105,2017,대학교,사립,서울,기존,연세대학교 _본교,811068815,330069468,6572422,21646512,1169357217,38667,30241.7
85,2017,대학교,사립,서울,기존,성균관대학교 _본교,497172754,212464287,6244698,17521062,733402801,26117,28081.4
19,2017,대학교,사립,서울,기존,고려대학교 _본교,561841012,269519496,5460116,15905975,852726599,37303,22859.5
160,2017,대학교,사립,서울,기존,한양대학교 _본교,431839736,239744009,7078698,20148752,698811195,32673,21388.0
72,2017,대학교,사립,서울,기존,서강대학교 _본교,142330733,59302857,2344415,4455488,208433493,11160,18676.8
16,2017,대학교,사립,서울,기존,경희대학교 _본교,425533455,124091150,5249672,11081317,565955594,32843,17232.2
6,2017,대학교,사립,서울,기존,건국대학교 _본교,353025798,102828758,3775581,9114990,468745127,28084,16690.8
131,2017,대학교,사립,서울,기존,중앙대학교 _본교,326455129,95304953,3586339,8119886,433466307,28820,15040.5
49,2017,대학교,사립,서울,기존,동국대학교 _본교,289689618,71457911,2605290,7722605,371475424,25647,14484.2
149,2017,대학교,사립,서울,기존,한국외국어대학교 _본교,209459261,21352720,2488699,2638390,235939070,19512,12092.0
168,2017,대학교,사립,서울,기존,홍익대학교 _본교,225934780,26615826,2856606,4304837,259712049,21598,12024.8
0,2017,대학교,법인,서울,기존,서울대학교 _본교,595961365,580820730,10259907,43602353,1230644355,28390,43348.0

In [11]:
'''
대구경북과학기술원 99036
포항공대 89178
광주과학기술원 86857
한국과학기술원 66685
울산과학기술원 50856
(99036 + 89178 + 86857 + 66685 + 50856) / 5 = 7852만원
서울대학교 43348
인천대학교 15339

'''

cols_national = ['기준연도', '학교', '총교육비', '재학생수', '학생1인당 교육비']
data = [
    [2017, '광주과학기술원 _본교', 177361247, 2042, 86857],
    [2017, '대구경북과학기술원 _본교', 133995078, 1353, 99036],
    [2017, '서울대학교 _본교', 1230644355, 28390, 43348],
    [2017, '울산과학기술원 _본교', 228393859, 4491, 50856],
    [2017, '인천대학교 _본교', 207076080, 13500, 15339],
    [2017, '한국과학기술원 _본교', 701188038, 10515, 66685],
]
df_national = pd.DataFrame(columns=cols_national, data=data); df_national

   기준연도             학교        총교육비   재학생수  학생1인당 교육비
0  2017    광주과학기술원 _본교   177361247   2042      86857
1  2017  대구경북과학기술원 _본교   133995078   1353      99036
2  2017      서울대학교 _본교  1230644355  28390      43348
3  2017    울산과학기술원 _본교   228393859   4491      50856
4  2017      인천대학교 _본교   207076080  13500      15339
5  2017    한국과학기술원 _본교   701188038  10515      66685

# Export TSV

In [12]:
# name0 = 'c2-5_tuition_per_student.tsv'
# file0 = os.path.join(root_dir, name0)
# df_13univ.to_csv(file0, sep='\t', index=False)

In [13]:
# name1 = 'c2-13_tuition_fee_national.tsv'
# file1 = os.path.join(root_dir, name1)
# df_national.to_csv(file1, sep='\t', index=False)

# -------------------------------------------------------------------

In [14]:
df['2018_national'].loc[df['2018_national']['학교'].str.contains('한국')]

,기준년도,학교종류,설립구분,지역,상태,학교,대학회계 (A),발전기금회계 (B),산학협력단회계 (C),도서구입비 (D),기계기구매입비 (E),총교육비 (F=A+B+C+D+E),재학생수 (G),학생1인당 교육비 (H=F/G)
43,2017,대학교,특별법법인,대전,기존,한국과학기술원 _본교,0,0,0,0,0,0,0,0.0
44,2017,대학교,국립,충북,기존,한국교원대학교 _본교,61527912,69853,9917113,744496,850714,73110088,5678,12876.0
45,2017,대학교,국립,충북,기존,한국교통대학교 _본교,105260286,894538,25975751,887346,3799858,136817779,9003,15196.9
46,2017,산업대학,국립,충북,폐교,한국교통대학교(산업대) _본교,0,0,0,0,0,0,0,0.0
47,2017,방송통신대학,국립,서울,기존,한국방송통신대학교 _본교,110691131,1827702,3312995,221825,1877639,117931292,117765,1001.4
48,2017,각종학교(대학),특별법국립,서울,기존,한국예술종합학교 _본교,57270585,1321057,7804598,622555,1323796,68342591,2599,26295.7
49,2017,대학교,특별법국립,충남,기존,한국전통문화대학교 _본교,27139425,0,5547467,0,0,32686892,524,62379.6
50,2017,대학교,국립,서울,기존,한국체육대학교 _본교,34698473,178486,2421842,225976,660394,38185171,3128,12207.5
51,2017,대학교,국립,부산,기존,한국해양대학교 _본교,82023463,2028335,32441235,652313,3331093,120476439,7615,15820.9

In [15]:
df['2018_national'].sort_values('학생1인당 교육비 (H=F/G)', ascending=False)
# 서울대: 43348

,기준년도,학교종류,설립구분,지역,상태,학교,대학회계 (A),발전기금회계 (B),산학협력단회계 (C),도서구입비 (D),기계기구매입비 (E),총교육비 (F=A+B+C+D+E),재학생수 (G),학생1인당 교육비 (H=F/G)
49,2017,대학교,특별법국립,충남,기존,한국전통문화대학교 _본교,27139425,0,5547467,0,0,32686892,524,62379.6
48,2017,각종학교(대학),특별법국립,서울,기존,한국예술종합학교 _본교,57270585,1321057,7804598,622555,1323796,68342591,2599,26295.7
18,2017,대학교,국립,전남,기존,목포해양대학교 _본교,36685287,522708,9805302,25057,753100,47791454,2710,17635.2
21,2017,대학교,국립,부산,기존,부산대학교 _본교,311576371,4821408,176065773,6188826,5259412,503911790,28854,17464.2
31,2017,대학교,국립,전북,기존,전북대학교 _본교,233581311,2932856,133733863,2118436,7914396,380280862,22114,17196.4
29,2017,대학교,국립,광주,기존,전남대학교 _본교,256285590,3875347,128578096,2433025,11240201,402412259,24197,16630.7
39,2017,대학교,국립,대전,기존,충남대학교 _본교,225808291,2312247,143288880,3631725,10627397,385668540,23452,16445.0
5,2017,대학교,국립,대구,기존,경북대학교 _본교,270630059,3177912,176424540,3960499,13095876,467288886,29278,15960.4
40,2017,대학교,국립,충북,기존,충북대학교 _본교,183754313,1822818,85741661,2125426,5007331,278451549,17510,15902.4
51,2017,대학교,국립,부산,기존,한국해양대학교 _본교,82023463,2028335,32441235,652313,3331093,120476439,7615,15820.9
6,2017,대학교,국립,경남,기존,경상대학교 _본교,167380020,1336382,86989917,2310010,5068415,263084744,16713,15741.3
33,2017,대학교,국립,제주,기존,제주대학교 _본교,132916418,2559207,51008960,992855,4895401,192372841,12227,15733.4
45,2017,대학교,국립,충북,기존,한국교통대학교 _본교,105260286,894538,25975751,887346,3799858,136817779,9003,15196.9
13,2017,대학교,국립,전북,기존,군산대학교 _본교,77356619,113113,36152405,553202,4289024,118464363,8041,14732.5
0,2017,대학교,국립,강원,기존,강릉원주대학교 _본교,94918524,893389,26515037,174997,2637834,125139781,8506,14711.9
2,2017,대학교,국립,강원,기존,강원대학교 _본교,240415265,6708094,80247260,419132,7862940,335652691,22949,14626.0
22,2017,대학교,국립,서울,기존,서울과학기술대학교 _본교,122434795,1314337,49109046,399383,2076588,175334149,12085,14508.4
10,2017,대학교,국립,충남,기존,공주대학교 _본교,126825516,929831,54265285,1257229,3800716,187078577,13119,14260.1
26,2017,대학교,국립,전남,기존,순천대학교 _본교,75481789,278047,28509056,1111682,6930233,112310807,7935,14153.9
52,2017,대학교,국립,대전,기존,한밭대학교 _본교,86869118,1526909,28185599,808573,4438170,121828369,8927,13647.2
19,2017,대학교,국립,부산,기존,부경대학교 _본교,180936102,2063195,70888776,785643,6204363,260878079,19124,13641.4
25,2017,대학교,공립,서울,기존,서울시립대학교 _본교,114306305,517843,41143392,1354237,2678632,160000409,11741,13627.5
44,2017,대학교,국립,충북,기존,한국교원대학교 _본교,61527912,69853,9917113,744496,850714,73110088,5678,12876.0
17,2017,대학교,국립,전남,기존,목포대학교 _본교,72607448,493698,30134309,390000,2702082,106327537,8329,12765.9
36,2017,대학교,국립,경남,기존,창원대학교 _본교,86481086,484931,29164597,791943,3461907,120384464,9694,12418.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,2017,교육대학,국립,광주,기존,광주교육대학교 _본교,20843415,306766,2038159,89954,334307,23612601,2084,11330.4
37,2017,교육대학,국립,충북,기존,청주교육대학교 _본교,16821119,66127,1228727,87999,360991,18564963,1651,11244.7
4,2017,대학교,국립,경남,기존,경남과학기술대학교 _본교,45198577,121969,11950902,202744,2019857,59494049,5346,11128.7
32,2017,교육대학,국립,전북,기존,전주교육대학교 _본교,13490049,30356,644255,92287,119819,14376766,1401,10261.8
38,2017,교육대학,국립,강원,기존,춘천교육대학교 _본교,16501205,138337,1105843,88394,444601,18278380,1818,10054.1
24,2017,교육대학,국립,서울,기존,서울교육대학교 _본교,24921645,107239,3774238,281637,605616,29690375,2986,9943.2
41,2017,대학교,국립,경기,기존,한경대학교 _본교,41796682,87698,14907783,349893,1503228,58645284,5934,9882.9
16,2017,교육대학,국립,대구,기존,대구교육대학교 _본교,23249777,84704,1055339,118878,658960,25167658,2550,9869.7
20,2017,교육대학,국립,부산,기존,부산교육대학교 _본교,22409013,88505,1660605,239207,226589,24623919,2523,9759.8
7,2017,교육대학,국립,인천,기존,경인교육대학교 _본교,35460059,587192,3528155,356884,836360,40768650,4228,9642.5
9,2017,교육대학,국립,충남,기존,공주교육대학교 _본교,17309811,78804,809556,110649,585307,18894127,1999,9451.8
47,2017,방송통신대학,국립,서울,기존,한국방송통신대학교 _본교,110691131,1827702,3312995,221825,1877639,117931292,117765,1001.4
11,2017,대학교,특별법법인,광주,기존,광주과학기술원 _본교,0,0,0,0,0,0,0,0.0
3,2017,대학교,국립,강원,기존,강원대학교 _제2캠퍼스,0,0,0,0,0,0,0,0.0
8,2017,교육대학,국립,경기,기존,경인교육대학교 _제2캠퍼스,0,0,0,0,0,0,0,0.0
46,2017,산업대학,국립,충북,폐교,한국교통대학교(산업대) _본교,0,0,0,0,0,0,0,0.0
28,2017,대학교,국립대법인,인천,기존,인천대학교 _본교,0,0,0,0,0,0,0,0.0
43,2017,대학교,특별법법인,대전,기존,한국과학기술원 _본교,0,0,0,0,0,0,0,0.0
42,2017,산업대학,국립,경기,폐교,한경대학교(산업대) _본교,0,0,0,0,0,0,0,0.0
30,2017,대학교,국립,전남,기존,전남대학교 _제2캠퍼스,0,0,0,0,0,0,0,0.0
15,2017,대학교,특별법법인,대구,기존,대구경북과학기술원 _본교,0,0,0,0,0,0,0,0.0
35,2017,산업대학,국립,경남,폐교,진주산업대학교(산업대) _본교,0,0,0,0,0,0,0,0.0
23,2017,산업대학,국립,서울,폐교,서울과학기술대학교(산업대) _본교,0,0,0,0,0,0,0,0.0
1,2017,대학교,국립,강원,기존,강릉원주대학교 _제2캠퍼스,0,0,0,0,0,0,0,0.0
53,2017,산업대학,국립,대전,폐교,한밭대학교(산업대) _본교,0,0,0,0,0,0,0,0.0

In [16]:
df['2018_private'].loc[idx_2018_private].sort_values('학생1인당 교육비(G=E/F)', ascending=False)
# 서울대: 43348

,기준년도,학교종류,설립구분,지역,상태,학교,교비회계(A),산학협력단 회계(B),도서구입비(C),기계기구매입비(D),총교육비 (E=A+B+C+D),재학생수(F),학생1인당 교육비(G=E/F)
105,2017,대학교,사립,서울,기존,연세대학교 _본교,811068815,330069468,6572422,21646512,1169357217,38667,30241.7
85,2017,대학교,사립,서울,기존,성균관대학교 _본교,497172754,212464287,6244698,17521062,733402801,26117,28081.4
19,2017,대학교,사립,서울,기존,고려대학교 _본교,561841012,269519496,5460116,15905975,852726599,37303,22859.5
160,2017,대학교,사립,서울,기존,한양대학교 _본교,431839736,239744009,7078698,20148752,698811195,32673,21388.0
72,2017,대학교,사립,서울,기존,서강대학교 _본교,142330733,59302857,2344415,4455488,208433493,11160,18676.8
16,2017,대학교,사립,서울,기존,경희대학교 _본교,425533455,124091150,5249672,11081317,565955594,32843,17232.2
6,2017,대학교,사립,서울,기존,건국대학교 _본교,353025798,102828758,3775581,9114990,468745127,28084,16690.8
131,2017,대학교,사립,서울,기존,중앙대학교 _본교,326455129,95304953,3586339,8119886,433466307,28820,15040.5
49,2017,대학교,사립,서울,기존,동국대학교 _본교,289689618,71457911,2605290,7722605,371475424,25647,14484.2
149,2017,대학교,사립,서울,기존,한국외국어대학교 _본교,209459261,21352720,2488699,2638390,235939070,19512,12092.0
168,2017,대학교,사립,서울,기존,홍익대학교 _본교,225934780,26615826,2856606,4304837,259712049,21598,12024.8

In [17]:
'''
대구경북과학기술원 99036
포항공대 89178
광주과학기술원 86857
한국과학기술원 66685
울산과학기술원 50856
(99036 + 89178 + 86857 + 66685 + 50856) / 5 = 7852만원
서울대학교 43348
인천대학교 15339

'''

df['2018_private'].loc[~idx_2018_private].sort_values('학생1인당 교육비(G=E/F)', ascending=False)

,기준년도,학교종류,설립구분,지역,상태,학교,교비회계(A),산학협력단 회계(B),도서구입비(C),기계기구매입비(D),총교육비 (E=A+B+C+D),재학생수(F),학생1인당 교육비(G=E/F)
143,2017,대학교,사립,경북,기존,포항공과대학교 _본교,113767725,155637096,242343,15545788,285192952,3198,89178.5
92,2017,대학교,사립,경기,기존,수원가톨릭대학교 _본교,6825859,0,103793,27949,6957601,171,40687.7
44,2017,대학교,사립,세종,기존,대전가톨릭대학교 _본교,3772963,0,70985,76818,3920766,102,38438.9
134,2017,대학교,사립,경기,기존,차의과학대학교 _본교,86332484,19305109,195269,862678,106695540,3081,34630.2
145,2017,대학교,사립,충남,기존,한국기술교육대학교 _본교,110133037,43435761,1030446,10474192,165073436,4919,33558.3
109,2017,대학교,사립,전남,기존,영산선학대학교 _본교,1219191,0,11326,1980,1232497,46,26793.4
24,2017,대학교,사립,전남,기존,광주가톨릭대학교 _본교,2694996,0,65692,0,2760688,110,25097.2
3,2017,대학교,사립,경기,기존,가톨릭대학교 _본교,171463011,71709694,3851155,3248075,250271935,10529,23769.8
103,2017,대학교,사립,경기,기존,아주대학교 _본교,214636759,75457812,374805,8975924,299445300,13741,21792.1
31,2017,대학교,사립,충남,기존,금강대학교 _본교,10793706,789055,71116,145086,11798963,552,21374.9
155,2017,대학교,사립,강원,기존,한림대학교 _본교,146033135,36746100,1192562,2129686,186101483,8770,21220.2
150,2017,대학교,사립,경기,기존,한국항공대학교 _본교,62239116,32097199,365390,1665846,96367551,4602,20940.4
132,2017,대학교,사립,경기,기존,중앙승가대학교 _본교,5047323,55908,76104,397919,5577254,270,20656.5
96,2017,대학교,사립,충남,기존,순천향대학교 _본교,185964028,34152711,1627166,7788756,229532661,11646,19709.1
121,2017,대학교,사립,서울,기존,이화여자대학교 _본교,305450586,99838787,4857890,12182831,422330094,21639,19517.1
33,2017,대학교,사립,충북,기존,꽃동네대학교 _본교,9055895,322321,90000,255435,9723651,504,19293.0
115,2017,대학교,사립,울산,기존,울산대학교 _본교,202466747,63257478,214001,5443335,271381561,14107,19237.4
124,2017,대학교,사립,인천,기존,인하대학교 _본교,246911145,88162611,727124,5622227,341423107,20205,16898.0
122,2017,대학교,사립,경남,기존,인제대학교 _본교,136897934,35456917,283574,8749054,181387479,11005,16482.3
120,2017,대학교,사립,대전,기존,을지대학교 _본교,65833277,18474153,559067,301693,85168190,5377,15839.4
152,2017,대학교,사립,경북,기존,한동대학교 _본교,59528708,7477660,121614,2242893,69370875,4420,15694.8
123,2017,대학교,사립,인천,기존,인천가톨릭대학교 _본교,11184455,1002085,147593,855878,13190011,859,15355.1
88,2017,대학교,사립,서울,기존,세종대학교 _본교,149477861,54257193,1384665,6806611,211926330,14087,15044.1
94,2017,대학교,사립,서울,기존,숙명여자대학교 _본교,151875590,24777042,1961288,5069633,183683553,12448,14756.1
146,2017,대학교,사립,경기,기존,한국산업기술대학교 _본교,85216099,24538301,571291,3514896,113840587,7746,14696.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2017,대학교,사립,광주,기존,호남신학대학교 _본교,8142448,0,20852,12906,8176206,946,8642.9
4,2017,대학교,사립,서울,기존,감리교신학대학교 _본교,12791762,186144,139999,0,13117905,1535,8545.9
22,2017,대학교,사립,광주,기존,광신대학교 _본교,7821082,0,28737,0,7849819,942,8333.1
90,2017,대학교,사립,전남,기존,세한대학교 _본교,33139940,1330395,229503,345945,35045783,4285,8178.7
15,2017,대학교,사립,경북,기존,경주대학교 _본교,14712419,650201,64622,8576,15435818,1918,8047.9
95,2017,각종학교(대학),사립,충북,기존,순복음총회신학교 _본교,1948612,0,0,0,1948612,247,7889.1
111,2017,대학교,사립,전북,기존,예원예술대학교 _본교,7960695,352684,16059,32090,8361528,1198,6979.6
148,2017,사이버대학(대학),사립,서울,기존,한국열린사이버대학교 _본교,21001139,28118,7000,96327,21132584,4548,4646.6
57,2017,사이버대학(대학),사립,서울,기존,디지털서울문화예술대학교 _본교,15854962,15964,1997,328219,16201142,3776,4290.6
65,2017,사이버대학(대학),사립,부산,기존,부산디지털대학교 _본교,9235064,204339,0,0,9439403,2257,4182.3
169,2017,사이버대학(대학),사립,부산,기존,화신사이버대학교 _본교,4290761,0,9650,280500,4580911,1146,3997.3
117,2017,사이버대학(대학),사립,전북,기존,원광디지털대학교 _본교,17381720,99535,14953,123725,17619933,4648,3790.9
89,2017,사이버대학(대학),사립,서울,기존,세종사이버대학교 _본교,20796852,356254,0,239295,21392401,5762,3712.7
28,2017,사이버대학(대학),사립,경기,기존,국제사이버대학교 _본교,10105112,165,423,54376,10160076,2817,3606.7
76,2017,사이버대학(대학),사립,서울,기존,서울사이버대학교 _본교,36076067,410391,0,0,36486458,10152,3594.0
30,2017,사이버대학(대학),사립,충남,기존,글로벌사이버대학교 _본교,7364821,0,2997,101980,7469798,2123,3518.5
8,2017,사이버대학(대학),사립,대전,기존,건양사이버대학교 _본교,10277418,0,0,6912,10284330,2928,3512.4
17,2017,사이버대학(대학),사립,서울,기존,경희사이버대학교 _본교,31357285,0,15947,93460,31466692,9069,3469.7
40,2017,사이버대학(대학),사립,경북,기존,대구사이버대학교 _본교,14010995,0,35487,610533,14657015,4391,3338.0
98,2017,사이버대학(대학),사립,서울,기존,숭실사이버대학교 _본교,17480975,214993,0,250307,17946275,5381,3335.1
127,2017,기술대학,사립,서울,기존,정석대학 _본교,254534,0,0,0,254534,90,2828.2
161,2017,사이버대학(대학),사립,서울,기존,한양사이버대학교 _본교,39982159,0,254,275834,40258247,14401,2795.5
68,2017,사이버대학(대학),사립,서울,기존,사이버한국외국어대학교 _본교,15632687,0,0,18280,15650967,5708,2741.9
75,2017,사이버대학(대학),사립,서울,기존,서울디지털대학교 _본교,29015132,0,22500,344460,29382092,11304,2599.3
20,2017,사이버대학(대학),사립,서울,기존,고려사이버대학교 _본교,19783001,0,13496,1945118,21741615,9557,2274.9

In [18]:
df['2018_national'].loc[idx_2018_national]

,기준년도,학교종류,설립구분,지역,상태,학교,대학회계 (A),발전기금회계 (B),산학협력단회계 (C),도서구입비 (D),기계기구매입비 (E),총교육비 (F=A+B+C+D+E),재학생수 (G),학생1인당 교육비 (H=F/G)
25,2017,대학교,공립,서울,기존,서울시립대학교 _본교,114306305,517843,41143392,1354237,2678632,160000409,11741,13627.5

In [19]:
df['2017_national'].loc[idx_2017_national] # idx: 7

,기준년도,학교종류,설립구분,지역,상태,학교,산학협력단 회계 기준연도,대학회계 (A),발전기금회계 (B),산학협력단회계 (C),도서구입비 (D),기계기구매입비 (E),총교육비 (F=A+B+C+D+E),재학생수 (G),학생1인당 교육비 (H=F/G)
38,2016,대학교,공립,서울,기존,서울시립대학교 _본교,2016년 3월~2017년 2월,109072050,571303,40711935,1382707,3022557,154760552,11793,13123.1
39,2016,대학교,공립,서울,기존,서울시립대학교 _본교,2016년 1월~2016년 2월,0,0,7429497,0,0,7429497,0,0.0

In [20]:
df['2017_private'].loc[idx_2017_private] # 6

,기준년도,학교종류,설립구분,지역,상태,학교,교비회계(A),산학협력단 회계(B),도서구입비(C),기계기구매입비(D),총교육비 (E=A+B+C+D),재학생수(F),학생1인당 교육비(G=E/F)
6,2016,대학교,사립,서울,기존,건국대학교 _본교,354162618,93840777,3827275,12339842,464170512,28663,16194.1
16,2016,대학교,사립,서울,기존,경희대학교 _본교,416818034,112354770,5267259,7866464,542306527,33327,16272.3
19,2016,대학교,사립,서울,기존,고려대학교 _본교,579714269,237602321,7767043,16649694,841733327,37308,22561.7
50,2016,대학교,사립,서울,기존,동국대학교 _본교,295606904,68599364,3076641,8532240,375815149,26027,14439.4
73,2016,대학교,사립,서울,기존,서강대학교 _본교,144398852,76604731,2792256,4846782,228642621,11174,20462.0
86,2016,대학교,사립,서울,기존,성균관대학교 _본교,481347903,192737860,5896508,17448837,697431108,26654,26166.1
106,2016,대학교,사립,서울,기존,연세대학교 _본교,805386646,292636144,6773655,19670940,1124467385,39152,28720.6
132,2016,대학교,사립,서울,기존,중앙대학교 _본교,322231688,85828317,3543516,7247023,418850544,28873,14506.7
151,2016,대학교,사립,서울,기존,한국외국어대학교 _본교,210908617,19850235,2534012,5911724,239204588,19131,12503.5
162,2016,대학교,사립,서울,기존,한양대학교 _본교,421958595,220690779,6569851,12035475,661254700,33065,19998.6
171,2016,대학교,사립,서울,기존,홍익대학교 _본교,223065148,19485333,2701466,5808435,251060382,21953,11436.3

In [21]:
df['2016_private'].loc[idx_2016_private] # 6

,기준년도,학교종류,설립구분,지역,상태,학교,교비회계(A),산학협력단 회계(B),도서구입비(C),기계기구매입비(D),총교육비 (E=A+B+C+D),재학생수(F),학생1인당 교육비(G=E/F)
13,2015,대학교,사립,서울,기존,건국대학교 _본교,349288595,88734463,3699999,5711677,447434734,28958,15451.2
33,2015,대학교,사립,서울,기존,경희대학교 _본교,408659708,110555168,4954008,6082054,530250938,32961,16087.2
40,2015,대학교,사립,서울,기존,고려대학교 _본교,561372557,220002822,7668445,13587665,802631489,37493,21407.5
102,2015,대학교,사립,서울,기존,동국대학교 _본교,286814875,70774434,2640807,8002411,368232527,26676,13803.9
153,2015,대학교,사립,서울,기존,서강대학교 _본교,146342093,64351102,2414066,4334622,217441883,11414,19050.5
183,2015,대학교,사립,서울,기존,성균관대학교 _본교,453151457,179690866,5742495,15437117,654021935,27034,24192.6
225,2015,대학교,사립,서울,기존,연세대학교 _본교,800214466,293090438,9254043,13218842,1115777789,39392,28325.0
282,2015,대학교,사립,서울,기존,중앙대학교 _본교,320061844,81800782,3586124,5181350,410630100,29150,14086.8
319,2015,대학교,사립,서울,기존,한국외국어대학교 _본교,205997822,23523107,2536404,1485350,233542683,19092,12232.5
358,2015,대학교,사립,서울,기존,한양대학교 _본교,414142546,222503032,5952903,10226241,652824722,32895,19845.7
372,2015,대학교,사립,서울,기존,홍익대학교 _본교,215664512,17972369,1978276,2540835,238155992,22119,10767.0

In [22]:
df['2016_national'].loc[idx_2016_national] # 6

,기준년도,학교종류,설립구분,지역,상태,학교,일반회계 (A),대학회계 (B),발전기금회계 (C),산학협력단회계 (D),도서구입비 (E),기계기구매입비 (F),총교육비 (G=A+B+C+D+E+F),재학생수 (H),학생1인당 교육비 (I=G/H)
23,2015,대학교,공립,서울,기존,서울시립대학교 _본교,58966011,37327680,584985,40569219,1495578,2663738,141607211,12195,11611.9