# Import

In [1]:
from collections import Counter
import re

import numpy as np
import pandas as pd

from db.mongo import MyMongo

# DB

In [2]:
with MyMongo() as db:
    cvs = db.get_df_from_table('cvs', 'cvs')
    distance = db.get_df_from_table('cvs', 'src_dst')

stop_words = ['ccup', 'mercury 전자담배', 'in cups', 'focus24', 'lgstar', 'gstop', 'sicuro', 'gs슈퍼', 'gs칼텍스', 't-cube']
stop_string = '|'.join(stop_words)

cvs = cvs.loc[~cvs['사업장명'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)]


idx_tmp1 = distance['src_name'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)
idx_tmp2 = distance['dst_name'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)

# print(len(distance))
# print(len(distance.loc[~(idx_tmp1 | idx_tmp2), cols_distance]))

distance = distance.loc[~(idx_tmp1 | idx_tmp2)]
del idx_tmp1, idx_tmp2

<--Mongo Connected.
Mongo Connection Closed.-->

# cvs 정상영업: 39484

In [3]:
print(len(cvs.loc[cvs['상세영업상태명']=='정상영업']))

41252

# Index: naver_distance != NaN

In [4]:
distance.head(1)
idx_non_naver = distance['naver_distance'].isna()
print(len(distance.loc[idx_non_naver]))
distance.loc[idx_non_naver].head(1)

3116

,_id,dst,dst_lat,dst_lng,dst_name,line_distance,naver_distance,src,src_lat,src_lng,src_name
218,5c0d43659085ca6d107fa2d0,2003349001205600040,37.572488,126.974268,미니스톱 문화회관점,0.069688,NaN,2016300016905600038,37.572487,126.974268,미니스톱 세종문화회관점

# Columns

In [5]:
cvs.head(1)
cvs.columns
cols_cvs = ['사업장명', '관리번호', 'lat', 'lng', '상세영업상태명', '도로명전체주소', '소재지전체주소', 'type', '지역']
cvs.loc[::, cols_cvs].head(1)
# print(distance.columns)
cols_distance = ['src_name', 'src', 'src_status', 'src_type', 'src_lat', 'src_lng', 'dst_name', 'dst', 'dst_status', 'dst_type', 'dst_lat',
                 'dst_lng', 'line_distance', 'naver_distance']

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

# Add 'status' to 'distance'

In [6]:
tmp_distance = distance.merge(cvs[['관리번호', '상세영업상태명']], left_on='src', right_on='관리번호', how='left'); tmp_distance.head(1)
tmp_distance = tmp_distance.rename(columns={'상세영업상태명': 'src_status'}); tmp_distance.head(1)
tmp_distance = tmp_distance.drop(columns=['관리번호'])

tmp_distance = tmp_distance.merge(cvs[['관리번호', '상세영업상태명']], left_on='dst', right_on='관리번호', how='left'); tmp_distance.head(1)
tmp_distance = tmp_distance.rename(columns={'상세영업상태명': 'dst_status'}); tmp_distance.head(1)
distance_status = tmp_distance.drop(columns=['관리번호'])
del tmp_distance
distance_status.loc[::, cols_distance].head(1)

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
0,GS25동숭점,1999300007605600150,정상영업,NaN,37.583669,127.002563,세븐일레븐 종로대학로점,2009300012905600010,폐업처리,NaN,37.583248,127.002445,47.934733,44.0

# Add: 'type' to 'distance'

In [7]:
# types = ['gs', '지에스', '씨유', 'cu', '세븐일레븐', '코리아세븐', '이마트24', 'emart24', '미니스톱', '씨스페이스', '씨스페이시스']
# normalised_types = {
#     'gs': 'GS25',
#     '지에스': 'GS25',
#     '씨유': 'CU',
#     'cu': 'CU',
#     '세븐일레븐': '세븐일레븐',
#     '코리아세븐': '세븐일레븐',
#     '이마트24': '이마트24',
#     'emart24': '이마트24',
#     '미니스톱': '미니스톱',
#     '씨스페이스': '씨스페이스',
#     '씨스페이시스': '씨스페이스',
# }

types = [
    'gs', '지에스', 'lg25', '엘지25',
     '씨유', 'cu', '훼미리마트', '훼밀리마트', '패밀리마트', 'familymart',
     '세븐일레븐', '코리아세븐', '바이더웨이', 'buytheway',
     '이마트24', 'emart24', '위드미',
     '미니스톱', '미니스탑', '대상유통',
     '씨스페이스', '씨스페이시스'
]

normalised_types = {
    'gs': 'GS25',
    '지에스': 'GS25',
    'lg25': 'GS25',
    '엘지25': 'GS25',
    
    '씨유': 'CU',
    'cu': 'CU',
    '훼미리마트': 'CU',
    '훼밀리마트': 'CU',
    '패밀리마트': 'CU',
    'familymart': 'CU',
    
    '세븐일레븐': '세븐일레븐',
    '코리아세븐': '세븐일레븐',
    '바이더웨이': '세븐일레븐',
    'buytheway': '세븐일레븐',
    
    '이마트24': '이마트24',
    'emart24': '이마트24',
    '위드미': '이마트24',
    
    '미니스톱': '미니스톱',
    '미니스탑': '미니스톱',
    '대상유통': '미니스톱',
    
    '씨스페이스': '씨스페이스',
    '씨스페이시스': '씨스페이스',
}

for idx, row in distance_status.loc[::, cols_distance].iterrows():
    src_name = row['src_name'].lower()
    dst_name = row['dst_name'].lower()

    for t in types:
        if t in src_name:
            distance_status.at[idx, 'src_type'] = normalised_types[t]
        if t in dst_name:
            distance_status.at[idx, 'dst_type'] = normalised_types[t]

for idx, row in cvs.loc[::, cols_cvs].iterrows():
    name = row['사업장명'].lower()
    
    for t in types:
        if t in name:
            cvs.at[idx, 'type'] = normalised_types[t]

# print(len(distance))
print(len(distance_status.loc[distance_status['src_type'].isna()]))
print(len(distance_status.loc[distance_status['dst_type'].isna()]))
print(len(cvs.loc[cvs['type'].isna()]))

distance_status.loc[::, cols_distance].head(5)
# cvs.loc[idx_closed&~idx_non_closed_date, cols_cvs].head(5)

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

0
0
0

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
0,GS25동숭점,1999300007605600150,정상영업,GS25,37.583669,127.002563,세븐일레븐 종로대학로점,2009300012905600010,폐업처리,세븐일레븐,37.583248,127.002445,47.934733,44.0
1,이마트24 광화문시대점,2007300010105600043,정상영업,이마트24,37.573773,126.973126,GS25 종로내수,2013300012905600007,정상영업,GS25,37.573431,126.973271,40.155229,124.0
2,이마트24 광화문시대점,2007300010105600043,정상영업,이마트24,37.573773,126.973126,GS25 종로용비점,2006300007605600008,폐업처리,GS25,37.573431,126.973271,40.155229,124.0
3,이마트24 광화문시대점,2007300010105600043,정상영업,이마트24,37.573773,126.973126,GS25 종로용비점,2005300007605600042,폐업처리,GS25,37.573431,126.973271,40.155229,124.0
4,이마트24 광화문시대점,2007300010105600043,정상영업,이마트24,37.573773,126.973126,GS25 종로용비점,2010300012905600016,폐업처리,GS25,37.573431,126.973271,40.155229,124.0

# Validation: Combination Sequence

In [8]:
a, b = '2010300012905600060', '2007300010105600014'
idx_sequence = ((distance_status['src']==a)&(distance_status['dst']==b))\
                | ((distance_status['dst']==a)&(distance_status['src']==b))
distance_status.loc[idx_sequence, cols_distance]
# distance_status.loc[idx_active & idx_sequence, cols_distance]

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
26,세븐일레븐 종로두산점,2007300010105600014,정상영업,세븐일레븐,37.572532,126.981793,씨유 종로공평점,2010300012905600060,폐업처리,CU,37.571915,126.982712,106.105078,135.0
232,씨유 종로공평점,2010300012905600060,폐업처리,CU,37.571915,126.982712,세븐일레븐 종로두산점,2007300010105600014,정상영업,세븐일레븐,37.572532,126.981793,106.105078,142.0

# Dedupe: 13197 -> 13209

In [9]:
deduped = distance_status[pd.DataFrame(np.sort(distance_status[['src','dst']].values,1)).duplicated()]

len(deduped)

23413

In [10]:
13209 - 13197

12

# Index: Active (1809->1810)

In [11]:
idx_active = (deduped['src_status']=='정상영업') & (deduped['dst_status']=='정상영업')
print(len(deduped.loc[idx_active, cols_distance]))
deduped.loc[idx_active, cols_distance].head(5)

2604

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
149,세븐일레븐 종로으뜸점,2014300016905600057,정상영업,세븐일레븐,37.569433,126.990686,GS25국일관점,2012300012905600021,정상영업,GS25,37.569703,126.990025,65.557707,142.0
186,씨유 종로대로점,2018300016905600037,정상영업,CU,37.570053,126.989980,GS25국일관점,2012300012905600021,정상영업,GS25,37.569703,126.990025,39.076506,92.0
214,미니스톱 세종문화회관점,2016300016905600038,정상영업,미니스톱,37.572487,126.974268,지에스25종로국카사옥,2018300016905600049,정상영업,GS25,37.572735,126.973280,91.282711,226.0
230,씨유 종로공평점,2017300016905600098,정상영업,CU,37.571915,126.982712,세븐일레븐 종로두산점,2007300010105600014,정상영업,세븐일레븐,37.572532,126.981793,106.105078,142.0
236,씨유종로창신점,2015300016905600068,정상영업,CU,37.572565,127.014793,GS25 S6 동묘앞역점,2018300016905600041,정상영업,GS25,37.572200,127.015680,88.066993,146.0

# Validation: Deduped

In [12]:
a, b = '2007300010105600014', '2010300012905600060'
idx_sequence = ((deduped['src']==a)&(deduped['dst']==b))\
                | ((deduped['dst']==a)&(deduped['src']==b))
deduped.loc[idx_sequence, cols_distance]

# distance_status.loc[idx_active & idx_sequence, cols_distance]

# 이마트24 광화문시대점	2007300010105600043	정상영업	37.573773	126.973126	GS25 종로내수	2013300012905600007	
# 세븐일레븐 독립문역점	2007300012905600006	정상영업	37.574565	126.958124	씨유독립문점	2013300016905600012
# 세븐일레븐 종로배화점	2008300012905600082	정상영업	37.577164	126.969439	씨유 종로사직공원점	2013300012905600009
# 세븐일레븐 종로향기점	2003300007605600130	정상영업	37.574283	127.021653	GS25 숭인본점	1998300007605600254
# CU M강남역점	2018322016205600170	정상영업	37.498165	127.028308	미니스톱 강남시티3점	2013322016205600169	

# 2007300010105600014  2017300016905600098
# 2007300010105600014  2010300012905600060

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
232,씨유 종로공평점,2010300012905600060,폐업처리,CU,37.571915,126.982712,세븐일레븐 종로두산점,2007300010105600014,정상영업,세븐일레븐,37.572532,126.981793,106.105078,142.0

# Validation: 실제 지도와 비교

In [13]:
deduped.loc[idx_active, cols_distance].head(1)
tmp = deduped.loc[idx_active, cols_distance].groupby('src').agg({'src_name':'count'})
tmp.loc[tmp['src_name']>=3].sort_values('src_name', ascending=False)
# 2013322016205600169, 2009322012705600008, 2018322016205600170

                     src_name
src
2015322016205600127         6
2009322012705600008         6
2011567016105600052         5
2009474004705600026         5
2013322016205600169         5
2008322012705600092         4
2017356013705600132         4
2000321007605600078         4
2006322008305600177         4
2017396012805600010         4
2001308007505600851         4
2018396012805600043         4
2017396012805600007         4
2017308013905600027         3
2016333013205600056         3
2016354011905600004         3
2016356013705600130         3
2017354011905600147         3
2017313020105600028         3
2017313020105600060         3
2016301013005600052         3
2017370010405600054         3
2017561001805600041         3
2018322016205600084         3
2018322016205600155         3
2016321015505600099         3
2013553024905600031         3
2016301013005600006         3
2016300016905600001         3
2001322008305601720         3
2002320008005600451         3
2005321007605600138         3
2005402008105600046         3
2005528015505600083         3
2008315012305600015         3
2008396012205600083         3
2009318011705600055         3
2009382013105600066         3
2010322016205600015         3
2012329008505600111         3
2012402010805600043         3
2012480017705600012         3
2012507017805600020         3
2015310018405600039         3
2018553041505600001         3

In [14]:
deduped.loc[idx_active, cols_distance].head(5)

# 이마트24 광화문시대점	2007300010105600043	정상영업	37.573773	126.973126	GS25 종로내수	2013300012905600007	
# 세븐일레븐 독립문역점	2007300012905600006	정상영업	37.574565	126.958124	씨유독립문점	2013300016905600012
# 세븐일레븐 종로배화점	2008300012905600082	정상영업	37.577164	126.969439	씨유 종로사직공원점	2013300012905600009
# 세븐일레븐 종로향기점	2003300007605600130	정상영업	37.574283	127.021653	GS25 숭인본점	1998300007605600254
# CU M강남역점	2018322016205600170	정상영업	37.498165	127.028308	미니스톱 강남시티3점	2013322016205600169	

# 2007300010105600014  2017300016905600098
# 2007300010105600014  2010300012905600060

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
149,세븐일레븐 종로으뜸점,2014300016905600057,정상영업,세븐일레븐,37.569433,126.990686,GS25국일관점,2012300012905600021,정상영업,GS25,37.569703,126.990025,65.557707,142.0
186,씨유 종로대로점,2018300016905600037,정상영업,CU,37.570053,126.989980,GS25국일관점,2012300012905600021,정상영업,GS25,37.569703,126.990025,39.076506,92.0
214,미니스톱 세종문화회관점,2016300016905600038,정상영업,미니스톱,37.572487,126.974268,지에스25종로국카사옥,2018300016905600049,정상영업,GS25,37.572735,126.973280,91.282711,226.0
230,씨유 종로공평점,2017300016905600098,정상영업,CU,37.571915,126.982712,세븐일레븐 종로두산점,2007300010105600014,정상영업,세븐일레븐,37.572532,126.981793,106.105078,142.0
236,씨유종로창신점,2015300016905600068,정상영업,CU,37.572565,127.014793,GS25 S6 동묘앞역점,2018300016905600041,정상영업,GS25,37.572200,127.015680,88.066993,146.0

# ---

# damaged & active

## < 150m: 1220->1221->1362

In [15]:
idx_lt_150 = deduped['naver_distance'] < 150
lt_150 = deduped.loc[idx_active & idx_lt_150, cols_distance]
print(len(lt_150))

1737

## < 100m: 616->617->681

In [16]:
idx_lt_100 = deduped['naver_distance'] < 100
lt_100 = deduped.loc[idx_active & idx_lt_100, cols_distance]
print(len(lt_100))

871

## 근접 active 편의점 수: 2145->2147->2373

In [17]:
cvs_set = set()
cvs_set.update(lt_150['src'].tolist())
cvs_set.update(lt_150['dst'].tolist())

print(len(cvs_set))

3011

In [18]:
idx_damaged = cvs['관리번호'].isin(cvs_set)
print(len(cvs.loc[idx_damaged, cols_cvs]))
cvs.loc[idx_damaged, cols_cvs].head(1)

3011

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
17,씨유 종로성대점,2010300012905600034,37.58443693473411,126.99702012247322,정상영업,서울특별시 종로구 성균관로5길 6 (명륜2가),서울특별시 종로구 명륜동2가 137번지 2호,CU,NaN

In [19]:
cvs_set_100 = set()
cvs_set_100.update(lt_100['src'].tolist())
cvs_set_100.update(lt_100['dst'].tolist())

print(len(cvs_set_100))

1610

In [20]:
idx_damaged_100 = cvs['관리번호'].isin(cvs_set_100)
print(len(cvs.loc[idx_damaged_100, cols_cvs]))
cvs.loc[idx_damaged_100, cols_cvs].head(1)

1610

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
17,씨유 종로성대점,2010300012905600034,37.58443693473411,126.99702012247322,정상영업,서울특별시 종로구 성균관로5길 6 (명륜2가),서울특별시 종로구 명륜동2가 137번지 2호,CU,NaN

## Counter: 근접킹 편의점

In [21]:
c_near_active = Counter(lt_150['src'].tolist())
c_near_active.update(lt_150['dst'].tolist())
c_near_active.most_common()

[('2018322016205600170', 6),
 ('2002322016205600000', 6),
 ('2017308013905600027', 4),
 ('2001308007505600851', 4),
 ('2013322016205600169', 4),
 ('2008322012705600092', 4),
 ('2008396012205600083', 4),
 ('2017396012805600010', 4),
 ('2017396012805600007', 4),
 ('2015402010805600067', 4),
 ('2017402010805600059', 4),
 ('2016304019005600022', 4),
 ('2015321015505600027', 4),
 ('2016321015505600116', 4),
 ('2017313020105600060', 3),
 ('2018313020105600003', 3),
 ('2017313020105600028', 3),
 ('2009318011705600055', 3),
 ('2005321007605600138', 3),
 ('2018322016205600155', 3),
 ('2009322012705600008', 3),
 ('2010322016205600015', 3),
 ('2012333010305600085', 3),
 ('2016333013205600056', 3),
 ('2016354011905600004', 3),
 ('2017354011905600147', 3),
 ('2017370010405600017', 3),
 ('2013370007805600009', 3),
 ('2006387003705600167', 3),
 ('2013398010805600031', 3),
 ('2012402010805600043', 3),
 ('2005402008105600046', 3),
 ('2016566002705600068', 3),
 ('2015507017805600012', 3),
 ('2012507017805600020', 3),
 ('2011553024905600055', 3),
 ('2012553024905600010', 3),
 ('2018553041505600001', 3),
 ('2012567038205600053', 3),
 ('2017561001805600041', 3),
 ('2016382017905600155', 3),
 ('2006315010005600010', 3),
 ('2015322016205600127', 3),
 ('2008315012305600015', 3),
 ('2000321007605600078', 3),
 ('2001322008305601720', 3),
 ('2012308013905600042', 3),
 ('2015313018005600102', 3),
 ('2017322016205600133', 3),
 ('2005331001605600075', 3),
 ('2011331008205600043', 3),
 ('2017354011905600139', 3),
 ('2017553032905600002', 3),
 ('2008303010305600097', 3),
 ('2010333010305600112', 3),
 ('2009397003205600007', 3),
 ('2017652003405600006', 3),
 ('2017300016905600098', 2),
 ('2017300016905600095', 2),
 ('2015300016905600081', 2),
 ('2010301010005600061', 2),
 ('2016301013005600006', 2),
 ('2017301013005600079', 2),
 ('2017301013005600130', 2),
 ('2018301015205600049', 2),
 ('2018304019005600018', 2),
 ('2016304019005600019', 2),
 ('2016305014005600108', 2),
 ('2016305014005600056', 2),
 ('2009305010005600081', 2),
 ('2018307021605600005', 2),
 ('2016307021605600006', 2),
 ('2014308013905600012', 2),
 ('2008308009205600026', 2),
 ('2018308016905600040', 2),
 ('2002308007505600661', 2),
 ('2014310018405600028', 2),
 ('2016311013105600114', 2),
 ('2012312014505600057', 2),
 ('2016312018305600012', 2),
 ('2012313011805600062', 2),
 ('2014313011805600056', 2),
 ('1997313011805601211', 2),
 ('2018315016605600033', 2),
 ('2007315010005600132', 2),
 ('2016315016605600089', 2),
 ('2017316015905600051', 2),
 ('2017316015905600042', 2),
 ('2002316007105601094', 2),
 ('2017318016305600091', 2),
 ('2018320021705600041', 2),
 ('2016321015505600109', 2),
 ('20003210076056방본1', 2),
 ('2018322016205600149', 2),
 ('2017322016205600142', 2),
 ('2018322016205600109', 2),
 ('2018322016205600068', 2),
 ('2012322016205600215', 2),
 ('2017322016205600113', 2),
 ('2012322016205600227', 2),
 ('2014322016205600226', 2),
 ('2011322016205600218', 2),
 ('2008322012705600032', 2),
 ('2018322016205600103', 2),
 ('2012322016205600010', 2),
 ('2018322016205600104', 2),
 ('2018322016205600025', 2),
 ('2017322016205600149', 2),
 ('2014322016205600117', 2),
 ('2016322016205600111', 2),
 ('2018322016205600113', 2),
 ('2011323019805600163', 2),
 ('2017323023105600102', 2),
 ('2011323019805600055', 2),
 ('2017324018905600092', 2),
 ('2007324013905600134', 2),
 ('2003324010605603080', 2),
 ('2008325005905600009', 2),
 ('2014331008805600058', 2),
 ('2014331008805600066', 2),
 ('2014331008805600006', 2),
 ('2017333013205600005', 2),
 ('2017333013205600023', 2),
 ('2015333010305600030', 2),
 ('2015333010305600038', 2),
 ('2003333001505601345', 2),
 ('2005333001505600064', 2),
 ('2018349014905600038', 2),
 ('2012349007505600011', 2),
 ('2017354011905600051', 2),
 ('2012354011905600055', 2),
 ('2016354011905600040', 2),
 ('2018354011905600006', 2),
 ('2014356010205600020', 2),
 ('2017359015405600044', 2),
 ('2012359008105600063', 2),
 ('2006360001205600090', 2),
 ('2015362012105600064', 2),
 ('2014362012105600063', 2),
 ('2017370010405600054', 2),
 ('2016561001805600081', 2),
 ('2018376003405600063', 2),
 ('2018561001805600032', 2),
 ('2018381005405600009', 2),
 ('2017379003405600061', 2),
 ('2016379003405600091', 2),
 ('2016381005405600020', 2),
 ('2006381003105600098', 2),
 ('2017379003405600062', 2),
 ('2013381005405600033', 2),
 ('2016382017905600148', 2),
 ('2018382023905600003', 2),
 ('2017385003705600029', 2),
 ('2018385003705600021', 2),
 ('2015385003705600036', 2),
 ('2015387005205600125', 2),
 ('2009387000205600081', 2),
 ('2009387000205600022', 2),
 ('2018386048505600009', 2),
 ('2018386049405600016', 2),
 ('2018386049705600015', 2),
 ('2005556000505600054', 2),
 ('2012555002805600011', 2),
 ('2015395005205600068', 2),
 ('2013395005205600013', 2),
 ('2017410012505600042', 2),
 ('2018410012505600042', 2),
 ('2018398010805600007', 2),
 ('2016400014505600059', 2),
 ('2015400014505600034', 2),
 ('2011400010605600073', 2),
 ('2013400014505600020', 2),
 ('2016401023905600070', 2),
 ('2018402010805600006', 2),
 ('2014564001805600002', 2),
 ('2013408014105600005', 2),
 ('2014408014105600032', 2),
 ('2018419024105600037', 2),
 ('2008449013105600170', 2),
 ('2008566000505600281', 2),
 ('2015450025405600021', 2),
 ('2014467017705600020', 2),
 ('2018480022805600016', 2),
 ('2016480022605600013', 2),
 ('2017480022805600009', 2),
 ('2011481016805600005', 2),
 ('2018481030705600052', 2),
 ('2017481030705600030', 2),
 ('2015482022805600056', 2),
 ('2017482024905600051', 2),
 ('2018507017805600033', 2),
 ('2016537021205600121', 2),
 ('2018538024905600053', 2),
 ('2018538024905600075', 2),
 ('2016553017405600038', 2),
 ('2013553024905600031', 2),
 ('2013553017405600002', 2),
 ('2010560008905600085', 2),
 ('2003527009305600201', 2),
 ('2002527002205600054', 2),
 ('2012569002105600026', 2),
 ('2018572500505600032', 2),
 ('2018573500505600011', 2),
 ('2016573500505600027', 2),
 ('2016301013005600038', 2),
 ('2017312018305600066', 2),
 ('2013313011805610081', 2),
 ('2016316015905600091', 2),
 ('2003321007605600102', 2),
 ('2016324018905600062', 2),
 ('2018331008805600016', 2),
 ('2015354011905600084', 2),
 ('2007359006005600073', 2),
 ('2017380002905600063', 2),
 ('2017382025505600014', 2),
 ('2011555002805600068', 2),
 ('2016566002705600100', 2),
 ('2013566002105600039', 2),
 ('2013481024105600008', 2),
 ('2009370005305600061', 2),
 ('2017307021605600044', 2),
 ('2017313020105600110', 2),
 ('2005315010005600188', 2),
 ('2012320019105600136', 2),
 ('2018322016205600084', 2),
 ('2018341013005600031', 2),
 ('2015342013505600014', 2),
 ('2015556002905600024', 2),
 ('2015408020805600055', 2),
 ('2004418001605600171', 2),
 ('2016439010305600082', 2),
 ('2016513018005600101', 2),
 ('2009513011505600103', 2),
 ('2017569020005600020', 2),
 ('2016321015505600099', 2),
 ('2013322016205600154', 2),
 ('2001381003105600081', 2),
 ('2009533010505600002', 2),
 ('2001300007605600027', 2),
 ('2003322008305600270', 2),
 ('1999322008305601332', 2),
 ('2009438003705600094', 2),
 ('2012300012905600021', 2),
 ('2007300010105600014', 2),
 ('2005301007105600083', 2),
 ('2017303009105600103', 2),
 ('2017304019005600088', 2),
 ('2018304019005600010', 2),
 ('2006305008205600094', 2),
 ('2018308016905600008', 2),
 ('2018308016905600009', 2),
 ('2016308013905600075', 2),
 ('2013308013905600065', 2),
 ('2008312011905600010', 2),
 ('2017312018305600042', 2),
 ('2012313011805600111', 2),
 ('2016313020105600047', 2),
 ('2015313018005600079', 2),
 ('2018315016605600058', 2),
 ('2018315018605600004', 2),
 ('2012316015905600123', 2),
 ('2016316015905600006', 2),
 ('2015317017405600074', 2),
 ('2016318016305600086', 2),
 ('2018320021705600028', 2),
 ('2016321015505600059', 2),
 ('2017322016205600043', 2),
 ('2018322016205600162', 2),
 ('2014322016205600012', 2),
 ('2018322016205600130', 2),
 ('2017322016205600047', 2),
 ('2014322016205600180', 2),
 ('2015322016205600056', 2),
 ('2004322008305600082', 2),
 ('2004322008305600049', 2),
 ('2015323023105600058', 2),
 ('2012323019805600100', 2),
 ('2018324018905600067', 2),
 ('2016325008305600004', 2),
 ('2012333010305600100', 2),
 ('2015335010005600005', 2),
 ('2018338007105600009', 2),
 ('2015347011705600208', 2),
 ('2018349014905600060', 2),
 ('2018353017905600007', 2),
 ('2017354011905600042', 2),
 ('2011354006105600005', 2),
 ('2017354011905600030', 2),
 ('2017354011905600019', 2),
 ('2016354011905600067', 2),
 ('2018355005905600013', 2),
 ('2014355005905600032', 2),
 ('2017359015405600024', 2),
 ('2017362014505600122', 2),
 ('2016362014505600035', 2),
 ('2017363020005600048', 2),
 ('2010366011105600099', 2),
 ('2012367010605600114', 2),
 ('2014368009205600060', 2),
 ('2018370010405600022', 2),
 ('2018370010405600059', 2),
 ('2018370014605600006', 2),
 ('2016370010405600075', 2),
 ('2016561001805600015', 2),
 ('2013561001805600056', 2),
 ('2015561001805600003', 2),
 ('2015377004105600075', 2),
 ('2015376003405600092', 2),
 ('2018379003405600022', 2),
 ('2015381005405600093', 2),
 ('2016382017905600154', 2),
 ('2018385003705600028', 2),
 ('2017386049705600007', 2),
 ('2017386049405600011', 2),
 ('2012387000205600094', 2),
 ('2006387003705600104', 2),
 ('2008387003905600078', 2),
 ('2016555003005600010', 2),
 ('2017396012805600039', 2),
 ('2017396012805600082', 2),
 ('2017396012805600084', 2),
 ('2014395005205600085', 2),
 ('2015396012805600060', 2),
 ('2018398010805600015', 2),
 ('2017399026805600118', 2),
 ('2018400019405600021', 2),
 ('2015400014505600053', 2),
 ('2014402010805600043', 2),
 ('2018404019905600041', 2),
 ('2017563001805600079', 2),
 ('2016407008805600040', 2),
 ('2015408020805600034', 2),
 ('2013408014105600047', 2),
 ('2018419024105600061', 2),
 ('2016419024105600049', 2),
 ('2018420032205600005', 2),
 ('2018428009405600009', 2),
 ('2017431005205600004', 2),
 ('2014465007705600078', 2),
 ('2016480022605600059', 2),
 ('2011481024105600029', 2),
 ('2006481001905600104', 2),
 ('2017482024905600065', 2),
 ('2014482022805600077', 2),
 ('2011507017805600011', 2),
 ('2017537021205600054', 2),
 ('2006538001005600029', 2),
 ('2017553017405600034', 2),
 ('2018553036105600004', 2),
 ('2016560012905600010', 2),
 ('2015560012905600049', 2),
 ('2012567038205600057', 2),
 ('2007527018205600087', 2),
 ('2009527018205600002', 2),
 ('2018572500505600022', 2),
 ('2018572000505600023', 2),
 ('2015573500505600082', 2),
 ('2018313020105600039', 2),
 ('2017320021705600035', 2),
 ('2015379003405600027', 2),
 ('2015391026805600128', 2),
 ('2015566002705600062', 2),
 ('2015566002705600080', 2),
 ('2017531022705600107', 2),
 ('2018366013405600033', 2),
 ('2009300012905600079', 2),
 ('2015301013005600108', 2),
 ('2012301010005600039', 2),
 ('2005304007305600117', 2),
 ('2008307013405600033', 2),
 ('2018315016605600073', 2),
 ('2011315012305600148', 2),
 ('2002315007405610111', 2),
 ('2006322008305600208', 2),
 ('2012352006805600015', 2),
 ('2018355005905600049', 2),
 ('2012359008105600043', 2),
 ('2012367010605600047', 2),
 ('2012377004105600001', 2),
 ('2011513013505600032', 2),
 ('2018537021205600061', 2),
 ('2013559014805600075', 2),
 ('2009527018205600133', 2),
 ('2015573000505600014', 2),
 ('2010651004705600010', 2),
 ('2010300012905600034', 2),
 ('2018322016205600002', 2),
 ('2016567057005600014', 2),
 ('2014300016905600057', 1),
 ('2018300016905600037', 1),
 ('2015300016905600068', 1),
 ('2015300016905600083', 1),
 ('2018300016905600006', 1),
 ('2013301013005600032', 1),
 ('2014301013005600013', 1),
 ('2017301013005600016', 1),
 ('2016301013005600094', 1),
 ('2016301013005600068', 1),
 ('2016301013005600077', 1),
 ('2018301015205600028', 1),
 ('2012302009505600080', 1),
 ('2010302009505600056', 1),
 ('2012302009505600032', 1),
 ('2016302015005600047', 1),
 ('2014303009105600054', 1),
 ('2014303009105600058', 1),
 ('2012303010305600051', 1),
 ('2016303009105600018', 1),
 ('2017303009105600037', 1),
 ('2003303008705600012', 1),
 ('2017303009105600025', 1),
 ('2018303009105600037', 1),
 ('2012303010305600036', 1),
 ('2017303009105600020', 1),
 ('2015303009105600046', 1),
 ('2015303009105600048', 1),
 ('2007303010305600031', 1),
 ('2012304016805600041', 1),
 ('2015304016805600018', 1),
 ('2015304016805600019', 1),
 ('2015304016805600020', 1),
 ('2016304019005600016', 1),
 ('2013304016805600056', 1),
 ('2017304019005600029', 1),
 ('2017304019005600027', 1),
 ('2018304019005600039', 1),
 ('2018304019005600053', 1),
 ('2017304019005600037', 1),
 ('2018304019005600030', 1),
 ('2014304016805600060', 1),
 ('2018305014005600001', 1),
 ('2017305014005600046', 1),
 ('2018305014005600056', 1),
 ('2017305014005600094', 1),
 ('2012305014005600078', 1),
 ('2016305014005600021', 1),
 ('2018305014005600011', 1),
 ('2015305014005600057', 1),
 ('2009305010005600075', 1),
 ('2010305010005600077', 1),
 ('2011305010005600004', 1),
 ('2008305010005600032', 1),
 ('2007306009505600030', 1),
 ('2018306014405600008', 1),
 ('2018306014405600036', 1),
 ('2018307021605600003', 1),
 ('2012307019705611111', 1),
 ('2015307021605600021', 1),
 ('2015307021605600096', 1),
 ('2015307021605600088', 1),
 ('2017307021605600054', 1),
 ('2016307021605600022', 1),
 ('2016308013905600084', 1),
 ('2015308013905600028', 1),
 ('2015308013905600073', 1),
 ('1989308007505600690', 1),
 ('2008308009205600101', 1),
 ('2011309013405600029', 1),
 ('2018309015205600029', 1),
 ('2016309015205600037', 1),
 ('2008310010905600094', 1),
 ('2017310018405600008', 1),
 ('2015310018405600034', 1),
 ('2017310018405600011', 1),
 ('2015310018405600039', 1),
 ('2014310018405600080', 1),
 ('2015311013105600109', 1),
 ('2013311013105600080', 1),
 ('2017311013105600094', 1),
 ('2006311011105600053', 1),
 ('2018311013105600052', 1),
 ('2017312018305600009', 1),
 ('2016312018305600006', 1),
 ('2016312018305600002', 1),
 ('2016313020105600030', 1),
 ('2016313020105600018', 1),
 ('2012313011805619993', 1),
 ('2011313011805600043', 1),
 ('2015313018005600006', 1),
 ('2016313020105600006', 1),
 ('2016313020105600016', 1),
 ('2016313020105600054', 1),
 ('2017313020105600042', 1),
 ('2017313020105600020', 1),
 ('2008313011805600106', 1),
 ('2007313011805600065', 1),
 ('2002313007905610111', 1),
 ('2016314016705600101', 1),
 ('2014314016705600110', 1),
 ('2015314016705600113', 1),
 ('2018314016705600033', 1),
 ('2012314011405600046', 1),
 ('2003314010205633274', 1),
 ('2016314016705600047', 1),
 ('2018315016605600018', 1),
 ('2015315016605600134', 1),
 ('2016315016605600027', 1),
 ('2015315016605600094', 1),
 ('2014315014505600103', 1),
 ('2015315016605600033', 1),
 ('1983315012305617177', 1),
 ('2000315010005614191', 1),
 ('2017316015905600053', 1),
 ('2017316015905600096', 1),
 ('2014316015905600037', 1),
 ('2016316015905600003', 1),
 ('2017316015905600108', 1),
 ('2015316015905600005', 1),
 ('2009316011705600037', 1),
 ('2014316015905600124', 1),
 ('2014316015905600086', 1),
 ('2003316009305600030', 1),
 ('2017316015905600018', 1),
 ('2016316015905600085', 1),
 ('2010316015905600008', 1),
 ('2014316015905600098', 1),
 ('2016317017405600008', 1),
 ('2016317017405600027', 1),
 ('2017317017405600026', 1),
 ('2017317017405600080', 1),
 ('2018317019005600002', 1),
 ('2016317017405600061', 1),
 ('2013317014205600029', 1),
 ('2013317014205600049', 1),
 ('2009317010505600068', 1),
 ('2008317010505600001', 1),
 ('2018318016305600038', 1),
 ('2018318016305600079', 1),
 ('2011318016305600159', 1),
 ('2012318016305600086', 1),
 ('2017318016305600148', 1),
 ('2018318016305600069', 1),
 ('2015318016305600077', 1),
 ('2015318016305600086', 1),
 ('2017318016305600032', 1),
 ('2012318016305600063', 1),
 ('2015318016305600113', 1),
 ('2015318016305600030', 1),
 ('2012318016305600120', 1),
 ('2017318016305600084', 1),
 ('2017318016305600082', 1),
 ('2017319015805600014', 1),
 ('2016319015805600013', 1),
 ('2015319015805600063', 1),
 ('2014319012805600024', 1),
 ('2017319015805600032', 1),
 ('2017319015805600034', 1),
 ('2015320021105600139', 1),
 ('2016320021105600058', 1),
 ('2005320008005600128', 1),
 ('2002320008005600451', 1),
 ('2017320021105600064', 1),
 ('2017320021705600014', 1),
 ('2012320019105600127', 1),
 ('2009320013105600125', 1),
 ('2010320013105600043', 1),
 ('2014320019105600126', 1),
 ('2007320010605600082', 1),
 ('2002320008005600037', 1),
 ('2000320008005602073', 1),
 ('2006321007605600073', 1),
 ('2012321012205600047', 1),
 ('2015321015505600138', 1),
 ('2016321015505600022', 1),
 ('2014321012205600032', 1),
 ('2015321015505600023', 1),
 ('2015321015505600002', 1),
 ('2011321012205600042', 1),
 ('2016321015505600132', 1),
 ('2017321015505600225', 1),
 ('2007322011105600003', 1),
 ('2016322016205600073', 1),
 ('2015322016205600047', 1),
 ('2017322016205600001', 1),
 ('2010322016205600096', 1),
 ('2013322016205600135', 1),
 ('2010322014805600057', 1),
 ('2016322016205600085', 1),
 ('2014322016205600007', 1),
 ('2006322008305600087', 1),
 ('2015322016205620410', 1),
 ('2018322016205600064', 1),
 ('2018322016205600006', 1),
 ('2017322016205600177', 1),
 ('2018322016205600035', 1),
 ('2018322016205600053', 1),
 ('2018322016205600055', 1),
 ('2018322016205600092', 1),
 ('2006322008305600221', 1),
 ('2010322016205600070', 1),
 ('2009322012705600138', 1),
 ('2018322016205600014', 1),
 ('2012322016205600053', 1),
 ('1999322008305601066', 1),
 ('2001322008305601703', 1),
 ('2017322016205600208', 1),
 ('2012322016205600123', 1),
 ('2018322016205600031', 1),
 ('1998322008305601807', 1),
 ('1999322008305601090', 1),
 ('2016322016205600128', 1),
 ('2015322016205600120', 1),
 ('2015322016205600093', 1),
 ('2015322016205600100', 1),
 ('2016322016205600104', 1),
 ('2015322016205600154', 1),
 ('2017322016205600048', 1),
 ('2018322016205600116', 1),
 ('2018322016205600039', 1),
 ('2016323023105600136', 1),
 ('2018323025705600092', 1),
 ('2012323019805600071', 1),
 ('2016323023105600114', 1),
 ('2015323023105600155', 1),
 ('1989323007805600698', 1),
 ('2015323023105600049', 1),
 ('2008323013105600073', 1),
 ('1999323007805609946', 1),
 ('2001323007805670011', 1),
 ('2017323023105600106', 1),
 ('2016323023105600179', 1),
 ('2006323013105600071', 1),
 ('2009323013105600072', 1),
 ('2017323025705600005', 1),
 ('2017323025705600014', 1),
 ('2009323013105600042', 1),
 ('2001323007805670049', 1),
 ('2011323019805600081', 1),
 ('2005324011905600120', 1),
 ('2015324018905600077', 1),
 ('2017324018905600070', 1),
 ('2014324018905600120', 1),
 ('2010324013905600117', 1),
 ('2013324018905600042', 1),
 ('2009324013905600085', 1),
 ('2010324013905600112', 1),
 ('2007324013905600139', 1),
 ('2018324018905600061', 1),
 ('2018325008305600026', 1),
 ('2014325008305600020', 1),
 ('2008325006905600014', 1),
 ('2009325008305600015', 1),
 ('2017325008305600025', 1),
 ('2016325008305600031', 1),
 ('2009325008305600013', 1),
 ('2018326009705600002', 1),
 ('2017327008605600023', 1),
 ('2018328009205600005', 1),
 ('2017329012805600075', 1),
 ('2017329012805600136', 1),
 ('2016329012805600078', 1),
 ('2016329012805600082', 1),
 ('2012329008505600048', 1),
 ('2010329008505600018', 1),
 ('2010329008505600138', 1),
 ('2014329010705600114', 1),
 ('2014329010705600059', 1),
 ('2015329010705600056', 1),
 ('2015329010705600059', 1),
 ('2015329010705600030', 1),
 ('2018330009905600010', 1),
 ('2016330007905600006', 1),
 ('2003330001605600066', 1),
 ('2018330009905600031', 1),
 ('2015331008805600067', 1),
 ('2017331008805600026', 1),
 ('2014332008805600008', 1),
 ('2008332007205600016', 1),
 ('2017332008805600037', 1),
 ('2014332008805600066', 1),
 ('2015333010305600095', 1),
 ('2015333010305600026', 1),
 ('2016333013205600052', 1),
 ('2018333013205600045', 1),
 ('2003333001505601334', 1),
 ('2003333001505601273', 1),
 ('2011333010305600043', 1),
 ('2011333010305600078', 1),
 ('2017334008005600023', 1),
 ('2018334008005600014', 1),
 ('2016335010005600044', 1),
 ('2016335010005600003', 1),
 ('2016335010005600004', 1),
 ('2016335010005600087', 1),
 ('2018335010005600034', 1),
 ('2016335010005600090', 1),
 ('2017335010005600012', 1),
 ('2018335011205600003', 1),
 ('2016337006905600025', 1),

In [22]:
# c_near_active.keys()
df_counter = pd.DataFrame(data={'관리번호': list(c_near_active.keys()), '근접 편의점 수': list(c_near_active.values())})
print(len(cvs.loc[idx_damaged, cols_cvs].merge(df_counter, on='관리번호', how='inner')))

df_counter = df_counter.merge(cvs.loc[idx_damaged, cols_cvs], on='관리번호', how='left')
print(len(df_counter))
df_counter.head(1)

3011
3011

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,관리번호,근접 편의점 수,사업장명,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
0,2014300016905600057,1,세븐일레븐 종로으뜸점,37.56943324692268,126.99068635514514,정상영업,서울특별시 종로구 수표로18길 19 (관수동),서울특별시 종로구 관수동 24번지,세븐일레븐,NaN

In [23]:
df_counter.sort_values('근접 편의점 수', ascending=False).head(10)

,관리번호,근접 편의점 수,사업장명,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
1780,2018322016205600170,6,CU M강남역점,37.498164651039694,127.02830790088069,정상영업,"서울특별시 강남구 강남대로 지하 396, 강남역 222-103, 104호 (역삼동)","서울특별시 강남구 역삼동 858번지 강남역 222-103, 104호",CU,NaN
1781,2002322016205600000,6,GS25 강남메트로,37.498164651039694,127.02830790088069,정상영업,"서울특별시 강남구 강남대로 지하 396, 강남역 A-10, 11호 (역삼동)","서울특별시 강남구 역삼동 858번지 강남역, A-10, 11호",GS25,NaN
81,2017308013905600027,4,씨스페이스 수유시네마,37.635664815367456,127.02383724952873,정상영업,"서울특별시 강북구 도봉로 308, 10층 10-3호 (번동, 북한산스카이)",서울특별시 강북구 번동 449번지 1호,씨스페이스,NaN
1604,2016304019005600022,4,씨유 세종대후문점,37.55367205833859,127.07361072813396,정상영업,"서울특별시 광진구 군자로 127, 1층 (군자동)",NaN,CU,NaN
781,2017402010805600059,4,GS25 산본중앙점,37.359676629321655,126.9320470098119,정상영업,"경기도 군포시 산본로323번길 16-14, 1층 4호 (산본동)",경기도 군포시 산본동 1134번지 센타빌딩 1층 4호,GS25,NaN
780,2015402010805600067,4,세븐일레븐 산본희망점,37.35930604417471,126.9331670952039,정상영업,"경기도 군포시 산본로323번길 7, 101호 (산본동, 금성프라자빌딩)",NaN,세븐일레븐,NaN
229,2013322016205600169,4,미니스톱 강남시티3점,37.49857910524426,127.02834424532402,정상영업,"서울특별시 강남구 테헤란로 103, 11,12호 (역삼동)","서울특별시 강남구 역삼1동 822번지 11,12호",미니스톱,NaN
256,2008322012705600092,4,세븐일레븐대치나인점,37.50398835114941,127.05098351139713,정상영업,"서울특별시 강남구 테헤란로64길 14 (대치동,나인오피스텔 101호)",서울특별시 강남구 대치동 889번지 56호 나인오피스텔 101호,세븐일레븐,NaN
1773,2016321015505600116,4,씨유 강남아크로텔점,37.4923152323998,127.02864945035205,정상영업,"서울특별시 서초구 효령로77길 34, 105,106호 (서초동)",서울특별시 서초구 서초동 1337번지 2호 105~6호,CU,NaN
1772,2015321015505600027,4,지에스25 서초세인트점,37.4923152323998,127.02864945035205,정상영업,"서울특별시 서초구 사임당로 174, 107호 (서초동, 강남미래타워)",서울특별시 서초구 서초동 1337번지,GS25,NaN

## Group '근접 active' by 'type'

In [24]:
tmp = cvs.loc[idx_damaged, cols_cvs].groupby('type').agg({'관리번호':'count'})
print(tmp.sum())
print(tmp.sort_values('관리번호', ascending=False))

del tmp
# cvs.loc[idx_damaged, cols_cvs].groupby('type').agg({'관리번호':'count'})

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

관리번호    3011
dtype: int64
       관리번호
type
GS25   1005
CU      889
세븐일레븐   631
미니스톱    288
이마트24   178
씨스페이스    20

## Group 'active' by 'type'

In [25]:
tmp = cvs.loc[cvs['상세영업상태명']=='정상영업', cols_cvs].groupby('type').agg({'관리번호':'count'})
print(tmp.sum())
print(tmp.sort_values('관리번호', ascending=False))

del tmp
# cvs.loc[idx_damaged, cols_cvs].groupby('type').agg({'관리번호':'count'})

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

관리번호    41252
dtype: int64
        관리번호
type
CU     12809
GS25   12807
세븐일레븐   9375
이마트24   3383
미니스톱    2661
씨스페이스    217

# 같은 회사 근접편의점 찾기

In [39]:
idx_same_corp = lt_150['src_type']==lt_150['dst_type']

print(len(lt_150.loc[idx_same_corp, cols_distance]))
lt_150.loc[idx_same_corp, ::].sort_values('naver_distance')

223

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
8613,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,2009399021405600024,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
8609,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,2007324013905600118,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
8611,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,1997362001205600154,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
64998,바이더웨이무역센터,2000322008305615906,정상영업,세븐일레븐,37.502014,127.057922,세븐일레븐 대치마루점,2009322012705600079,정상영업,세븐일레븐,37.502003,127.057917,1.266743,13.0
64645,훼미리마트성수점,200030300740560구16,정상영업,CU,37.544667,127.054900,씨유 성수점,2008303010305600097,정상영업,CU,37.544629,127.054673,20.421210,17.0
7744,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,GS25편의점,2017338007105600012,정상영업,GS25,37.507252,127.065812,3.328684,19.0
46819,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,LG25,2003377002405600057,정상영업,GS25,37.507252,127.065812,3.328684,19.0
46820,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,LG25,2002377000505600039,정상영업,GS25,37.507252,127.065812,3.328684,19.0
37444,(주)씨스페이시스 대전구장점,2006365007905600008,정상영업,씨스페이스,36.325487,127.431148,(주)씨스페이시스 대흥상아점,2006365007905600009,정상영업,씨스페이스,36.325472,127.431130,2.262411,21.0
65060,바이더웨이 거평타운,1999322008305601332,정상영업,세븐일레븐,37.496980,127.030969,(주)바이더웨이 역삼타운점,2003322008305600270,정상영업,세븐일레븐,37.496989,127.030917,4.630674,23.0
51051,씨유(CU)대구국우점,2018345015505600060,정상영업,CU,35.944791,128.571503,씨유 국우원룸점,2011345009905600112,정상영업,CU,35.944557,128.571472,26.158478,25.0
39935,세븐일레븐언양터미널점,2010373010205600012,정상영업,세븐일레븐,35.567342,129.125108,(주)코리아세븐 울산언양읍성점,2016373014505600079,정상영업,세븐일레븐,35.567270,129.125182,10.453330,27.0
65573,훼미리마트작전1호점,2000355001205600674,정상영업,CU,37.526799,126.729647,씨유 작전1호점,2012355005905600035,정상영업,CU,37.526579,126.729616,24.604569,28.0
16918,세븐일레븐 광주효천1지구점,2018361017405600015,정상영업,세븐일레븐,35.107715,126.877517,세븐일레븐 시티병원점,2008361009205600005,정상영업,세븐일레븐,35.107684,126.877501,3.752140,29.0
3576,GS25 독바위역점,2017311013105600094,정상영업,GS25,37.618551,126.932791,GS25 S6독바위점,2018311013105600021,정상영업,GS25,37.618400,126.932809,16.906633,29.0
27128,세븐일레븐이천부발초교점,2011407008805600082,정상영업,세븐일레븐,37.282575,127.485197,세븐일레븐 이천부발점,2018407008805600039,정상영업,세븐일레븐,37.282647,127.485229,8.487798,29.0
1240,지에스25S2 상왕십리역점,2017303009105600020,정상영업,GS25,37.564467,127.029030,GS25 상왕십리역,2018303009105600061,정상영업,GS25,37.564222,127.029021,27.262331,29.0
63693,(주)코리아세븐 대구동성로본점,2018341013005600007,정상영업,세븐일레븐,35.869904,128.597059,세븐일레븐 대구더락점,2010341007105600076,정상영업,세븐일레븐,35.870191,128.596901,34.934363,31.0
12752,GS25해운비치점,2005333001505600064,정상영업,GS25,35.161024,129.158916,GS25 해운비치점,2012333010305600100,정상영업,GS25,35.161047,129.159030,10.743977,37.0
8513,미니스톱 강남메트로점,2009322012705600008,정상영업,미니스톱,37.498622,127.028064,미니스톱 강남시티3점,2013322016205600169,정상영업,미니스톱,37.498579,127.028344,25.204542,38.0
11618,GS25남포역점,2008325006905600014,정상영업,GS25,35.100248,129.035949,지에스25 중부산점,2016325008305600004,정상영업,GS25,35.100365,129.036307,35.066980,40.0
38750,세븐일레븐 S마천역점,2007323013105600171,정상영업,세븐일레븐,37.494671,127.152321,(주)코리아세븐 마천중앙점,2015323023105600105,정상영업,세븐일레븐,37.494419,127.152474,31.161449,41.0
32830,세븐일레븐 구미황상제일점,2013508013305600106,정상영업,세븐일레븐,36.111925,128.425707,세븐일레븐 인동제일점,2013508013305600072,정상영업,세븐일레븐,36.111922,128.425713,0.598501,41.0
8553,세븐일레븐 포스코센터점,2010322014805600057,정상영업,세븐일레븐,37.504599,127.056186,세븐일레븐대치6호,2001322008305601717,정상영업,세븐일레븐,37.504718,127.055725,42.798279,43.0
11129,GS25 명일타운,2017324018905600092,정상영업,GS25,37.550206,127.145766,지에스(GS) 25 명일점,2018324018905600067,정상영업,GS25,37.550505,127.146147,47.307314,43.0
62452,GS충청대점,2007441006705600031,정상영업,GS25,36.621310,127.369171,GS25충청대정문점,2015573000505600014,정상영업,GS25,36.621039,127.369129,30.273939,46.0
41720,세븐일레븐세종첫마을한솔점,2012569002105600026,정상영업,세븐일레븐,36.476169,127.252117,(주)코리아세븐 세종첫마을점,2015569013605600054,정상영업,세븐일레븐,36.476141,127.251952,15.109929,46.0
39344,(주)코리아세븐 부평메디칼점,2015354011905600084,정상영업,세븐일레븐,37.492350,126.722669,세븐일레븐부평씨티점,2018354011905600006,정상영업,세븐일레븐,37.492356,126.722118,48.691129,47.0
8670,씨유 삼성대웅점,2012322016205600227,정상영업,CU,37.514725,127.064361,씨유 삼성신코점,2013322016205600170,정상영업,CU,37.515227,127.064013,63.616986,47.0
6396,GS25 상도소망,2016319015805600013,정상영업,GS25,37.502615,126.948741,GS25 S상도역점,2010319009905600103,정상영업,GS25,37.502658,126.948465,24.812889,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6922,씨유신림이화점,2014320019105600126,정상영업,CU,37.471058,126.940809,CU신림장미점,2018320021705600028,정상영업,CU,37.470456,126.941271,78.331253,134.0
49736,씨유 서면중앙점,2001329001305600105,정상영업,CU,35.155465,129.060244,씨유서면동보점,2010329008505600021,정상영업,CU,35.155728,129.059408,81.438650,134.0
24402,CU함께여는가게2호점,2013395005205600013,정상영업,CU,37.632856,126.832597,씨유화정요진타워점,2015395005205600068,정상영업,CU,37.633621,126.832745,85.971436,134.0
21223,GS25위례트램타워점,2017379003405600062,정상영업,GS25,37.472731,127.142437,GS25 위례아이플렉스점,2016379003405600036,정상영업,GS25,37.471772,127.142652,108.307099,134.0
38071,(주)코리아세븐 마포KCC웰츠타워점,2013313011805610081,정상영업,세븐일레븐,37.542848,126.952471,세븐일레븐 공덕글래드호텔점,2018313020105600039,정상영업,세븐일레븐,37.542844,126.951335,100.163715,135.0
16293,미니스톱 그랜드점,2016359013405600042,정상영업,미니스톱,35.145813,126.916788,미니스톱 황금점,2017359015405600040,정상영업,미니스톱,35.146450,126.915865,109.817578,135.0
63742,(주)코리아세븐 연수프라자점,2012352006805600009,정상영업,세븐일레븐,37.414054,126.676717,(주)코리아세븐 연수천지프라자점,2013352010505600032,정상영업,세븐일레븐,37.414310,126.677755,95.974616,136.0
13362,지에스(GS)25 광안역1번점,2018338007105600032,정상영업,GS25,35.158628,129.113679,지에스(GS)25S부산광안역점,2018338007105600028,정상영업,GS25,35.157919,129.113173,91.205967,136.0
62066,GS25창원팔용점,2002527002205600054,정상영업,GS25,35.256390,128.607784,GS25 팔용대림점,2003527009305600201,정상영업,GS25,35.255746,128.607745,71.781698,136.0
28913,미니스톱 천안프라지움점,2017566002905600026,정상영업,미니스톱,36.830349,127.140269,미니스톱 두정FM점,2016566002705600068,정상영업,미니스톱,36.831011,127.139974,78.195965,137.0
1532,GS25군자역점,2017304019005600029,정상영업,GS25,37.558033,127.079736,GS25 S군자역점,2016304016805600056,정상영업,GS25,37.557204,127.079490,94.656698,138.0
9627,GS25 신사제일점,2018322016205600025,정상영업,GS25,37.517984,127.022537,GS25 신사센터점,2012322016205600010,정상영업,GS25,37.518176,127.021203,119.622290,139.0
24836,GS25 구리토평점,2013398010805600031,정상영업,GS25,37.589824,127.146219,GS25 구리하나점,2018398010805600015,정상영업,GS25,37.591010,127.146267,131.904529,141.0
61543,씨유화성크리스탈,2013553017405600002,정상영업,CU,37.130333,126.922547,CU향남중앙점,2016553017405600038,정상영업,CU,37.131033,126.922889,83.456364,142.0
40969,세븐일레븐 천안메르디앙점,2008566000505600281,정상영업,세븐일레븐,36.827662,127.140783,(주)코리아세븐 천안성정사랑점,2015566002705600062,정상영업,세븐일레븐,36.828039,127.142026,118.281707,142.0
40972,세븐일레븐 천안두정대림점,2005449013105600155,정상영업,세븐일레븐,36.834821,127.139895,(주)코리아세븐 천안두정파크점,2017566002705600007,정상영업,세븐일레븐,36.835747,127.140233,107.263955,143.0
14407,미니스톱 영종골드점,2018349014905600038,정상영업,미니스톱,37.493722,126.489051,미니스톱 영종씨에로점,2018349014905600060,정상영업,미니스톱,37.494915,126.489007,132.683039,143.0
42733,GS25 건대몰,2018304019005600013,정상영업,GS25,37.539761,127.066890,GS25 노유점,2007304010305600153,정상영업,GS25,37.540143,127.067705,83.450483,143.0
32270,세븐일레븐 포항쌍용점,2007503002005600004,정상영업,세븐일레븐,36.014775,129.356605,세븐일레븐 상도원룸점,2015503005105600066,정상영업,세븐일레븐,36.015476,129.355956,97.389726,143.0
65588,보광훼미리마트전대고시원점,2005362001205600227,정상영업,CU,35.177818,126.901680,씨유 전대상대점,2013362007905600070,정상영업,CU,35.176930,126.900886,122.249546,144.0
3278,GS25 상계우리점,2017310018405600008,정상영업,GS25,37.666590,127.069692,GS25 노원한신점,2017310018405600082,정상영업,GS25,37.666028,127.069392,67.836404,144.0
4072,씨유 홍대중앙점,2012313011805619993,정상영업,CU,37.553299,126.924049,씨유 홍대한벗점,2012313011805600093,정상영업,CU,37.553711,126.924538,62.805864,145.0
11628,GS25 부평제일점,2008325005905600009,정상영업,GS25,35.099298,129.026806,GS25시편의점,2013325008305600012,정상영업,GS25,35.098781,129.027364,76.704350,145.0
15833,씨유 계양구청점,2006355001205600047,정상영업,CU,37.534818,126.737732,씨유 인천계양계산점,2018355005905600013,정상영업,CU,37.535842,126.737869,114.481971,146.0
33630,GS25통영바다점,2012533010505600071,정상영업,GS25,34.833051,128.412831,GS25 통영운하점,2017533015705600059,정상영업,GS25,34.832198,128.412738,95.270559,146.0
42007,(주)코리아세븐 구미구평점,2006508013305600161,정상영업,세븐일레븐,36.093172,128.432496,(주)코리아세븐 구미진평제일점,2016508013305600033,정상영업,세븐일레븐,36.092855,128.431616,86.648184,146.0
41880,(주)코리아세븐 중구삼화점,2012301010005600006,정상영업,세븐일레븐,37.566950,126.984905,(주)코리아세븐 중구센터원점,2016301013005600038,정상영업,세븐일레븐,37.567339,126.985208,50.872865,148.0
11329,(주)GS리테일명일점,2003324010605603080,정상영업,GS25,37.551062,127.144795,GS25 명일타운,2017324018905600092,정상영업,GS25,37.550206,127.145766,128.019083,148.0
15430,씨유 부평지하상가점,2017354011905600147,정상영업,CU,37.489950,126.724343,씨유부평역사1호점,2017354011905600019,정상영업,CU,37.489569,126.723349,97.355967,149.0
15429,씨유 부평지하상가점,2017354011905600147,정상영업,CU,37.489950,126.724343,CU부평역사 2호점,2017354011905600030,정상영업,CU,37.489569,126.723349,97.355967,149.0

## 같은 회사 근접편의점 수: 283->285

In [27]:
cvs_set_same = set()
cvs_set_same.update(lt_150.loc[idx_same_corp, 'src'].tolist())
cvs_set_same.update(lt_150.loc[idx_same_corp, 'dst'].tolist())

print(len(cvs_set_same))

408

In [38]:
idx_same = cvs['관리번호'].isin(cvs_set_same)
print(len(cvs.loc[idx_same, cols_cvs]))
cols_naver = cols_cvs.append('naver_distance')
cvs.loc[idx_same, cols_cvs].head(10)

# export
# cvs.loc[idx_same, cols_cvs].to_csv('same_damaged_cvs.tsv', sep='\t', index=False)

408

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역,naver_distance,naver_distance
1059,세븐일레븐 원효점,2015302015005600080,37.5313850196091,126.95534709344443,정상영업,"서울특별시 용산구 이촌로 1, 1층 102호 (한강로3가, GS한강에클라트)",서울특별시 용산구 한강로3가 16번지 85호,세븐일레븐,서울,NaN,NaN
1269,씨유 성수점,2008303010305600097,37.54462911301942,127.05467293539925,정상영업,서울특별시 성동구 아차산로 96 (성수동2가),서울특별시 성동구 성수동2가 314번지 6호,CU,서울,NaN,NaN
1294,GS25 상왕십리역,2018303009105600061,37.56422229114892,127.02902105215682,정상영업,"서울특별시 성동구 왕십리로 369, 동인 레반트 오피스텔 지하1층 B104호 (하왕...",서울특별시 성동구 하왕십리동 903번지 3호 동인 레반트 오피스텔,GS25,서울,NaN,NaN
1361,지에스25 성동체육센터,2015303009105600027,37.545840900720265,127.04402783824956,정상영업,서울특별시 성동구 왕십리로 89 (성수동1가),서울특별시 성동구 성수동1가 685번지 697호,GS25,서울,NaN,NaN
1403,GS25 성동서울숲점,2017303009105600037,37.546515140513456,127.04323611587547,정상영업,서울특별시 성동구 서울숲2길 41 (성수동1가),서울특별시 성동구 성수동1가 668번지 62호,GS25,서울,NaN,NaN
1425,지에스25S2 상왕십리역점,2017303009105600020,37.564467359880524,127.0290302021847,정상영업,"서울특별시 성동구 왕십리로 지하 374, 207-02호 (하왕십리동, 상왕십리역)",서울특별시 성동구 하왕십리동 946번지 14호,GS25,서울,NaN,NaN
1616,GS25 노유점,2007304010305600153,37.540142590888166,127.0677045629902,정상영업,서울특별시 광진구 동일로20길 78 (자양동),서울특별시 광진구 자양4동 6번지 39호,GS25,서울,NaN,NaN
1627,세븐일레븐 건대중앙점,2005304007305600117,37.542529826973656,127.07146342812048,정상영업,서울특별시 광진구 능동로13길 6 (화양동),서울특별시 광진구 화양동 3번지 42호,세븐일레븐,서울,NaN,NaN
1671,GS25 S군자역점,2016304016805600056,37.5572037603524,127.07949029946828,정상영업,"서울특별시 광진구 천호대로 지하 550, 군자역 지하1층 (능동)",서울특별시 광진구 능동 275번지 5호,GS25,서울,NaN,NaN
1704,CU 광진웰츠점,2017304019005600077,37.538247337794886,127.08385123668683,정상영업,"서울특별시 광진구 자양로 116, 116호 (구의동, 웰츠타워)",NaN,CU,서울,NaN,NaN

## Groupby: type

In [29]:
tmp = cvs.loc[idx_same, cols_cvs].groupby('type').agg({'관리번호':'count'})
print(tmp.sum())
print(tmp.sort_values('관리번호', ascending=False))

# tmp.reset_index().to_csv('same_near_cvs.tsv', sep='\t', index=False)

del tmp

관리번호    408
dtype: int64
       관리번호
type
GS25    201
CU       97
세븐일레븐    76
미니스톱     32
씨스페이스     2

/home/jake/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

# 가장 가까운 편의점

In [30]:
lt_150.sort_values('naver_distance', ascending=True).head(20)

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
8609,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,2007324013905600118,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
8613,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,2009399021405600024,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
8611,미니스톱 역삼만남점,2010322016205600015,정상영업,미니스톱,37.495580,127.031844,미니스톱,1997362001205600154,정상영업,미니스톱,37.495578,127.031850,0.566976,12.0
64998,바이더웨이무역센터,2000322008305615906,정상영업,세븐일레븐,37.502014,127.057922,세븐일레븐 대치마루점,2009322012705600079,정상영업,세븐일레븐,37.502003,127.057917,1.266743,13.0
24741,세븐일레븐 과천원문점,2009397003205600008,정상영업,세븐일레븐,37.421158,126.991165,GS25 과천래미안점,2017397003205600013,정상영업,GS25,37.421185,126.991242,7.507307,13.0
66202,훼미리마트 뉴에버빌점,2008419015305600080,정상영업,CU,37.323882,127.957495,(주)코리아세븐 단관에버빌점,2012419020305600083,정상영업,세븐일레븐,37.323986,127.957577,13.660959,14.0
64645,훼미리마트성수점,200030300740560구16,정상영업,CU,37.544667,127.054900,씨유 성수점,2008303010305600097,정상영업,CU,37.544629,127.054673,20.421210,17.0
28120,씨유 횡계로타리점,2003428003905600016,정상영업,CU,37.672550,128.707489,GS25횡계점,2010428008305600025,정상영업,GS25,37.672292,128.707317,32.452135,17.0
2212,세븐일레븐사가정중앙점,2007306009505600030,정상영업,세븐일레븐,37.582154,127.087858,GS25 면목점,2017306014405600069,정상영업,GS25,37.582177,127.088153,26.127576,18.0
46819,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,LG25,2003377002405600057,정상영업,GS25,37.507252,127.065812,3.328684,19.0
7744,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,GS25편의점,2017338007105600012,정상영업,GS25,37.507252,127.065812,3.328684,19.0
745,씨유 동대문굿모닝시티점,2016301013005600068,정상영업,CU,37.566896,127.006810,세븐일레븐 굿모닝시티점,2014301013005600053,정상영업,세븐일레븐,37.566802,127.007357,49.397043,19.0
46820,지에스25(GS25)삼성메디슨점,2018322016205600155,정상영업,GS25,37.507257,127.065775,LG25,2002377000505600039,정상영업,GS25,37.507252,127.065812,3.328684,19.0
41875,씨스페이시스 대전월평점,2015366013405600028,정상영업,씨스페이스,36.359143,127.376886,(주)코리아세븐 대전월평제일점,2016366013405600166,정상영업,세븐일레븐,36.359052,127.377247,33.843036,19.0
37444,(주)씨스페이시스 대전구장점,2006365007905600008,정상영업,씨스페이스,36.325487,127.431148,(주)씨스페이시스 대흥상아점,2006365007905600009,정상영업,씨스페이스,36.325472,127.431130,2.262411,21.0
34569,씨유 양산황제점,2018538024905600075,정상영업,CU,35.343954,129.035474,GS25양산북부점,2006538001005600029,정상영업,GS25,35.343943,129.035329,13.261853,21.0
22395,세븐일레븐 중동한신점,2004387000305600030,정상영업,세븐일레븐,37.501038,126.772814,GS25중동미리내,2012387000205600094,정상영업,GS25,37.500988,126.773167,31.627734,22.0
13026,GS25 구서삼백점,2018335010005600034,정상영업,GS25,35.245244,129.092655,씨유 구서유림점,2017335010005600013,정상영업,CU,35.244903,129.092761,39.071602,22.0
18783,세븐일레븐 울산대학원룸점,2017370010405600054,정상영업,세븐일레븐,35.546616,129.258981,GS25울대후문점,2013370007805600009,정상영업,GS25,35.546682,129.258736,23.354851,22.0
12616,미니스톱 좌동지오점,2017333013205600023,정상영업,미니스톱,35.168514,129.178024,GS25해운주성점,2018333013205600071,정상영업,GS25,35.168288,129.178181,28.900275,23.0

# 지역별 분석

## Index: 지역분류

In [31]:
regions = ['서울', '부산', '대구', '인천', '울산', '광주광역', '대전', '제주', '세종', '경기', '강원', '충청북도', '충북', '충청남도', '충남',
           '전라남도', '전남', '전라북도', '전북', '경상북도', '경북', '경상남도', '경남']

for idx, row in cvs.iterrows():
    road_addr = row['도로명전체주소']
    old_addr = row['소재지전체주소']
    
    for r in regions:
        try:
            if r in road_addr:
                cvs.at[idx, '지역'] = r
                break
            
        except TypeError:
            try:
                if r in old_addr:
                    cvs.at[idx, '지역'] = r
                    break
            except TypeError:
                pass
#             print(road_addr)

# cols_damaged = [*cols_cvs, '지역']

cvs.loc[cvs['지역']=='충청북도']

cvs.loc[idx_damaged, cols_cvs].head(1)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
17,씨유 종로성대점,2010300012905600034,37.58443693473411,126.99702012247322,정상영업,서울특별시 종로구 성균관로5길 6 (명륜2가),서울특별시 종로구 명륜동2가 137번지 2호,CU,서울

## Group 'cvs' by '지역'

In [32]:
# cols_cvs
print(len(cvs.loc[cvs['상세영업상태명']=='정상영업', cols_cvs]))
cvs_groupby_region = cvs.loc[cvs['상세영업상태명']=='정상영업', cols_cvs].groupby('지역').agg({'관리번호': 'count'})
print(cvs_groupby_region.sum())

cvs_groupby_region.sort_values('관리번호', ascending=False)

41252
관리번호    41252
dtype: int64

       관리번호
지역
경기    10166
서울     8189
경상남도   2829
부산     2413
인천     2180
충청남도   2109
경상북도   1928
강원     1698
충청북도   1468
대구     1428
전라북도   1258
전라남도   1167
광주광역   1112
대전     1105
제주     1047
울산      888
세종      259
전북        6
전남        2

## Export

In [33]:
idx_specify = cvs['지역']=='강원'
print(len(cvs.loc[idx_damaged]))
cvs.loc[idx_damaged & idx_specify, cols_cvs]
# cvs.loc[(cvs['도로명전체주소'].str.contains('광주')) & (cvs['상세영업상태명']=='정상영업'), cols_damaged]

# Export
# cvs.loc[idx_damaged, cols_cvs].to_csv('damaged_cvs.tsv', sep='\t', index=False)
# cvs.loc[idx_damaged_100, cols_cvs].to_csv('damaged_cvs_100.tsv', sep='\t', index=False)

3011

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,type,지역
41694,씨유 춘천넥서스점,2011418016605600087,37.85234553188601,127.74519741400366,정상영업,"강원도 춘천시 퇴계농공로 9, 104호 (석사동,넥서스프라자빌딩)",강원도 춘천시 석사동 885번지 3호 넥서스프라자빌딩 104호,CU,강원
41702,GS25 춘천대학로점,2006418015505600077,37.87239325123567,127.74117138146121,정상영업,강원도 춘천시 백령로 115 (효자동),강원도 춘천시 효자동 769번지 15호,GS25,강원
41717,GS25 봄내박물관점,2011418016605600069,37.863120711424706,127.75086516458958,정상영업,"강원도 춘천시 우석로 46 (석사동,1층)",강원도 춘천시 석사동 764번지 1호 1층,GS25,강원
41751,씨유남춘천신시가지점,2013418022905600113,37.863344461062134,127.73134859479482,정상영업,"강원도 춘천시 남춘로 26, 1-3호 (퇴계동)",NaN,CU,강원
41752,세븐일레븐 춘천요선점,2014418022905600005,37.88185891265011,127.72809885770393,정상영업,강원도 춘천시 소양고개길 60 (요선동),NaN,세븐일레븐,강원
41757,미니스톱춘천석사점,2005418001605600088,37.851432053575365,127.74490189206686,정상영업,"강원도 춘천시 퇴계농공로 19 (석사동,화인프라자 1층)",강원도 춘천시 석사동 888번지 3 호 화인프라자 1층,미니스톱,강원
41802,미니스톱 춘천우석점,2017418027705600070,37.863285042073095,127.7505259118385,정상영업,강원도 춘천시 우석로 43 (석사동),NaN,미니스톱,강원
41819,씨유(CU)춘천대학로점,2015418027705600135,37.872106631260245,127.74090483341085,정상영업,강원도 춘천시 백령로 111 (효자동),NaN,CU,강원
41834,씨유 춘천요선점,2003418001605600053,37.88142336121095,127.72743529481147,정상영업,강원도 춘천시 서부대성로48번길 22 (요선동),강원도 춘천시 요선동 14번지 6 호,CU,강원
41845,이마트24 춘천강북점,2017418027705600031,37.89930902618172,127.72911208321574,정상영업,"강원도 춘천시 충열로16번길 15, 1층 (우두동)",NaN,이마트24,강원
41876,씨유(CU)춘천우두대로점,2015418027705600106,37.898937614393375,127.7285672309974,정상영업,강원도 춘천시 영서로 2752-1 (우두동),NaN,CU,강원
41882,씨유 춘천 프라임점,2015418027705600066,37.851253016043856,127.7441501880511,정상영업,"강원도 춘천시 퇴계농공로 22, 1층 104호 (석사동, 프라임타워)",NaN,CU,강원
41921,GS25 춘천대로점,2004418001605600171,37.85258703112771,127.74575887329277,정상영업,"강원도 춘천시 영서로 2025 (석사동,탑클리닉빌딩)",강원도 춘천시 석사동 885번지 2 호 탑클리닉빌딩,GS25,강원
41934,CU 원주태장대로점,2018419024105600084,37.38323344749131,127.95788417778455,정상영업,NaN,강원도 원주시 태장동 540번지 9호,CU,강원
41939,지에스25영서본부점,2018419024105600061,37.340449479168676,127.92307030238747,정상영업,"강원도 원주시 시청로 25, 1층 101,102호 (무실동)",강원도 원주시 무실동 1721번지 10호,GS25,강원
41968,미니스톱 원주구곡한일점,2017419028305600004,37.329259527612564,127.94942566833652,정상영업,"강원도 원주시 남원로 526-1, 상가동 103,104,105,106호 (단구동)",강원도 원주시 단구동 1517번지 2호 한일아파트 상가,미니스톱,강원
41983,GS25원주단계,2014419020305600004,37.34596142775567,127.93253627918543,정상영업,강원도 원주시 장미공원길 25-13 (단계동),NaN,GS25,강원
41989,CU단계공원점,2017419024105600067,37.345865816350134,127.9304901808536,정상영업,"강원도 원주시 장미공원길 43-9, 1층 (단계동)",강원도 원주시 단계동 853번지,CU,강원
41997,세븐일레븐 단구점,2000419007905601045,37.329839331231554,127.94903129030942,정상영업,강원도 원주시 남원로 528-23 (단구동),강원도 원주시 단구동 1514번지 1호,세븐일레븐,강원
42016,세븐일레븐 신원주본점,2003419011505600039,37.346437168790594,127.93207720090594,정상영업,강원도 원주시 장미공원길 27-5 (단계동),강원도 원주시 단계동 847번지,세븐일레븐,강원
42037,CU단계C2점,2015419024105600138,37.34734021248736,127.93181750956444,정상영업,"강원도 원주시 장미공원길 32, 1층 103호 (단계동, C2타워)",NaN,CU,강원
42059,주식회사 이마트24 원주시청로점,2017419024105600091,37.34013600472164,127.92217503627981,정상영업,"강원도 원주시 시청로 22, 103,104호 (무실동, 리젠트프라자)",강원도 원주시 무실동 1720번지 6호,이마트24,강원
42065,씨유원주봉산으뜸,2017419024105600035,37.34191840928275,127.96525282998758,정상영업,"강원도 원주시 행구로 73, 1층 (봉산동)",강원도 원주시 봉산동 1194번지 5호,CU,강원
42074,이마트24 원주단계이룸점,2018419024105600037,37.34583792749752,127.93082839880296,정상영업,"강원도 원주시 북원로 2235-12, 이룸레지던스 106,107호 (단계동)",강원도 원주시 단계동 853번지 1호 이룸레지던스,이마트24,강원
42092,GS25원주봉산점,2016419024105600132,37.34210832554627,127.96582852955291,정상영업,강원도 원주시 삼광2길 16 (봉산동),강원도 원주시 봉산동 1194번지 1호,GS25,강원
42105,GS25 원주상지제일점,2016419024105600049,37.369766170365914,127.9361317676032,정상영업,"강원도 원주시 상지대길 57, 1층 (우산동)",강원도 원주시 우산동 200번지 1호,GS25,강원
42107,미니스톱 원주단계3호점,2016419024105600054,37.34704183336951,127.93217947481068,정상영업,강원도 원주시 장미공원길 27 (단계동),강원도 원주시 단계동 846번지,미니스톱,강원
42116,세븐일레븐원주중부타워점,2018419024105600035,37.34098267891944,127.92309488428671,정상영업,"강원도 원주시 시청로 21-1, 102호 (무실동)",강원도 원주시 무실동 1724번지 4호,세븐일레븐,강원
42129,씨유 단계중앙점,2016419024105600099,37.34575246467492,127.93161280693865,정상영업,"강원도 원주시 북원로 2235-6, 1층 (단계동, 남원주타워)",강원도 원주시 단계동 853번지 5호,CU,강원
42177,세븐일레븐 상지대양지점,2007419015305600158,37.36965815338144,127.93702902713426,정상영업,강원도 원주시 우산로 70 (우산동),강원도 원주시 우산동 136번지 1호 10통 3반,세븐일레븐,강원
...,...,...,...,...,...,...,...,...,...
43388,세븐일레븐홍천점,2003425004205600029,37.69032570195643,127.88314235545899,정상영업,강원도 홍천군 홍천읍 신장대로 62,강원도 홍천군 홍천읍 신장대리 77번지 3호,세븐일레븐,강원
43401,씨유(CU) 홍천드림점,2012425009605600022,37.690828215456904,127.88293063458818,정상영업,강원도 홍천군 홍천읍 꽃뫼로 84,강원도 홍천군 홍천읍 신장대리 78번지 7호,CU,강원
43427,GS25 새말IC점,2016426008805600005,37.44933371508332,128.0751060938381,정상영업,강원도 횡성군 우천면 한우로 1406,강원도 횡성군 우천면 우항리 383번지 1호,GS25,강원
43442,세븐일레븐 횡성둔내대박점,2017426008805600003,37.512705650916594,128.21367886286447,정상영업,"강원도 횡성군 둔내면 둔내로 27, 1층",NaN,세븐일레븐,강원
43449,미니스톱 횡성둔내점,2015426008805600011,37.51254694726188,128.21404274286093,정상영업,강원도 횡성군 둔내면 둔내로 30,NaN,미니스톱,강원
43456,CU횡성새말IC점,2018426008805600005,37.44936357949558,128.07578456995265,정상영업,강원도 횡성군 우천면 한우로 1413,강원도 횡성군 우천면 우항리 412번지,CU,강원
43516,씨유평창점,2000428000505600011,37.36783076258262,128.39564757788418,정상영업,NaN,강원도 평창군 평창읍 하리 157호,CU,강원
43523,씨유 횡계점,2006428003905600022,37.67195592299177,128.70939471542158,정상영업,NaN,강원도 평창군 대관령면 횡계리 316-2호,CU,강원
43533,GS25 평창점,2008428003905600008,37.36747956339126,128.39578555968933,정상영업,강원도 평창군 평창읍 평창중앙로 36,강원도 평창군 평창읍 하리 156번지 5호,GS25,강원
43534,씨유 횡계로타리점,2003428003905600016,37.67255047154482,128.70748902622984,정상영업,NaN,강원도 평창군 대관령면 횡계리 323번지 2호,CU,강원
43545,지에스(GS)25횡계올리브점,2013428009405600022,37.67122798183788,128.70964548589293,정상영업,NaN,강원도 평창군 대관령면 횡계리 314-10번지 103호,GS25,강원
43551,미니스톱 평창읍내점,2018428009405600009,37.36860525483604,128.39567547298515,정상영업,강원도 평창군 평창읍 노성로 101,강원도 평창군 평창읍 하리 168번지 7호,미니스톱,강원
43567,GS25횡계점,2010428008305600025,37.672292323769504,128.70731702059734,정상영업,강원도 평창군 대관령면 대관령로 100,강원도 평창군 대관령면 횡계리 321번지 7호,GS25,강원
43619,씨유 고한배달점,2009429004005600026,37.201587432326306,128.85290130389632,정상영업,강원도 정선군 고한읍 고한로 149,강원도 정선군 고한읍 고한리 62번지 248호 10통 3반,CU,강원
43646,GS 25 뉴정선고한점,2016429007205600001,37.20144171900367,128.85300135743225,정상영업,"강원도 정선군 고한읍 고한로 149-2, 1층",NaN,GS25,강원
43690,CU 철원금강산점,2014430006905600006,38.145438544942294,127.30735072281244,정상영업,"강원도 철원군 갈말읍 명성로149번길 10, 1층",NaN,CU,강원
43692,씨유 철원동송점,2018430008505600010,38.209697064051056,127.2174241256914,정상영업,강원도 철원군 동송읍 금학로 238,강원도 철원군 동송읍 이평리 853번지 68호,CU,강원
43693,세븐일레븐 신철원터미널점,2018430008505600011,38.14537157640898,127.30815355301415,정상영업,강원도 철원군 갈말읍 명성로 154,강원도 철원군 갈말읍 신철원리 977번지 8호 신철원버스터미널,세븐일레븐,강원
43701,GS25 동송이평,2015430008005600015,38.2103176374125,127.21701492459383,정상영업,강원도 철원군 동송읍 금학로 244-1,NaN,GS25,강원
43723,씨유화천사내점,2010431005205600003,38.07142642914,127.52119550089736,정상영업,강원도 화천군 사내면 사내로 37-2,강원도 화천군 사내면 사창리 457번지 42호 2통 2반,CU,강원
43733,씨유 화천사내중앙점,2016431005205600003,38.0716635743766,127.52135217330118,정상영업,강원도 화천군 사내면 사내로 40-4,강원도 화천군 사내면 사창리 455번지 1호,CU,강원
43734,GS25사내제일점,2017431005205600004,38.07124983621732,127.52119880631655,정상영업,강원도 화천군 사내면 사내로 35 (GS마트),NaN,GS25,강원
43753,CU양구임당점,2016432004705600011,38.20201971059656,128.044472962783,정상영업,강원도 양구군 양구읍 금강산로 1694,강원도 양구군 양구읍 599번지 1호,CU,강원
43765,GS25 양구동면점,2016432004705600007,38.20162095630684,128.04433483749116,정상영업,강원도 양구군 동면 금강산로 1688,NaN,GS25,강원
43830,GS25 고성경동대점,2016434005905600001,38.252284824340435,128.56080095693426,정상영업,강원도 고성군 토성면 봉포4길 30 (CU),NaN,GS25,강원
43832,세븐일레븐 고성경동대점,2016434005905600017,38.25256867163658,128.56194482059712,정상영업,강원도 고성군 토성면 봉포4길 19 (세븐일레븐),강원도 고성군 토성면 봉포리 258번지 10호,세븐일레븐,강원
68444,(주)코리아세븐 춘천남춘천로점,2011418022905600017,37.86412385210595,127.73176995237648,정상영업,강원도 춘천시 남춘로 36 (효자동),강원도 춘천시 효자2동 367번지 18호,세븐일레븐,강원
68469,(주)코리아세븐 단관에버빌점,2012419020305600083,37.3239860577441,127.95757720609596,정상영업,"강원도 원주시 단구로 360, 1층 (단구동)",강원도 원주시 단구동 1615번지 12호,세븐일레븐,강원
77899,훼미리마트 춘천넥서스점,2008418016605600258,37.85234553188601,127.74519741400366,정상영업,"강원도 춘천시 퇴계농공로 9, 104호 (석사동,넥서스프라자)",강원도 춘천시 석사동 885번지 3호 넥서스프라자 104호,CU,강원
77928,훼미리마트 뉴에버빌점,2008419015305600080,37.32388220988492,127.95749465718595,정상영업,강원도 원주시 단구로 362 (단구동),강원도 원주시 단구동 1615번지 11호,CU,강원

## Validation: 지역&피해

In [34]:
number = '2017419024105600091'
idx_choose_cvs = (deduped['src']==number) | (deduped['dst']==number)
deduped.loc[idx_active & idx_choose_cvs, cols_distance]

# del tmp

,src_name,src,src_status,src_type,src_lat,src_lng,dst_name,dst,dst_status,dst_type,dst_lat,dst_lng,line_distance,naver_distance
27630,주식회사 이마트24 원주시청로점,2017419024105600091,정상영업,이마트24,37.340136,127.922175,지에스25영서본부점,2018419024105600061,정상영업,GS25,37.340449,127.92307,86.481865,83.0

In [35]:
tmp = cvs.loc[idx_damaged & cvs['지역'].isna(), cols_cvs]
print(len(tmp))
tmp.head()

0

Empty DataFrame
Columns: [사업장명, 관리번호, lat, lng, 상세영업상태명, 도로명전체주소, 소재지전체주소, type, 지역]
Index: []

## Groupby: 지역 & Export

In [36]:
tmp = cvs.loc[idx_damaged].groupby('지역').agg({'관리번호': 'count'})
print(tmp.sum())
tmp = tmp.rename(columns={'관리번호':'편의점 수'})

tmp.sort_values('편의점 수', ascending=False)

# Export
# tmp.sort_values('편의점 수', ascending=False).reset_index().to_csv('damaged_cvs_groupby_region.tsv', sep='\t', index=False)

관리번호    3011
dtype: int64

      편의점 수
지역
서울      907
경기      737
부산      204
인천      181
경상남도    179
광주광역     96
강원       95
대전       85
대구       79
경상북도     77
충청남도     69
충청북도     65
전라남도     64
울산       52
제주       51
전라북도     50
세종       20