# Import

In [1]:
from datetime import datetime
import re

import numpy as np
import pandas as pd

from db.mongo import MyMongo

# DB

In [2]:
with MyMongo() as db:
    cvs = db.get_df_from_table('cvs', 'cvs')
    distance = db.get_df_from_table('cvs', 'src_dst')

    
stop_words = ['ccup', 'mercury 전자담배', 'in cups', 'focus24', 'lgstar', 'gstop', 'sicuro', 'gs슈퍼', 'gs칼텍스', 't-cube']
stop_string = '|'.join(stop_words)

cvs = cvs.loc[~cvs['사업장명'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)]

idx_tmp1 = distance['src_name'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)
idx_tmp2 = distance['dst_name'].str.contains(stop_string, flags=re.IGNORECASE, regex=True)

# print(len(distance))
# print(len(distance.loc[~(idx_tmp1 | idx_tmp2), cols_distance]))

distance = distance.loc[~(idx_tmp1 | idx_tmp2)]
del idx_tmp1, idx_tmp2

<--Mongo Connected.
Mongo Connection Closed.-->

# Validate: cvs dedupe

In [3]:
print(len(cvs))
tmp = cvs.groupby('관리번호').agg({'관리번호': 'count'})
print(len(tmp))
# print(tmp.loc[tmp['관리번호']>=2])

del tmp

81458
81458

# Validate: cvs 정상영업

In [4]:
print(len(cvs.loc[cvs['상세영업상태명']=='정상영업']))

41252

# Functions

In [5]:
def add_(elem, list_):
    try:
        list_.remove(elem)
    except (KeyError, ValueError):
        pass
    finally:
        list_.append(elem)

# Columns

In [6]:
cvs.head(1)
print(cvs.columns)
cols_cvs = ['사업장명', '관리번호', 'lat', 'lng', '상세영업상태명', '도로명전체주소', '소재지전체주소', '인허가일자', '폐업일자']
cvs.loc[::, cols_cvs].head(1)
# print(distance.columns)
# cols_distance = ['src_name', 'src', 'src_status', 'src_lat', 'src_lng', 'dst_name', 'dst', 'dst_status', 'dst_lat', 'dst_lng',
#                  'line_distance', 'naver_distance']

Index(['_id', 'lat', 'lng', '개방서비스ID', '개방서비스명', '개방자치단체코드', '관리번호', '데이터갱신구분',
       '데이터갱신일자', '도로명우편번호', '도로명전체주소', '민원종류명', '번호', '사업장명', '상세영업상태명',
       '상세영업상태코드', '소재지면적', '소재지우편번호', '소재지전체주소', '소재지전화', '업태구분명', '영업상태구분코드',
       '영업상태명', '인허가일자', '인허가취소일자', '재개업일자', '좌표정보(X)', '좌표정보(Y)', '지정일자',
       '최종수정시점', '폐업일자', '휴업시작일자', '휴업종료일자'],
      dtype='object')

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자
0,세븐일레븐 종로허브점,2006300010105600037,37.57559556952654,126.98582687874092,정상영업,"서울특별시 종로구 삼일대로 461 (경운동,운현궁SK허브 101동 102호)",서울특별시 종로구 경운동 89번지 4 호 운현궁SK허브 101동 102호,20060921,NaN

# Add '개업연도' to 'cvs'

In [7]:
cvs['개업연도'] = cvs['인허가일자'].str[:4]

# cols_cvs.add('개업연도')
add_('개업연도', cols_cvs)

# print(cvs.loc[idx_active, cols_cvs].head(1))

idx_open_date_isna = cvs['개업연도'].isna()
print(len(cvs.loc[idx_open_date_isna]))
cvs.at[idx_open_date_isna, '개업연도'] = cvs['관리번호'].str[:4]

idx_open_date_isna = cvs['개업연도'].isna()
print(len(cvs.loc[idx_open_date_isna]))
cvs.loc[idx_open_date_isna, cols_cvs]

1
0

Empty DataFrame
Columns: [사업장명, 관리번호, lat, lng, 상세영업상태명, 도로명전체주소, 소재지전체주소, 인허가일자, 폐업일자, 개업연도]
Index: []

# Index: outlier (<=1997)

In [8]:
idx_outlier = cvs['개업연도'].apply(lambda x: int(str(x)[:4]))<=1997
print(len(cvs.loc[idx_outlier]))
cvs.loc[idx_outlier, cols_cvs]

552

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도
68,GS25 명륜성대점,1997300007605600109,37.58788231984712,126.99658068202098,정상영업,서울특별시 종로구 명륜길 2 (명륜1가),서울특별시 종로구 명륜1가 15호,19970321,NaN,1997
418,GS25 남산조이점,2000301007105600457,37.55844042524469,126.98437692470895,정상영업,서울특별시 중구 소공로6길 24 (남산동1가),서울특별시 중구 남산동1가 18번지 1 호,19940507,NaN,1994
712,씨유 삼성화재사옥점,2000301007105600030,37.566487635370606,126.98102481848457,폐업처리,서울특별시 중구 을지로 29 (을지로1가),서울특별시 중구 을지로1가 87호,19931020,20140109.0,1993
898,약수중앙점미니스톱,2000301007105601176,37.55460636918785,127.0102443373158,폐업처리,서울특별시 중구 다산로 117 (신당동),서울특별시 중구 신당동 369번지 9호,19960525,20050205.0,1996
927,씨유 용산삼구빌딩점,2001302007405600527,37.53180334553567,126.95604377175701,정상영업,서울특별시 용산구 청파로 40 (한강로3가),서울특별시 용산구 한강로3가 16번지 49호,19911218,NaN,1991
954,씨유 후암아리랑점,2001302007405600033,37.54605974656238,126.97827796673961,정상영업,서울특별시 용산구 후암로 1 (후암동),서울특별시 용산구 후암동 194번지 8호,19850630,NaN,1985
1725,씨유(CU) 건국타운점,2000304007305600203,37.54505761314455,127.0750416220281,정상영업,서울특별시 광진구 능동로16길 35 (화양동),서울특별시 광진구 화양동 500번지 3호,19921128,NaN,1992
1746,세븐일레븐 노유점,2000304007305601097,37.536455525854066,127.06142849098518,정상영업,서울특별시 광진구 동일로 44-10 (자양동),서울특별시 광진구 자양4동 236번지 26호,19960619,NaN,1996
1773,세븐일레븐 자양점,2000304007305600326,37.53358607807819,127.07504822893948,정상영업,서울특별시 광진구 뚝섬로 585 (자양동),서울특별시 광진구 자양3동 520번지 9호,19970417,NaN,1997
2015,(주)지에스리테일 자양점,2000304007305600126,37.543574425797935,127.06969492511035,폐업처리,NaN,서울특별시 광진구 자양동 553번지 502호,19970908,20070404.0,1997
2026,세븐일레븐구의4호점,2000304007305600997,NaN,NaN,폐업처리,NaN,서울특별시 광진구 구의동 221번지 40호,19950301,20040930.0,1995
2032,미니스톱,2000304007305600162,37.49557794378786,127.03185020982899,폐업처리,NaN,서울특별시 광진구 중곡동 18번지 73호,19940916,20011227.0,1994
2039,미니스톱자양점,2000304007305600207,37.531617700455605,127.08645502331566,폐업처리,NaN,서울특별시 광진구 자양동 685호,19971204,20011022.0,1997
2040,GS25 자양점,2000304007305600369,36.335302292764226,127.45011768396402,폐업처리,NaN,서울특별시 광진구 자양동 553번지 501호,19960605,20050920.0,1996
2093,세븐일레븐,2000304007305601185,35.208935264300756,129.03318471665904,폐업처리,NaN,서울특별시 광진구 광장동 337번지 4호,19971113,20050831.0,1997
2175,미니스톱(신설점),1997305008205601061,37.57506760387939,127.0249454227908,폐업처리,"서울특별시 동대문구 천호대로 11-3 (신설동,고흥B/D)",서울특별시 동대문구 용신동 102번지 26호 고흥B/D,19971112,20031205.0,1997
2396,서울시립대학교 씨유 학생회관점,1989305008205608028,37.582576494365554,127.05999005076032,정상영업,서울특별시 동대문구 서울시립대로 163 (전농동),서울특별시 동대문구 전농동 90호,19890419,NaN,1989
2397,세븐일레븐제기미주점,1997305008205605048,37.579004080767135,127.03539366257945,정상영업,서울특별시 동대문구 정릉천동로 80 (제기동),서울특별시 동대문구 제기동 892번지 68호,19970827,NaN,1997
2399,지에스25 고대으뜸,1991305008205605031,37.588205165955294,127.03491795373104,정상영업,서울특별시 동대문구 안암로22길 2 (제기동),서울특별시 동대문구 제기동 137번지 66호,19910429,NaN,1991
3271,미니스톱보문점,1997307009905600004,37.58187267372086,127.02103051140656,폐업처리,서울특별시 성북구 보문로 73 (보문동5가),서울특별시 성북구 보문동5가 156번지 1호,19971031,20020513.0,1997
3623,세븐일레븐(수유사거리점),2001308007505600851,37.63609748726303,127.02283132310949,정상영업,서울특별시 강북구 수유로 84 (수유동),서울특별시 강북구 수유동 7번지 4 호,19960409,NaN,1996
3639,씨유 수유중앙점,1989308007505600690,37.63867752469118,127.02473554394837,정상영업,서울특별시 강북구 한천로139길 46 (수유동),서울특별시 강북구 수유동 192번지 4 호,19890809,NaN,1989
3643,세븐일레븐미아제일점,1980308007505600505,37.61257253188427,127.03145906151613,정상영업,서울특별시 강북구 도봉로8길 21 (미아동),서울특별시 강북구 미아동 860번지 191호,19800101,NaN,1980
3856,미니스톱창동신한점,1997309008705612039,37.653330609296184,127.0493357542995,정상영업,"서울특별시 도봉구 마들로11길 71, 107호 (창동,신한빌딩)",서울특별시 도봉구 창동 3번지 4호 신한빌딩 107호,19970430,NaN,1997
4224,GS25 노원구점,1997310009605620053,37.654580395476486,127.05888749701333,정상영업,"서울특별시 노원구 노해로75길 14-26, 1층 (상계동, 효림빌딩)",서울특별시 노원구 상계동 708번지 3호 효림빌딩 1층,19970325,NaN,1997
4740,세븐일레븐(연신내점),1992311008805610058,37.61731978595415,126.92323211518168,정상영업,서울특별시 은평구 통일로 822 (불광동),서울특별시 은평구 불광동 301번지 23 호,19920721,NaN,1992
4741,세븐일레븐응암점,1992311008805610185,37.5932487398627,126.92292168598935,정상영업,서울특별시 은평구 백련산로 85 (응암동),서울특별시 은평구 응암동 236번지 33호,19921021,NaN,1992
4762,GS25은평한남,1983311008805610116,37.611746496590314,126.91074315697719,정상영업,서울특별시 은평구 갈현로 155-3 (구산동),서울특별시 은평구 구산동 14번지 39 호,19831024,NaN,1983
4951,미니스톱연신내점,1967311008805600283,37.61813616495728,126.92063516677118,폐업처리,서울특별시 은평구 연서로28길 6 (대조동),서울특별시 은평구 대조동 198번지 3호,19671017,20011113.0,1967
4979,세븐일레븐(구산2호점),1992311008805610127,37.611163506821605,126.91684164838102,폐업처리,서울특별시 은평구 연서로 137 (구산동),서울특별시 은평구 구산동 1번지 1호,19921111,20160803.0,1992
...,...,...,...,...,...,...,...,...,...,...
79386,LG25 포항점,2000504001905600050,36.04002112910955,129.3666361351953,폐업처리,NaN,경상북도 포항시북구 상원동 442-14호,19950802,20030217.0,1995
79453,LG25시 대이점,2000503002805600163,36.013289459492,129.3481812360865,폐업처리,NaN,경상북도 포항시남구 대잠동 966-3호,19961018,20030721.0,1996
79593,훼미리마트 충효그린점,1996505010005600394,35.842211991799694,129.1853571455757,폐업처리,경상북도 경주시 충효녹지길 52 (충효동),경상북도 경주시 충효동 2987번지 5호,19960503,20070405.0,1996
79599,LG25경주동국점,1993505010005600226,35.855417937633796,129.2064393378665,폐업처리,경상북도 경주시 동대로 4 (성건동),경상북도 경주시 성건동 620번지 431호,19931019,20020430.0,1993
79600,훼미리마트안강점,1994505010005600935,35.992731209849126,129.21887053424734,폐업처리,NaN,경상북도 경주시 안강읍 양월리 1195번지 3호,19940801,20061023.0,1994
79672,LG25구미신평점,2000508001905600243,36.12304894184986,128.36435650155943,폐업처리,NaN,경상북도 구미시 신평동 70-272호,19970411,20031001.0,1997
79676,LG25금오중앙점,2000508001905601122,36.12690128399277,128.34049694979987,폐업처리,경상북도 구미시 금오시장로3길 12-24 (원평동),경상북도 구미시 원평동 1027호,19970623,20020824.0,1997
79678,LG25원평제일점,2000508001905601043,36.12285844383344,128.34999377037585,폐업처리,NaN,경상북도 구미시 원평동 1069-9호,19960627,20020912.0,1996
79686,훼미리마트구미원평점,2000508001905601101,36.125743985691805,128.34469818139652,폐업처리,경상북도 구미시 송원서로8길 4 (원평동),경상북도 구미시 원평동 1049호,19970324,20041115.0,1997
79691,LG25구미금오점,2000508001905600975,36.12604216701538,128.34125099339244,폐업처리,NaN,경상북도 구미시 원평동 1032-4호,19950808,20030903.0,1995
79692,LG25구미제일점,2000508001905600979,36.10170489656724,128.38303328944374,폐업처리,NaN,경상북도 구미시 공단동 264-8호,19950816,20040421.0,1995
79849,LG25시경산정평점,2000513000005600590,35.83021417322587,128.7298540737227,폐업처리,NaN,경상북도 경산시 정평동 246-29호,19970519,19981026.0,1997
79894,훼미리마트 강구면,1987518004405600420,36.3600029034693,129.38813986607454,폐업처리,경상북도 영덕군 강구면 영덕대게로 87,경상북도 영덕군 강구면 강구리 261호,19871030,20020819.0,1987
80096,훼미리마트,2000533001505600636,34.82484576631167,128.41529700898892,폐업처리,경상남도 통영시 봉수로 74 (봉평동),경상남도 통영시 봉평동 298번지 9호,19960410,20020530.0,1996
80359,덕산훼미리마트,2000537000005616044,34.900228496396764,128.6856304098086,폐업처리,NaN,경상남도 거제시 옥포동 1279호 덕산4차 APT 상가 104호,19971129,20121022.0,1997
80494,훼미리마트,1996541000805600015,35.542643250834395,128.48986009911692,폐업처리,경상남도 창녕군 창녕읍 창녕대로 3,경상남도 창녕군 창녕읍 교리 1050번지 8 호,19960710,20030409.0,1996
80615,바이더웨이 화성송곡점,2000412001205600689,37.12867430249003,126.96672122958655,폐업처리,경기도 화성시 향남읍 발안로 558,경기도 화성시 향남읍 송곡리 149번지 5호,19961018,20090918.0,1996
80624,LG25화성남양점,2000412001205600309,37.208914819869555,126.81426104890767,폐업처리,경기도 화성시 남양시장로 45 (남양동),경기도 화성시 남양동 556호,19870321,20090108.0,1987
80694,훼미리마트 증평점,2000643017705600081,36.784161038355336,127.5840354390354,폐업처리,충청북도 증평군 증평읍 광장로 110-1,충청북도 증평군 증평읍 중동리 83번지,19971103,20101125.0,1997
80857,LG25시 백남병원구내매점,1996529000005600308,35.18631310783513,128.56160338646615,폐업처리,경상남도 창원시 마산합포구 3·15대로 76 (월남동2가),경상남도 마산시 월남동2가 5호,19960727,20030118.0,1996
80876,LG25 창동점,1990529000005600677,35.20823912684903,128.57435683899146,폐업처리,NaN,경상남도 마산시 중성동 20-73호,19900713,20020628.0,1990
80918,보광훼미리마트,1994529000005600212,35.17966356696193,128.5631534503826,폐업처리,NaN,경상남도 마산시 해운동 42-10호,19941017,20021025.0,1994
80922,LG25편의점,1994529000005600374,35.1979147035355,128.56739861470018,폐업처리,NaN,경상남도 마산시 중앙동3가 4-10호,19940421,20020216.0,1994
81052,LG25시,1993529000005600203,35.17931677666263,128.55873407788215,지정취소,NaN,경상남도 마산시 해운동 5-92호,19930906,NaN,1993
81116,훼미리마트조치원점,1990456000005600058,36.622924268868324,127.29013837273314,폐업처리,NaN,충청남도 연기군 동면 응암리 172번지 13 호,19901113,20100806.0,1990
81208,훼미리마트 북문로점,1997437000005600041,36.635472628425724,127.48992846332514,폐업처리,충청북도 청주시 상당구 상당로81번길 9-1 (북문로1가),충청북도 청주시 상당구 북문로1가 17-4번지,19970623,20060914.0,1997
81209,바이더웨이,1997437000005600044,36.6618319575364,127.47580546966641,폐업처리,충청북도 청주시 청원구 새터로 146 (사천동),충청북도 청주시 청원구 사천동 404-6번지,19970707,20060414.0,1997
81216,(주)바이더웨이흥덕1호점,1997438000405600003,36.634688731629716,127.46053955071913,폐업처리,충청북도 청주시 서원구 1순환로 661 (사창동),충청북도 청주시 서원구 사창동 257-1번지,19970919,20130206.0,1997
81217,훼미리마트 청주대점,1996437000005600028,36.65137724882826,127.48867823200833,폐업처리,충청북도 청주시 청원구 상당로 257 (우암동),충청북도 청주시 청원구 우암동 235-12번지,19960626,20010703.0,1996
81313,엘지25청주봉명점,1997438000405600038,36.643731908591434,127.46161321865299,폐업처리,충청북도 청주시 흥덕구 과상미로 11 (봉명동),충청북도 청주시 흥덕구 봉명동 1778번지,19970424,20010829.0,1997

# Index: closed

In [9]:
print(cvs['상세영업상태명'].value_counts())

idx_closed = (cvs['상세영업상태명']=='폐업처리')

정상영업        41252
폐업처리        38437
지정취소         1010
직권취소          583
영업정지           96
휴업처리           62
임시소매기간만료       18
Name: 상세영업상태명, dtype: int64

# Index: active

In [10]:
idx_active = (cvs['상세영업상태명']=='정상영업')
# cvs.loc[idx_active, cols_cvs].head(1)

# Index: closed_date_isna

In [11]:
idx_closed_date_isna = cvs['폐업일자'].isna()

# Validation: 폐업일자==NaN (20)

In [12]:
print(len(cvs.loc[idx_closed&idx_closed_date_isna]))
cvs.loc[idx_closed & idx_closed_date_isna, cols_cvs]

20

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도
40694,GS25김포북변점,2005409009305600040,37.626975498656016,126.70298472775872,폐업처리,경기도 김포시 봉화로 167 (북변동),경기도 김포시 북변동 775호,20050511,NaN,2005
40788,미니스톱김포대곶점,2004409006505600017,37.65219208030824,126.58991841963676,폐업처리,NaN,경기도 김포시 대곶면 율생리 350-15호,20040219,NaN,2004
52372,GS25 포항죽도점,2006504002705600010,36.0332669683089,129.36482773351764,폐업처리,경상북도 포항시 북구 죽도로 40 (죽도동),경상북도 포항시북구 죽도동 45번지 9 호,20060310,NaN,2006
68406,(주)코리아세븐 김포2호점,2002409006505600075,37.62733031649042,126.70507223357,폐업처리,경기도 김포시 북변1로 18 (북변동),경기도 김포시 북변동 716호,20020702,NaN,2002
68408,(주)코리아세븐 김포2호점,2004409006505600035,37.62733031649042,126.70507223357,폐업처리,경기도 김포시 북변1로 18 (북변동),경기도 김포시 북변동 716호,20040326,NaN,2004
77703,훼미리마트 김포사우점,2002409006505600021,37.62080268761519,126.71948356466199,폐업처리,NaN,경기도 김포시 북변동 815호 청구.한라아파트 단지상가 1층 106호,20020306,NaN,2002
77704,LG25김포프라자,2001409006505600011,37.62253542192214,126.72068229602344,폐업처리,"경기도 김포시 사우중로73번길 38 (북변동,김포프라자)",경기도 김포시 북변동 819호 김포프라자,20010208,NaN,2001
77714,훼미리마트 김포제일점,2002409006505600046,37.62354593263838,126.71226889285451,폐업처리,"경기도 김포시 중구로 27 (북변동,1층)",경기도 김포시 북변동 858호 1층,20020501,NaN,2002
77743,LG25김포북변,2004409009305600015,37.626975498656016,126.70298472775872,폐업처리,NaN,경기도 김포시 북변동 775번지호,20040602,NaN,2004
77752,바이더웨이 오리온 마송점,2004409006505600024,37.69059747106477,126.6000243947861,폐업처리,경기도 김포시 통진읍 조강로 52,경기도 김포시 통진읍 서암리 717번지 7호,20040305,NaN,2004
77754,훼미리마트 김포등기소점,2004409006505600031,37.61814540540477,126.71597771054826,폐업처리,경기도 김포시 봉화로 13 (사우동),경기도 김포시 사우동 248번지 1호,20040323,NaN,2004
77757,훼미리마트 김포휴게소점,2004409009305600004,37.66934590277627,126.64646503699949,폐업처리,NaN,경기도 김포시 양촌면 누산리 1279호 1층,20040504,NaN,2004
77759,훼미리마트 김포마송점,1999409004405600078,37.690634508706175,126.6003189780957,폐업처리,NaN,경기도 김포시 통진읍 서암리 717호,19990817,NaN,1999
77760,훼미리마트,2000409004405600025,37.648275507618685,126.68522299545025,폐업처리,NaN,경기도 김포시 장기동 543호 4차월드상가 229-101,20000504,NaN,2000
77762,훼미리마트 김포대곶점,2001409006505600049,37.65073902307192,126.58457331216285,폐업처리,경기도 김포시 대곶면 율생로 66,경기도 김포시 대곶면 율생리 450번지 1호,20010711,NaN,2001
77763,훼미리마트,2001409006505600119,37.604139931985266,126.72180202169525,폐업처리,NaN,경기도 김포시 풍무동 408-18호,20011121,NaN,2001
77765,훼미리마트 김포신안점,2001409006505600036,37.620295340475764,126.70074135062909,폐업처리,"경기도 김포시 감정로 35 (감정동,1층1호)",경기도 김포시 감정동 607번지 5호 1층1호,20010514,NaN,2001
77766,훼미리마트 김포사우점,2002409006505600141,37.62080268761519,126.71948356466199,폐업처리,NaN,경기도 김포시 북변동 815호 풍년마을상가동 106,20021224,NaN,2002
77767,훼미리마트김포신화점,2000409004405600161,37.6251926249652,126.701981376599,폐업처리,NaN,경기도 김포시 감정동 신화상가 109호호,20000918,NaN,2000
81422,훼미리마트 제주제원점,2007651005805600013,33.488012758808324,126.49028917500095,폐업처리,제주특별자치도 제주시 신광로 45 (연동),제주특별자치도 제주시 연동 272번지 19 호,20070406,NaN,2007

# Add 'type' to 'cvs'

In [13]:

types = [
    'gs', '지에스', 'lg25', '엘지25',
     '씨유', 'cu', '훼미리마트', '훼밀리마트', '패밀리마트', 'familymart',
     '세븐일레븐', '코리아세븐', '바이더웨이', 'buytheway',
     '이마트24', 'emart24', '위드미',
     '미니스톱', '미니스탑', '대상유통',
     '씨스페이스', '씨스페이시스'
]

normalised_types = {
    'gs': 'GS25',
    '지에스': 'GS25',
    'lg25': 'GS25',
    '엘지25': 'GS25',
    
    '씨유': 'CU',
    'cu': 'CU',
    '훼미리마트': 'CU',
    '훼밀리마트': 'CU',
    '패밀리마트': 'CU',
    'familymart': 'CU',
    
    '세븐일레븐': '세븐일레븐',
    '코리아세븐': '세븐일레븐',
    '바이더웨이': '세븐일레븐',
    'buytheway': '세븐일레븐',
    
    '이마트24': '이마트24',
    'emart24': '이마트24',
    '위드미': '이마트24',
    
    '미니스톱': '미니스톱',
    '미니스탑': '미니스톱',
    '대상유통': '미니스톱',
    
    '씨스페이스': '씨스페이스',
    '씨스페이시스': '씨스페이스',
}

for idx, row in cvs.iterrows():
    name = row['사업장명'].lower()
    
    for t in types:
        if t in name:
            cvs.at[idx, '종류'] = normalised_types[t]

add_('종류', cols_cvs)
# cols_cvs.remove('종류')
# cols_cvs.append('종류')

print(len(cvs.loc[idx_closed&~idx_closed_date_isna, cols_cvs]))
print(len(cvs.loc[idx_closed&cvs['종류'].isna()]))
cvs.loc[idx_closed&~idx_closed_date_isna, cols_cvs].head(1)

38417
0

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류
219,미니스톱 혜화점,2003300007605600035,37.584080178841,127.00020831871142,폐업처리,서울특별시 종로구 창경궁로 256 (명륜2가),서울특별시 종로구 명륜2가 21번지 28호,20030422,20060605.0,2003,미니스톱

In [14]:
idx_mini = cvs['종류']=='미니스톱'
cvs.loc[idx_closed & idx_mini, cols_cvs]

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류
219,미니스톱 혜화점,2003300007605600035,37.584080178841,127.00020831871142,폐업처리,서울특별시 종로구 창경궁로 256 (명륜2가),서울특별시 종로구 명륜2가 21번지 28호,20030422,20060605.0,2003,미니스톱
220,미니스톱 종각역점,2006300007605600007,37.57048138277121,126.9847094704115,폐업처리,"서울특별시 종로구 종로 65 (종로2가,1층 106호)",서울특별시 종로구 종로2가 8번지 4호 1층 106호,20060127,20080325.0,2006,미니스톱
237,미니스톱경희궁점,2004300007605600079,37.57356769976436,126.97215260973903,폐업처리,"서울특별시 종로구 사직로8길 34 (내수동,경희궁의아침 3단지 101호)",서울특별시 종로구 내수동 72호 경희궁의아침 3단지 101호,20040721,20151012.0,2004,미니스톱
240,미니스톱 창신역점,2006300010105600019,37.57824071676848,127.01554117342373,폐업처리,"서울특별시 종로구 지봉로 92 (숭인동, 1층)",서울특별시 종로구 숭인동 53번지 21호 1층,20060817,20061201.0,2006,미니스톱
242,미니스톱(종각중앙점),2008300012905600067,37.572311908130054,126.98256737350486,폐업처리,NaN,서울특별시 종로구 견지동 110번지 22호 1층 104호,20080716,20140808.0,2008,미니스톱
262,미니스톱 종각역점,2003300007605600086,37.57048138277121,126.9847094704115,폐업처리,서울특별시 종로구 종로 65 (종로2가),서울특별시 종로구 종로2가 8번지 4호,20030807,20060104.0,2003,미니스톱
270,미니스톱 창신역점,2003300007605600102,37.57824071676848,127.01554117342373,폐업처리,서울특별시 종로구 지봉로 92 (숭인동),서울특별시 종로구 숭인동 53번지 21호,20031001,20060803.0,2003,미니스톱
296,미니스톱 기독교회관점,2010300012905600091,37.57292586071764,127.00162102117986,폐업처리,"서울특별시 종로구 대학로 19 (연지동,기독교회관 1층)",서울특별시 종로구 연지동 136번지 46호 기독교회관 1층,20101102,20120921.0,2010,미니스톱
312,한국미니스톱(주)M경복궁역점,2012300012905600071,37.575860041203214,126.97306191821602,폐업처리,"서울특별시 종로구 사직로 지하 130 (적선동, 경복궁역사내)",NaN,20120820,20171205.0,2012,미니스톱
324,미니스톱종각중앙점,2014300016905600049,37.572311908130054,126.98256737350486,폐업처리,"서울특별시 종로구 삼봉로 95, 104호 (견지동)",서울특별시 종로구 견지동 110번지,20140829,20150819.0,2014,미니스톱
338,한국미니스톱(주) M안국역점,2012300012905600072,37.57660162388654,126.98512960517377,폐업처리,"서울특별시 종로구 율곡로 지하 53 (안국동, 안국역사내)",NaN,20120820,20171205.0,2012,미니스톱
352,미니스톱 종로6가점,2004300007605600003,37.57143364267875,127.00654281806953,폐업처리,서울특별시 종로구 종로41길 3 (종로6가),서울특별시 종로구 종로6가 247번지 1호,20100222,20110207.0,2010,미니스톱
357,미니스톱 숭인지봉로점,2015300016905600029,37.57757397690119,127.01557273276373,폐업처리,서울특별시 종로구 지봉로 84 (숭인동),서울특별시 종로구 숭인동 55번지 5호,20150413,20170630.0,2015,미니스톱
374,미니스톱 숭인창신점,2015300016905600039,NaN,NaN,폐업처리,서울특별시 종로구 지봉로 100-11 (숭인동),서울특별시 종로구 숭인동 9번지 2호,20150518,20170616.0,2015,미니스톱
378,미니스톱명륜성대점,2008300012905600099,37.588257099891635,126.99558883124519,폐업처리,서울특별시 종로구 명륜길 21 (명륜3가),서울특별시 종로구 명륜3가 1번지 3호,20081223,20140304.0,2008,미니스톱
387,미니스톱 동대문역점,2014300016905600077,37.57233054645546,127.01256507809678,폐업처리,"서울특별시 종로구 종로 313-1, 1층 (창신동)",서울특별시 종로구 창신동 154번지 1호,20141124,20171030.0,2014,미니스톱
399,한국미니스톱 (주) M동대문역점,2013300012905600015,37.57041351149444,127.00954468675879,폐업처리,"서울특별시 종로구 율곡로 지하 308 (종로6가, 동대문역사내)",서울특별시 종로구 종로6가 287번지 1호 동대문역사내,20130321,20171205.0,2013,미니스톱
401,한국미니스톱(주) 대학로점,2016300016905600056,37.58248716918884,127.00355492834602,폐업처리,"서울특별시 종로구 대학로8가길 79, 1층 (동숭동)",NaN,20160811,20180803.0,2016,미니스톱
695,미니스톱신당점,2004301007105600068,37.55495941672594,127.01178353328291,폐업처리,"서울특별시 중구 동호로10길 21 (신당동,광명B/D 1층)",서울특별시 중구 신당동 348번지 135호 광명B/D 1층,20040824,20051005.0,2004,미니스톱
699,미니스톱신당점,2002301007105600124,37.555301649975185,127.01316429945264,폐업처리,NaN,서울특별시 중구 신당동 347번지 135호,20021011,20040803.0,2002,미니스톱
701,미니스톱 약수중앙점,2005301007105600032,37.55460636918785,127.0102443373158,폐업처리,서울특별시 중구 다산로 117 (신당동),서울특별시 중구 신당동 369번지 9호,20050223,20051103.0,2005,미니스톱
704,미니스톱신당역점,2003301007105600135,37.56520497388084,127.01660696074778,폐업처리,"서울특별시 중구 퇴계로 406 (신당동,제1호)",서울특별시 중구 신당동 100번지 3호 제1호,20031203,20081202.0,2003,미니스톱
706,미니스톱 신당점,2005301007105600132,37.55495941672594,127.01178353328291,폐업처리,"서울특별시 중구 동호로10길 21 (신당동,광명빌딩)",서울특별시 중구 신당동 348번지 135 호 광명빌딩,20051025,20181025.0,2005,미니스톱
708,미니스톱충무로점,2003301007105600033,37.562221723202434,126.9913256084818,폐업처리,서울특별시 중구 수표로2길 15 (충무로3가),서울특별시 중구 충무로3가 59번지 6호,20030423,20060424.0,2003,미니스톱
715,미니스톱남산지점,2000301007105600484,37.558707310251975,126.98588440378734,폐업처리,서울특별시 중구 퇴계로20길 32 (남산동2가),서울특별시 중구 남산동2가 27번지 1호,19991108,20090624.0,1999,미니스톱
720,미니스톱시청역점,2007301010005600096,37.564053998047285,126.9758369723142,폐업처리,서울특별시 중구 서소문로 135 (서소문동),서울특별시 중구 서소문동 21번지 1호,20070816,20100802.0,2007,미니스톱
730,미니스톱 명동세종점,2007301010005600112,37.56131317647912,126.98750920900197,폐업처리,서울특별시 중구 퇴계로 141 (충무로2가),서울특별시 중구 충무로2가 62번지 8호,20071005,20121025.0,2007,미니스톱
731,미니스톱신당역점,2001301007105600130,37.56520497388084,127.01660696074778,폐업처리,서울특별시 중구 퇴계로 406 (신당동),서울특별시 중구 신당동 100번지 3호,20011203,20031128.0,2001,미니스톱
793,한국미니스톱 M신당역점,2012301010005600078,37.56871845535859,127.01925646713214,폐업처리,"서울특별시 중구 퇴계로 지하 341-1 (남창동, 지하철2호선 신당역내)",서울특별시 중구 황학동 106번지 1호,20120821,20171205.0,2012,미니스톱
796,미니스톱 충무로점,2009301010005600063,37.562221723202434,126.9913256084818,폐업처리,서울특별시 중구 수표로2길 15 (충무로3가),서울특별시 중구 충무로3가 59번지 6호,20090602,20120725.0,2009,미니스톱
...,...,...,...,...,...,...,...,...,...,...,...
76271,대상유통(주)상동태평양점,2002387000305600200,37.50708035025664,126.75219291735722,폐업처리,"경기도 부천시 길주로77번길 55-9 (상동,10호, 태평양프라자 106호)","경기도 부천시상동 532번지 9호 10호, 태평양프라자 106호",20020826,20021002.0,2002,미니스톱
76433,미니스탑 평택제니스,2013391026805600014,36.99271852682939,127.09162867310725,폐업처리,"경기도 평택시 자유로20번길 10, 101호 (합정동, 제니스오피스텔)","경기도 평택시 합정동 730번지 5호 외 2필지(6,7) 제니스오피스텔 101호",20130320,20180416.0,2013,미니스톱
76478,미니스탑송탄서해점,2003391003505622441,37.065803421394556,127.05653572823358,폐업처리,경기도 평택시 점촌1로58번길 30 (서정동),경기도 평택시 서정동 871호,20030605,20140530.0,2003,미니스톱
76587,미니스탑 안산상록점,2004555000505600151,37.3075093864988,126.85185663019112,폐업처리,"경기도 안산시 상록구 중보로 47 (이동,고잔프라자 105)",경기도 안산시상록구 이동 716번지 4 호 고잔프라자 105,20041119,20100319.0,2004,미니스톱
77230,대상유통시흥점,2003401011305601120,NaN,NaN,폐업처리,NaN,경기도 시흥시 정왕동 531번지 2호,20030603,20040129.0,2003,미니스톱
77373,대상유통(주)용인민속촌점,2003405008305611114,37.25551326389114,127.11842238472221,폐업처리,NaN,경기도 용인시기흥구 보라동 140-2호,20031220,20040129.0,2003,미니스톱
77742,미니스탑갈산점,2010409020405600088,37.70291178241315,126.57027558469015,폐업처리,경기도 김포시 월곶면 군하로 18,경기도 김포시 월곶면 갈산리 464번지 9호,20100917,20111230.0,2010,미니스톱
77792,미니스탑대성리점,2000416000005600187,37.6815010877731,127.37817902498675,폐업처리,NaN,경기도 가평군 청평면 대성리 396호,19911027,20131114.0,1991,미니스톱
77847,미니스탑강대정문점,2004418001605600042,37.865322102008996,127.73552748445617,폐업처리,강원도 춘천시 백령로 1 (효자동),강원도 춘천시 효자동 315번지 7 호,20040319,20150710.0,2004,미니스톱
78194,미니스탑,2013426006305600014,37.49993356470312,128.2421227220724,폐업처리,강원도 횡성군 둔내면 고원로425번길 35-7,강원도 횡성군 둔내면 두원리 666번지 28호,20131010,20140929.0,2013,미니스톱
78452,(주)대상유통 쌍용대우점,2002449013105600275,NaN,NaN,폐업처리,NaN,충청남도 천안시 동남구 쌍용동 888호,20021204,20030429.0,2002,미니스톱
78789,대상유통(주)건양회관점,2001454005505600001,36.18215255121976,127.10968929961794,폐업처리,충청남도 논산시 대학로 121 (내동),충청남도 논산시 내동 26호,20010313,20040908.0,2001,미니스톱
78790,대상유통(주) 건양회관점,2001454005505600007,36.18215255121976,127.10968929961794,폐업처리,충청남도 논산시 대학로 121 (내동),충청남도 논산시 내동 26호,20010315,20040908.0,2001,미니스톱
78923,대상유통(주)평화호반점,2003465005205600122,35.787227641684815,127.13116931687372,폐업처리,전라북도 전주시 완산구 소대배기로 10 (평화동2가),전라북도 전주시완산구 평화동2가 890번지 1호,20030702,20030702.0,2003,미니스톱
78928,대상유통전주대회관점,2002465005205600010,35.81580351811545,127.0844589449585,폐업처리,NaN,전라북도 전주시완산구 효자동3가 1200호,20020305,20050926.0,2002,미니스톱
78935,대상유통전주중산점,2002465005205600122,35.81667285694979,127.12168822969952,폐업처리,전라북도 전주시 완산구 중산중앙로 33 (중화산동2가),전라북도 전주시완산구 중화산동2가 615번지 7호,20020902,20021120.0,2002,미니스톱
79095,대상유통(주)익산부평점,2002468002005600244,35.928881209754785,126.95414239635559,폐업처리,전라북도 익산시 목천로13길 10 (인화동2가),전라북도 익산시 인화동2가 98호,20021217,20030221.0,2002,미니스톱
79096,대상유통(주)영등제일점,2002468002005600154,35.95580131907817,126.97162745529954,폐업처리,NaN,전라북도 익산시 영등동 766-8호,20020720,20020822.0,2002,미니스톱
79222,대상유통(주)목포역전점,2003480001305600274,34.7910146003175,126.38550885961678,폐업처리,전라남도 목포시 영산로 93-1 (명륜동),전라남도 목포시 명륜동 6번지 2호,20030124,20030205.0,2003,미니스톱
79224,대상유통(주)목포역점,2003480001305601469,34.7910146003175,126.38550885961678,폐업처리,NaN,전라남도 목포시 명륜동 6-2호,20030124,20030205.0,2003,미니스톱
79271,미니스탑금당2점,2005482011805600024,34.94790009609347,127.52505167487561,폐업처리,전라남도 순천시 기적의도서관길 24 (연향동),전라남도 순천시 연향동 1463번지 1호,20050303,20120706.0,2005,미니스톱
79348,대상유통(주)영광단주점,2003497005205600014,35.27612908043676,126.50029031369003,폐업처리,전라남도 영광군 영광읍 신남로 167,전라남도 영광군 영광읍 단주리 630번지 14호,20030905,20031002.0,2003,미니스톱
80030,대상유통(주)진주의료원점,2003531001305600028,35.19492406482783,128.0818707101074,폐업처리,경상남도 진주시 촉석로 180 (중안동),경상남도 진주시 중안동 3번지 3호,20030214,20050323.0,2003,미니스톱
80146,미니스탑사천점,2010534001605600017,34.94370136257794,128.08713328218377,폐업처리,NaN,경상남도 사천시 용강동 838번지 현대상가1층101,20100519,20100525.0,2010,미니스톱
80147,미니스탑사천점,2010534001605600019,34.94370136257794,128.08713328218377,폐업처리,NaN,경상남도 사천시 용강동 838번지 현대상가 1층 101,20100601,20101221.0,2010,미니스톱
80835,대상유통(주),2002528011705637392,35.1791384746003,128.56194032505405,폐업처리,경상남도 창원시 마산합포구 월영동6길 23 (해운동),경상남도 마산시 해운동 36번지 8호,20020912,20050826.0,2002,미니스톱
80989,대상유통(주)상남광동점,2003527009305600098,35.22242532443457,128.68487444706057,폐업처리,"경상남도 창원시 성산구 마디미로21번길 3 (상남동,광동힐타운 103호)",경상남도 창원시 상남동 11번지 7호 광동힐타운 103호,20030526,20030924.0,2003,미니스톱
80991,대상유통(주)상남새미래점,2003527002205600022,35.22102587667396,128.68466979797194,폐업처리,NaN,경상남도 창원시 상남동 20-3호 새미래빌딩103호,20030203,20030325.0,2003,미니스톱
80993,대상유통(주)대표이사,2003528011705600016,35.233906671801336,128.58262080142205,폐업처리,경상남도 창원시 마산회원구 합성옛길 41 (양덕동),경상남도 마산시 양덕동 12번지 42호,20030124,20030526.0,2003,미니스톱
81004,대상유통(주)창원용호점,2003527009305600008,35.229104755125206,128.6807553855672,폐업처리,"경상남도 창원시 의창구 용지로153번길 6 (용호동,1층 101호)",경상남도 창원시 용호동 73번지 17호 1층 101호,20030225,20030325.0,2003,미니스톱

In [15]:
cvs.loc[idx_closed&cvs['종류'].isna(), cols_cvs].head()

Empty DataFrame
Columns: [사업장명, 관리번호, lat, lng, 상세영업상태명, 도로명전체주소, 소재지전체주소, 인허가일자, 폐업일자, 개업연도, 종류]
Index: []

# Add '폐업연도' to 'cvs'

In [16]:
cvs['폐업연도'] = cvs['폐업일자'].str[:4]

cvs['폐업연도'].fillna(0, inplace=True)

add_('폐업연도', cols_cvs)
# cols_cvs.add('폐업연도')

cvs.loc[~idx_closed_date_isna, cols_cvs].head(1)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도
219,미니스톱 혜화점,2003300007605600035,37.584080178841,127.00020831871142,폐업처리,서울특별시 종로구 창경궁로 256 (명륜2가),서울특별시 종로구 명륜2가 21번지 28호,20030422,20060605.0,2003,미니스톱,2006

# 기준연도 = 2008

In [17]:
criteria_year = 2008

# Index: close_after_criteria

In [47]:
print(cvs['상세영업상태명'].value_counts())
idx_close_after_criteria = idx_closed & (cvs['폐업연도'].apply(lambda x: int(str(x)[:4]))>=criteria_year)
#                             & (cvs['개업연도'].apply(lambda x: int(str(x)[:4]))>=1989)
# idx_closed = (cvs['상세영업상태명']=='폐업처리') & idx_close_after_1998

print(len(cvs.loc[idx_close_after_criteria]))
cvs.loc[idx_close_after_criteria, cols_cvs].head(5)

# cvs.loc[~idx_close_after_1998, cols_cvs]

# cvs.loc[idx_close_after_criteria, cols_cvs].to_csv('close_after_2008.tsv', sep='\t', index=False)

정상영업        41252
폐업처리        38437
지정취소         1010
직권취소          583
영업정지           96
휴업처리           62
임시소매기간만료       18
Name: 상세영업상태명, dtype: int64
31639

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도,period
220,미니스톱 종각역점,2006300007605600007,37.57048138277121,126.9847094704115,폐업처리,"서울특별시 종로구 종로 65 (종로2가,1층 106호)",서울특별시 종로구 종로2가 8번지 4호 1층 106호,20060127,20080325.0,2006,미니스톱,2008,788.0
221,GS25 종로용비점,2006300007605600008,37.57343100708293,126.97327108221329,폐업처리,"서울특별시 종로구 새문안로3길 36 (내수동,용비어천가빌딩 1층 101호)",서울특별시 종로구 내수동 75호 용비어천가빌딩 1층 101호,20060203,20100225.0,2006,GS25,2010,1483.0
223,GS25종로리버,2008300012905600064,37.568838018022426,126.98510824788185,폐업처리,"서울특별시 종로구 청계천로 67, 104호 (관철동,종로1번가 1층)",서울특별시 종로구 관철동 155번지 종로1번가 1층 104호,20080709,20140502.0,2008,GS25,2014,2123.0
237,미니스톱경희궁점,2004300007605600079,37.57356769976436,126.97215260973903,폐업처리,"서울특별시 종로구 사직로8길 34 (내수동,경희궁의아침 3단지 101호)",서울특별시 종로구 내수동 72호 경희궁의아침 3단지 101호,20040721,20151012.0,2004,미니스톱,2015,4100.0
238,씨유 종로효제점,1999300007605600163,37.57148515262966,127.00157594371186,폐업처리,NaN,서울특별시 종로구 효제동 291번지 (주)훼미리마트 종로점,19990723,20171101.0,1999,CU,2017,6676.0

# Index: open_after_criteria

In [19]:
print(len(cvs['상세영업상태명']))

idx_open_after_criteria = (cvs['개업연도'].apply(lambda x: int(str(x)[:4]))>=criteria_year)
# idx_closed = (cvs['상세영업상태명']=='폐업처리') & idx_close_after_1998

print(len(cvs.loc[idx_open_after_criteria]))
cvs.loc[idx_open_after_criteria, cols_cvs].head(1)

# cvs.loc[~idx_close_after_1998, cols_cvs]

81458
63048

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도
4,세븐일레븐 종로배화점,2008300012905600082,37.57716379872892,126.96943884968033,정상영업,서울특별시 종로구 필운대로 12 (필운동),서울특별시 종로구 필운동 163번지,20081007,NaN,2008,세븐일레븐,0

# -----

# 업체별 폐업

In [20]:
print(sum(cvs.loc[idx_close_after_criteria].groupby('종류').agg({'관리번호':'count'})['관리번호']))
close_corp = cvs.loc[idx_close_after_criteria].groupby('종류').agg({'관리번호':'count'})
close_corp

31622

        관리번호
종류
CU     10095
GS25   11357
미니스톱    3271
세븐일레븐   5835
씨스페이스    148
이마트24    916

# 업체별 개업

In [21]:
print(sum(cvs.loc[idx_open_after_criteria].groupby('종류').agg({'관리번호':'count'})['관리번호']))
open_corp = cvs.loc[idx_open_after_criteria].groupby('종류').agg({'관리번호':'count'})
open_corp

63048

        관리번호
종류
CU     19495
GS25   21293
미니스톱    5028
세븐일레븐  12830
씨스페이스    299
이마트24   4103

# 업체별 폐업 / 개업

In [22]:
close_corp / open_corp * 100

            관리번호
종류
CU     51.782508
GS25   53.336777
미니스톱   65.055688
세븐일레븐  45.479345
씨스페이스  49.498328
이마트24  22.325128

# -----

# Validate '개업연도'

In [23]:
# 인허가일자 앞 4자리와 관리번호 앞 4자리 비교, 다른지 확인
# 왜냐하면 인허가일자가 없는 가게가 있기 때문, 관리번호는 모든 가게가 갖고 있으므로
# 나는 지금 관리번호 앞 4자리로, 개업연도를 도출하려고 한다.

# 담당공무원과 전화통화 결과 인허가일자를 개업일자로 보면될듯 하다.

cols_tmp = ['사업장명', '상세영업상태명', '관리번호', '폐업일자', '인허가일자', '인허가취소일자', '재개업일자', '지정일자', '최종수정시점']

print(len(cvs.loc[cvs['인허가일자'].str[:4]!=cvs['관리번호'].str[:4], cols_tmp]))
cvs.loc[cvs['인허가일자'].str[:4]!=cvs['관리번호'].str[:4], cols_tmp]

834

,사업장명,상세영업상태명,관리번호,폐업일자,인허가일자,인허가취소일자,재개업일자,지정일자,최종수정시점
352,미니스톱 종로6가점,폐업처리,2004300007605600003,20110207.0,20100222,NaN,NaN,20100222,20110208141310
417,세븐일레븐 종로창신제일점,직권취소,1995300007605600127,NaN,20000215,20170912.0,NaN,20000215,20170912212202
418,GS25 남산조이점,정상영업,2000301007105600457,NaN,19940507,NaN,NaN,19940507,20160718114945
431,세븐일레븐 중구오장점,정상영업,2000301007105600565,NaN,19981112,NaN,NaN,19981112,20131024153638
707,지에스칼텍스(주) 역전주유소,폐업처리,2000301007105600320,20060117.0,19981218,NaN,NaN,NaN,20080221000000
712,씨유 삼성화재사옥점,폐업처리,2000301007105600030,20140109.0,19931020,NaN,NaN,19931020,20140109211340
715,미니스톱남산지점,폐업처리,2000301007105600484,20090624.0,19991108,NaN,NaN,19991108,20090624160503
898,약수중앙점미니스톱,폐업처리,2000301007105601176,20050205.0,19960525,NaN,NaN,NaN,20080221000000
899,미니스톱신당점,폐업처리,2000301007105601185,20021005.0,19991210,NaN,NaN,NaN,20080221000000
904,세븐일레븐(명동 4호점),폐업처리,2000301007105600513,20090630.0,19991021,NaN,NaN,19991021,20090630152739
905,미니스톱명동역점,폐업처리,2000301007105600514,20041208.0,19991109,NaN,NaN,NaN,20080221000000
927,씨유 용산삼구빌딩점,정상영업,2001302007405600527,NaN,19911218,NaN,NaN,19911218,20150303162019
941,씨유 한남제일점,정상영업,2001302007405600830,NaN,19990716,NaN,NaN,19990716,20120719100354
949,씨유 이태원대림점,정상영업,2001302007405600722,NaN,20000320,NaN,NaN,20000320,20120720112438
950,세븐일레븐 이태원점,정상영업,2001302007405600659,NaN,19990521,NaN,NaN,NaN,20080221000000
953,미니스톱 서울역점,정상영업,2001302007405600187,NaN,19990112,NaN,NaN,19990112,20100601201415
954,씨유 후암아리랑점,정상영업,2001302007405600033,NaN,19850630,NaN,NaN,19850630,20140918150419
1126,세븐일레븐(한남점),폐업처리,2001302007405600818,20041011.0,20000228,NaN,NaN,NaN,20080221000000
1127,대상유통(주) 미니스톱 남산힐튼점,폐업처리,2001302007405600018,20041008.0,19990125,NaN,NaN,NaN,20080221000000
1128,세븐일레븐(서울역점),폐업처리,2001302007405600164,20080107.0,19990521,NaN,NaN,19990521,20080107113912
1131,세븐일레븐 이촌2호점,폐업처리,2001302007405600613,20041221.0,20000122,NaN,NaN,NaN,20080221000000
1132,미니스톱(원효로점),폐업처리,2001302007405600290,20021008.0,19990823,NaN,NaN,NaN,20080221000000
1266,이마트24 성수이로점,정상영업,1989303007405600053,NaN,19981204,NaN,NaN,19981204,20180322105102
1554,세븐일레븐신금호,폐업처리,1998303007405601144,20050527.0,20000502,NaN,NaN,NaN,20080221000000
1725,씨유(CU) 건국타운점,정상영업,2000304007305600203,NaN,19921128,NaN,NaN,19921128,20181018161230
1746,세븐일레븐 노유점,정상영업,2000304007305601097,NaN,19960619,NaN,NaN,19960619,20130726141305
1750,세븐일레븐 건국대점,정상영업,2000304007305601303,NaN,19990702,NaN,NaN,19990702,20130813162809
1773,세븐일레븐 자양점,정상영업,2000304007305600326,NaN,19970417,NaN,NaN,19970417,20130809134852
2015,(주)지에스리테일 자양점,폐업처리,2000304007305600126,20070404.0,19970908,NaN,NaN,NaN,20080221000000
2026,세븐일레븐구의4호점,폐업처리,2000304007305600997,20040930.0,19950301,NaN,NaN,NaN,20080221000000
...,...,...,...,...,...,...,...,...,...
79852,LG25영대점,폐업처리,2000513000005600739,20110630.0,19990506,NaN,NaN,19990506,20110630163503
79861,LG25하양금락점,폐업처리,2002513001705600036,20030103.0,20010212,NaN,NaN,NaN,20080224000000
79864,훼미리마트옥산제일점,폐업처리,2000513000005600889,20030909.0,19990914,NaN,NaN,NaN,20080224000000
79865,훼미리마트대구대비호점,폐업처리,2000513000005600860,20011031.0,19990628,NaN,NaN,19990628,20080111173122
79866,훼미리마트,폐업처리,2000513000005600489,20040419.0,19981202,NaN,NaN,NaN,20080224000000
79868,훼미리마트하양효대점,폐업처리,2000513000005600112,20020131.0,19990521,NaN,NaN,NaN,20080224000000
79869,훼미리마트하양흥해점,폐업처리,2000513000005600082,20020422.0,19981127,NaN,NaN,NaN,20080224000000
79879,훼미리마트하양중앙점,지정취소,2000513000005600097,NaN,19981127,20130712.0,NaN,19981127,20130712191558
79885,LG25하양금락점,직권취소,2000513000005600094,NaN,19980122,20020112.0,NaN,NaN,20080224000000
79939,LG25 왜관우방점,폐업처리,2001522000905600099,20041106.0,20041106,NaN,NaN,20041106,20110224173623
79940,LG25 왜관우방점,폐업처리,2001522000905600100,20041106.0,20041106,NaN,NaN,20041106,20110224173721
80096,훼미리마트,폐업처리,2000533001505600636,20020530.0,19960410,NaN,NaN,NaN,20080224000000
80153,서원탑훼미리마트,폐업처리,2000534001605600396,20111220.0,19981029,NaN,NaN,19981029,20111220132241
80294,훼밀리마트가곡점,폐업처리,2002536005505600000,20020325.0,20001122,NaN,NaN,NaN,20080224000000
80309,훼미리마트거제고현점,직권취소,2000537000005601261,NaN,19990727,20030408.0,NaN,NaN,20080224000000
80359,덕산훼미리마트,폐업처리,2000537000005616044,20121022.0,19971129,NaN,NaN,19971129,20121022163124
80361,훼미리마트 거제한내쉼터점,폐업처리,2000537000005608039,20100427.0,19990521,NaN,NaN,19990521,20100427161533
80410,LG25양산덕계점,정상영업,2000538001005609014,NaN,19981027,NaN,NaN,19981027,20180918093029
80460,LG25양산서창점,폐업처리,2000538001005611020,20071218.0,19990812,NaN,NaN,19990812,20071218113920
80461,LG25문성점,폐업처리,2000538001005611008,20080422.0,19990804,NaN,NaN,19990804,20080422173714
80479,훼미리마트함안점,직권취소,2000540000905600046,NaN,19980818,20051005.0,NaN,NaN,20080224000000
80615,바이더웨이 화성송곡점,폐업처리,2000412001205600689,20090918.0,19961018,NaN,NaN,19961018,20090918090302
80616,훼미리마트향남공단점,폐업처리,2000412001205600697,20020909.0,19990819,NaN,NaN,NaN,20080223000000
80624,LG25화성남양점,폐업처리,2000412001205600309,20090108.0,19870321,NaN,NaN,19870321,20090109170117
80666,LG25곤지암점,폐업처리,2000413000005600483,20030103.0,19981009,NaN,NaN,NaN,20080220000000
80694,훼미리마트 증평점,폐업처리,2000643017705600081,20101125.0,19971103,NaN,NaN,19971103,20101125143419
80702,훼미리마트 계룡대점,정상영업,2000644028005600031,NaN,19980811,NaN,NaN,NaN,20080223000000
81040,서원탑훼미리마트,폐업처리,2002528011705608067,20160415.0,20000614,NaN,NaN,20000614,20160415162044
81046,LG25시신마산세일점,폐업처리,2002528011705617059,20070523.0,20010719,NaN,NaN,NaN,20080224000000
81606,훼미리마트 제주풍림리조트점,정상영업,2006652004205600001,NaN,20090211,NaN,NaN,20090211,20090211115453

# Add 'period' to 'cvs'

In [24]:
# def parse_date_string(x):
#     try:
#         return datetime.strptime(str(x)[:8], '%Y%m%d')
#     except ValueError:
#         return np.nan

def get_period(row):
    if (row['인허가일자'] == np.nan) or (row['폐업일자'] == np.nan):
        return np.nan
    
    try:
        open_date = datetime.strptime(str(row['인허가일자'])[:8], '%Y%m%d')
        close_date = datetime.strptime(str(row['폐업일자'])[:8], '%Y%m%d')
        return (close_date - open_date).days
    except ValueError:
        print(row['인허가일자'], row['폐업일자'])
    

cvs.at[idx_closed &~idx_closed_date_isna, 'period'] = cvs.loc[idx_closed &~idx_closed_date_isna].apply(get_period, axis=1)

# cols_cvs.add('period')
add_('period', cols_cvs)

00000000 20030205.0
1990521  20020424.0
199905   20051115.0
199905   20050602.0
199905   20050909.0
199905   20050112.0
199905   20050111.0
199905   20050111.0
199908   20010727.0
  000616 20050901.0
  010427 20041102.0
20000000 20020528.0
19000000 20060224.0
0        20050729.0

# -----

# 연도별 폐업 Group 'cvs' by 'close_year'

In [25]:
close_year = cvs.loc[idx_close_after_criteria&~idx_closed_date_isna, cols_cvs].groupby('폐업연도').agg({'관리번호':'count'})

close_year = close_year.rename(columns={'관리번호':'편의점 수'})

close_year = close_year.sort_values('폐업연도', ascending=False)
close_year
# Export
# tmp.sort_values('편의점 수', ascending=False).reset_index().to_csv('closed_after_2008_groupby_year.tsv', sep='\t', index=False)

      편의점 수
폐업연도
2018   4270
2017   3987
2016   3550
2015   3215
2014   2947
2013   3219
2012   2768
2011   2177
2010   1924
2009   1738
2008   1827

In [26]:
idx_2013 = cvs['폐업연도']=='2013'
cvs.loc[idx_closed&~idx_closed_date_isna&idx_2013, cols_cvs].head(1)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도,period
248,씨유 원남사거리점,2009300012905600084,37.575625234497465,126.99795780184026,폐업처리,"서울특별시 종로구 율곡로 174 (원남동,1층)",서울특별시 종로구 원남동 28번지 7호 1층,20091103,20131031.0,2009,CU,2013,1458.0

# 연도별 개업 Group 'cvs' by 'open_year'

In [67]:
open_year = cvs.loc[idx_open_after_criteria].groupby('개업연도').agg({'관리번호':'count'})

open_year = open_year.rename(columns={'관리번호':'편의점 수'})

open_year = open_year.sort_values('개업연도', ascending=False)
open_year

# Export
# open_year.reset_index().to_csv('open_year.tsv', sep='\t', index=False)
# tmp.sort_values('편의점 수', ascending=False).reset_index().to_csv('closed_cvs_groupby_year.tsv', sep='\t', index=False)

# 연도별 폐업 / 개업

In [28]:
close_year / open_year * 100

          편의점 수
폐업연도
2018  62.600792
2017  45.337730
2016  44.755421
2015  47.785375
2014  63.787879
2013  74.808273
2012  46.202637
2011  35.209445
2010  41.645022
2009  47.905182
2008  53.296383

# -----

# 연도&업체별 폐업 Group 'cvs' by 'closed_year' & 'corp'

In [29]:
close_per_year_corp = cvs.loc[idx_close_after_criteria&~idx_closed_date_isna, cols_cvs].pivot_table(columns='종류', values='관리번호',
                                                                                                    aggfunc='count', index='폐업연도')
close_per_year_corp = close_per_year_corp.reset_index().fillna(0); close_per_year_corp

# Export
# close_per_year_corp.to_csv('close_per_year_corp.tsv', sep='\t', index=False)

# .groupby('종류').agg({'관리번호':'count'})

종류  폐업연도    CU  GS25  미니스톱  세븐일레븐  씨스페이스  이마트24
0   2008   741   642   257    164      8     15
1   2009   740   578   178    212     15     15
2   2010   757   665   242    234      9     17
3   2011   732   902   196    320     12     15
4   2012   968  1102   214    455     10     19
5   2013  1135  1108   305    656      8      7
6   2014   857  1075   353    624     17     21
7   2015   924  1185   349    666      8     83
8   2016  1015  1159   370    816     18    172
9   2017  1097  1335   396    890     20    249
10  2018  1129  1606   411    798     23    303

## 2013년 월별 CU 폐업

In [30]:
idx_cu = cvs['종류']=='CU'
idx_2013 = cvs['폐업연도']=='2013'
tmp = cvs.loc[idx_closed& ~idx_closed_date_isna& idx_cu& idx_2013, cols_cvs]
tmp['폐업달'] = tmp['폐업일자'].str[4:6]; tmp.head()
cu_2013 = tmp.groupby('폐업달').agg({'관리번호':'count'})
cu_2013 = cu_2013.rename(columns={'관리번호':'폐업 편의점 수'})
cu_2013 = cu_2013.reset_index()
cu_2013

# cu_2013.to_csv('cu_2013.tsv', sep='\t', index=False)

   폐업달  폐업 편의점 수
0   01        71
1   02        69
2   03        85
3   04        70
4   05        93
5   06       110
6   07       116
7   08       129
8   09       105
9   10        95
10  11        95
11  12        97

# 연도&업체별 개업 Group 'cvs' by 'open_year' & 'corp'

In [31]:
open_per_year_corp = cvs.loc[idx_open_after_criteria, cols_cvs].pivot_table(columns='종류', values='관리번호', aggfunc='count', index='개업연도')

open_per_year_corp = open_per_year_corp.reset_index().fillna(0); open_per_year_corp

# open_per_year_corp.loc[open_per_year_corp['개업연도'].apply(int) >= 2000]
open_per_year_corp
# print(len(cvs.loc[idx_active, cols_cvs]))
# cvs.loc[idx_active, cols_cvs].head(5)

종류  개업연도    CU  GS25  미니스톱  세븐일레븐  씨스페이스  이마트24
0   2008  1224  1206   363    558     19     58
1   2009  1283  1199   337    731     32     46
2   2010  1425  1594   415   1106     19     61
3   2011  1947  2115   471   1553     14     83
4   2012  2115  1934   426   1428     20     68
5   2013  1283  1716   385    830      6     83
6   2014  1334  1668   450    887      9    272
7   2015  2053  2163   575   1434     19    484
8   2016  2448  2511   575   1569     39    790
9   2017  2589  2923   528   1622     61   1071
10  2018  1794  2264   503   1112     61   1087

## 1995년 이전에 개업?

In [32]:
cvs['개업연도'].fillna('0', inplace=True)
cvs.loc[cvs['개업연도'].apply(int)<=1995, cols_cvs]

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도,period
418,GS25 남산조이점,2000301007105600457,37.55844042524469,126.98437692470895,정상영업,서울특별시 중구 소공로6길 24 (남산동1가),서울특별시 중구 남산동1가 18번지 1 호,19940507,NaN,1994,GS25,0,NaN
712,씨유 삼성화재사옥점,2000301007105600030,37.566487635370606,126.98102481848457,폐업처리,서울특별시 중구 을지로 29 (을지로1가),서울특별시 중구 을지로1가 87호,19931020,20140109.0,1993,CU,2014,7386.0
927,씨유 용산삼구빌딩점,2001302007405600527,37.53180334553567,126.95604377175701,정상영업,서울특별시 용산구 청파로 40 (한강로3가),서울특별시 용산구 한강로3가 16번지 49호,19911218,NaN,1991,CU,0,NaN
954,씨유 후암아리랑점,2001302007405600033,37.54605974656238,126.97827796673961,정상영업,서울특별시 용산구 후암로 1 (후암동),서울특별시 용산구 후암동 194번지 8호,19850630,NaN,1985,CU,0,NaN
1725,씨유(CU) 건국타운점,2000304007305600203,37.54505761314455,127.0750416220281,정상영업,서울특별시 광진구 능동로16길 35 (화양동),서울특별시 광진구 화양동 500번지 3호,19921128,NaN,1992,CU,0,NaN
2026,세븐일레븐구의4호점,2000304007305600997,NaN,NaN,폐업처리,NaN,서울특별시 광진구 구의동 221번지 40호,19950301,20040930.0,1995,세븐일레븐,2004,3501.0
2032,미니스톱,2000304007305600162,37.49557794378786,127.03185020982899,폐업처리,NaN,서울특별시 광진구 중곡동 18번지 73호,19940916,20011227.0,1994,미니스톱,2001,2659.0
2396,서울시립대학교 씨유 학생회관점,1989305008205608028,37.582576494365554,127.05999005076032,정상영업,서울특별시 동대문구 서울시립대로 163 (전농동),서울특별시 동대문구 전농동 90호,19890419,NaN,1989,CU,0,NaN
2399,지에스25 고대으뜸,1991305008205605031,37.588205165955294,127.03491795373104,정상영업,서울특별시 동대문구 안암로22길 2 (제기동),서울특별시 동대문구 제기동 137번지 66호,19910429,NaN,1991,GS25,0,NaN
3639,씨유 수유중앙점,1989308007505600690,37.63867752469118,127.02473554394837,정상영업,서울특별시 강북구 한천로139길 46 (수유동),서울특별시 강북구 수유동 192번지 4 호,19890809,NaN,1989,CU,0,NaN
3643,세븐일레븐미아제일점,1980308007505600505,37.61257253188427,127.03145906151613,정상영업,서울특별시 강북구 도봉로8길 21 (미아동),서울특별시 강북구 미아동 860번지 191호,19800101,NaN,1980,세븐일레븐,0,NaN
4740,세븐일레븐(연신내점),1992311008805610058,37.61731978595415,126.92323211518168,정상영업,서울특별시 은평구 통일로 822 (불광동),서울특별시 은평구 불광동 301번지 23 호,19920721,NaN,1992,세븐일레븐,0,NaN
4741,세븐일레븐응암점,1992311008805610185,37.5932487398627,126.92292168598935,정상영업,서울특별시 은평구 백련산로 85 (응암동),서울특별시 은평구 응암동 236번지 33호,19921021,NaN,1992,세븐일레븐,0,NaN
4762,GS25은평한남,1983311008805610116,37.611746496590314,126.91074315697719,정상영업,서울특별시 은평구 갈현로 155-3 (구산동),서울특별시 은평구 구산동 14번지 39 호,19831024,NaN,1983,GS25,0,NaN
4951,미니스톱연신내점,1967311008805600283,37.61813616495728,126.92063516677118,폐업처리,서울특별시 은평구 연서로28길 6 (대조동),서울특별시 은평구 대조동 198번지 3호,19671017,20011113.0,1967,미니스톱,2001,12446.0
4979,세븐일레븐(구산2호점),1992311008805610127,37.611163506821605,126.91684164838102,폐업처리,서울특별시 은평구 연서로 137 (구산동),서울특별시 은평구 구산동 1번지 1호,19921111,20160803.0,1992,세븐일레븐,2016,8666.0
5231,씨유 창천점,1993312014505601110,37.55711155560764,126.93471110442424,정상영업,서울특별시 서대문구 연세로5나길 30-4 (창천동),서울특별시 서대문구 창천동 57번지 66호,19930310,NaN,1993,CU,0,NaN
5624,씨유 성산점,2001313007905600019,37.56280059493199,126.91510711974071,정상영업,서울특별시 마포구 월드컵북로16길 14 (성산동),서울특별시 마포구 성산동 113번지 3 호,19951106,NaN,1995,CU,0,NaN
5672,GS25 마포현석점,2001313007905600021,37.5440324757814,126.93436946504795,정상영업,서울특별시 마포구 신수로 28 (현석동),서울특별시 마포구 현석동 47호,19900101,NaN,1990,GS25,0,NaN
5814,세븐일레븐 서강대1호점,1995313011805600016,37.549177738367305,126.93876476486746,폐업처리,서울특별시 마포구 백범로 62 (신수동),서울특별시 마포구 신수동 85번지 49호,19950821,20161229.0,1995,세븐일레븐,2016,7801.0
6025,세븐일레븐홍대정문점,1993313011805600037,37.55284569748871,126.92472875784286,폐업처리,"서울특별시 마포구 와우산로 100 (서교동,(1층))",서울특별시 마포구 서교동 338번지 18호 (1층),19930701,20140826.0,1993,세븐일레븐,2014,7726.0
6144,세븐일레븐 홍대점,1995313011805602355,37.55090102449162,126.92147151957468,지정취소,서울특별시 마포구 잔다리로 16 (서교동),서울특별시 마포구 서교동 363번지 16호,19951204,NaN,1995,세븐일레븐,0,NaN
6890,GS25 화곡한빛,1978315010005614936,37.54507941835493,126.84682528059126,정상영업,서울특별시 강서구 까치산로 71 (화곡동),서울특별시 강서구 화곡동 24번지 552호,19780726,NaN,1978,GS25,0,NaN
6897,씨유 개화산역점,1983315012305617177,37.57276287830218,126.80600775225308,정상영업,서울특별시 강서구 양천로 19 (방화동),서울특별시 강서구 방화1동 498번지 4호,19830826,NaN,1983,CU,0,NaN
6899,이마트24 가양8단지점,1993315012305614136,37.56186130817584,126.85680988543606,정상영업,"서울특별시 강서구 허준로 176, 106호 (가양동, 가양 8단지상가)",서울특별시 강서구 가양동 1482번지 가양 8단지상가 106호,19930115,NaN,1993,이마트24,0,NaN
7212,세븐일레븐 화곡2호점,1984315012305614827,37.543387315011,126.84269179512104,폐업처리,서울특별시 강서구 화곡로 197 (화곡동),서울특별시 강서구 화곡동 1060번지 16호,19841226,20180108.0,1984,세븐일레븐,2018,12066.0
7219,세븐일레븐 염창점,1995315012305614999,37.55137307969622,126.87195360641135,폐업처리,"서울특별시 강서구 양천로 677, 101호 (염창동)",서울특별시 강서구 염창동 248번지 7호 101호,19950821,20140916.0,1995,세븐일레븐,2014,6966.0
7464,한국미니스톱 오류점,1991316009305612345,37.497111974429714,126.84552105197974,폐업처리,서울특별시 구로구 경인로 225 (오류동),서울특별시 구로구 오류동 31번지 7호,19910508,20060421.0,1991,미니스톱,2006,5462.0
7770,씨유 독산백광점,2001317006705602340,37.477881513411205,126.90390217223221,정상영업,서울특별시 금천구 독산로 348 (독산동),서울특별시 금천구 독산동 961호,19950301,NaN,1995,CU,0,NaN
7929,씨스페이스,2001317006705653660,37.44693606552095,126.90254948904368,폐업처리,서울특별시 금천구 시흥대로39길 11 (시흥동),서울특별시 금천구 시흥동 985번지 13호,00000000,20030205.0,0000,씨스페이스,2003,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76442,엘지25송탄점,2000391003505600355,37.07979666126625,127.06097263829996,폐업처리,경기도 평택시 지산2로96번길 2 (지산동),경기도 평택시 지산동 1071호,19930326,19991116.0,1993,GS25,1999,2426.0
76465,LG25송탄신장점,2000391003505600387,37.08100142107386,127.05140064922246,폐업처리,NaN,경기도 평택시 신장동 314-7호,19930923,20030821.0,1993,GS25,2003,3619.0
76669,LG25시선부점,1999393000005600170,37.34198930907218,126.8154234594501,폐업처리,"경기도 안산시 단원구 선부로 183 (선부동,화성프라자106호)",경기도 안산시단원구 선부동 1087번지 11호 화성프라자106호,09990412,20030331.0,0999,GS25,2003,366691.0
76863,훼미리마트 주교제일점,1989395000005600035,37.65829816999288,126.83379584572853,폐업처리,경기도 고양시 덕양구 원당로59번길 9 (주교동),경기도 고양시덕양구 주교동 599호,19920413,20061110.0,1992,CU,2006,5324.0
76866,훼미리마트일산점,1989396000005600256,37.686592909888276,126.76971826899455,폐업처리,경기도 고양시 일산서구 원일로 68 (일산동),경기도 고양시일산서구 일산동 610번지,19890510,20020917.0,1989,CU,2002,4878.0
76881,훼미리마트능곡일억점,1989395000005600439,NaN,NaN,폐업처리,NaN,경기도 고양시덕양구 토당동 338번지 5호,19941101,20020719.0,1994,CU,2002,2817.0
76886,우성훼미리마트,1995395000005601247,37.62516594460434,126.81827341310114,폐업처리,경기도 고양시 덕양구 토당로104번길 19-19 (토당동),경기도 고양시덕양구 토당동 288번지 4호,19950116,20071120.0,1995,CU,2007,4691.0
76887,준호훼미리마트,1993395000005601008,37.62115865672605,126.8256368351177,폐업처리,경기도 고양시 덕양구 행당로11번길 25-12 (토당동),경기도 고양시덕양구 토당동 872번지 6호,19931207,20071116.0,1993,CU,2007,5092.0
76888,LG25,1995396000005601298,37.65391132250979,126.78427917271664,폐업처리,"경기도 고양시 일산동구 강송로 170 (마두동,현대프라자 109)",경기도 고양시일산동구 마두동 781호 현대프라자 109,19950228,20000930.0,1995,GS25,2000,2041.0
76950,우성훼밀리마트,1995396000005601247,37.53721357753024,126.94759223297122,직권취소,NaN,경기도 고양시일산서구 주엽동 호 우성상가 지하 10호,19950116,NaN,1995,CU,0,NaN
77122,훼미리마트 오산에이스,1985400000005600009,37.16018958401904,127.04483893116631,폐업처리,NaN,경기도 오산시 궐동 415호,19850630,20100420.0,1985,CU,2010,9060.0
77695,바이더웨이,1976409004405600004,37.715193220123254,126.6318889206999,직권취소,NaN,경기도 김포시 하성면 마곡리 634호,19760330,NaN,1976,세븐일레븐,0,NaN
77792,미니스탑대성리점,2000416000005600187,37.6815010877731,127.37817902498675,폐업처리,NaN,경기도 가평군 청평면 대성리 396호,19911027,20131114.0,1991,미니스톱,2013,8054.0
78119,훼미리마트동해추암,2000421006205600026,37.471082978755014,129.12797244560142,폐업처리,NaN,강원도 동해시 북평동 400호,19801207,20050902.0,1980,CU,2005,9035.0
78231,바이더웨이,2000430005505605-74,38.23913149482348,127.43796975104819,폐업처리,강원도 철원군 서면 와수로173번길 8,강원도 철원군 서면 와수리 1147번지 3호,19950707,20100405.0,1995,세븐일레븐,2010,5386.0
78281,훼미리마트 충주프리타임점,1994439010305604567,NaN,NaN,폐업처리,NaN,"충청북도 충주시 성서동 27, 28호",19940324,20100129.0,1994,CU,2010,5790.0
78381,바이더웨이진천점,1993445000405600000,36.85457617357242,127.4440444936142,정상영업,충청북도 진천군 진천읍 상산로 90,충청북도 진천군 진천읍 읍내리 395번지 20 호,19931122,NaN,1993,세븐일레븐,0,NaN
78888,위드미전주한옥마을점,1980465000005600073,35.81169877138589,127.14966101736395,정상영업,전라북도 전주시 완산구 향교길 2 (전동),전라북도 전주시 완산구 전동 256번지 2호,19800101,NaN,1980,이마트24,0,NaN
79386,LG25 포항점,2000504001905600050,36.04002112910955,129.3666361351953,폐업처리,NaN,경상북도 포항시북구 상원동 442-14호,19950802,20030217.0,1995,GS25,2003,2756.0
79599,LG25경주동국점,1993505010005600226,35.855417937633796,129.2064393378665,폐업처리,경상북도 경주시 동대로 4 (성건동),경상북도 경주시 성건동 620번지 431호,19931019,20020430.0,1993,GS25,2002,3115.0
79600,훼미리마트안강점,1994505010005600935,35.992731209849126,129.21887053424734,폐업처리,NaN,경상북도 경주시 안강읍 양월리 1195번지 3호,19940801,20061023.0,1994,CU,2006,4466.0
79691,LG25구미금오점,2000508001905600975,36.12604216701538,128.34125099339244,폐업처리,NaN,경상북도 구미시 원평동 1032-4호,19950808,20030903.0,1995,GS25,2003,2948.0
79692,LG25구미제일점,2000508001905600979,36.10170489656724,128.38303328944374,폐업처리,NaN,경상북도 구미시 공단동 264-8호,19950816,20040421.0,1995,GS25,2004,3171.0
79894,훼미리마트 강구면,1987518004405600420,36.3600029034693,129.38813986607454,폐업처리,경상북도 영덕군 강구면 영덕대게로 87,경상북도 영덕군 강구면 강구리 261호,19871030,20020819.0,1987,CU,2002,5407.0
80624,LG25화성남양점,2000412001205600309,37.208914819869555,126.81426104890767,폐업처리,경기도 화성시 남양시장로 45 (남양동),경기도 화성시 남양동 556호,19870321,20090108.0,1987,GS25,2009,7964.0
80876,LG25 창동점,1990529000005600677,35.20823912684903,128.57435683899146,폐업처리,NaN,경상남도 마산시 중성동 20-73호,19900713,20020628.0,1990,GS25,2002,4368.0
80918,보광훼미리마트,1994529000005600212,35.17966356696193,128.5631534503826,폐업처리,NaN,경상남도 마산시 해운동 42-10호,19941017,20021025.0,1994,CU,2002,2930.0
80922,LG25편의점,1994529000005600374,35.1979147035355,128.56739861470018,폐업처리,NaN,경상남도 마산시 중앙동3가 4-10호,19940421,20020216.0,1994,GS25,2002,2858.0
81052,LG25시,1993529000005600203,35.17931677666263,128.55873407788215,지정취소,NaN,경상남도 마산시 해운동 5-92호,19930906,NaN,1993,GS25,0,NaN
81116,훼미리마트조치원점,1990456000005600058,36.622924268868324,127.29013837273314,폐업처리,NaN,충청남도 연기군 동면 응암리 172번지 13 호,19901113,20100806.0,1990,CU,2010,7206.0

## 전체 GS25 개수?

In [33]:
cvs.loc[idx_active].groupby('종류').agg({'관리번호':'count'})

        관리번호
종류
CU     12809
GS25   12807
미니스톱    2661
세븐일레븐   9375
씨스페이스    217
이마트24   3383

# 연도&업체별 폐업/개업 비율

In [34]:
# idx_close_2000 = close_per_year_corp['폐업연도'].apply(int)>=2000
# idx_open_2000 = open_per_year_corp['개업연도'].apply(int)>=2000

cols_ratio = ['CU', 'GS25', '미니스톱', '세븐일레븐', '씨스페이스', '이마트24']

tmp = close_per_year_corp.rename(columns={'폐업연도': '연도'}).reset_index().drop(columns=['index']).applymap(float)
tmp2 = open_per_year_corp.rename(columns={'개업연도': '연도'}).reset_index().drop(columns=['index']).applymap(float)
ratio_2000 = tmp / tmp2 * 100
ratio_2000['연도'] = range(criteria_year, 2019)

cols_ratio.insert(0, '연도')

ratio_2000.loc[::, cols_ratio]

종류    연도         CU       GS25       미니스톱      세븐일레븐       씨스페이스      이마트24
0   2008  60.539216  53.233831  70.798898  29.390681   42.105263  25.862069
1   2009  57.677319  48.206839  52.818991  29.001368   46.875000  32.608696
2   2010  53.122807  41.718946  58.313253  21.157324   47.368421  27.868852
3   2011  37.596302  42.647754  41.613588  20.605280   85.714286  18.072289
4   2012  45.768322  56.980352  50.234742  31.862745   50.000000  27.941176
5   2013  88.464536  64.568765  79.220779  79.036145  133.333333   8.433735
6   2014  64.242879  64.448441  78.444444  70.349493  188.888889   7.720588
7   2015  45.007306  54.785021  60.695652  46.443515   42.105263  17.148760
8   2016  41.462418  46.156910  64.347826  52.007648   46.153846  21.772152
9   2017  42.371572  45.672255  75.000000  54.870530   32.786885  23.249300
10  2018  62.931996  70.936396  81.709742  71.762590   37.704918  27.874885

In [35]:
close_per_year_corp

종류  폐업연도    CU  GS25  미니스톱  세븐일레븐  씨스페이스  이마트24
0   2008   741   642   257    164      8     15
1   2009   740   578   178    212     15     15
2   2010   757   665   242    234      9     17
3   2011   732   902   196    320     12     15
4   2012   968  1102   214    455     10     19
5   2013  1135  1108   305    656      8      7
6   2014   857  1075   353    624     17     21
7   2015   924  1185   349    666      8     83
8   2016  1015  1159   370    816     18    172
9   2017  1097  1335   396    890     20    249
10  2018  1129  1606   411    798     23    303

In [36]:
open_per_year_corp

종류  개업연도    CU  GS25  미니스톱  세븐일레븐  씨스페이스  이마트24
0   2008  1224  1206   363    558     19     58
1   2009  1283  1199   337    731     32     46
2   2010  1425  1594   415   1106     19     61
3   2011  1947  2115   471   1553     14     83
4   2012  2115  1934   426   1428     20     68
5   2013  1283  1716   385    830      6     83
6   2014  1334  1668   450    887      9    272
7   2015  2053  2163   575   1434     19    484
8   2016  2448  2511   575   1569     39    790
9   2017  2589  2923   528   1622     61   1071
10  2018  1794  2264   503   1112     61   1087

## 미니스톱 개수?

In [37]:
idx_mini = cvs['종류']=='미니스톱'
print(len(cvs.loc[idx_closed &idx_mini, cols_cvs]))
cvs.loc[idx_close_after_criteria &idx_mini, cols_cvs]

# 7376 - 4544 = 2832

4604

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도,period
220,미니스톱 종각역점,2006300007605600007,37.57048138277121,126.9847094704115,폐업처리,"서울특별시 종로구 종로 65 (종로2가,1층 106호)",서울특별시 종로구 종로2가 8번지 4호 1층 106호,20060127,20080325.0,2006,미니스톱,2008,788.0
237,미니스톱경희궁점,2004300007605600079,37.57356769976436,126.97215260973903,폐업처리,"서울특별시 종로구 사직로8길 34 (내수동,경희궁의아침 3단지 101호)",서울특별시 종로구 내수동 72호 경희궁의아침 3단지 101호,20040721,20151012.0,2004,미니스톱,2015,4100.0
242,미니스톱(종각중앙점),2008300012905600067,37.572311908130054,126.98256737350486,폐업처리,NaN,서울특별시 종로구 견지동 110번지 22호 1층 104호,20080716,20140808.0,2008,미니스톱,2014,2214.0
296,미니스톱 기독교회관점,2010300012905600091,37.57292586071764,127.00162102117986,폐업처리,"서울특별시 종로구 대학로 19 (연지동,기독교회관 1층)",서울특별시 종로구 연지동 136번지 46호 기독교회관 1층,20101102,20120921.0,2010,미니스톱,2012,689.0
312,한국미니스톱(주)M경복궁역점,2012300012905600071,37.575860041203214,126.97306191821602,폐업처리,"서울특별시 종로구 사직로 지하 130 (적선동, 경복궁역사내)",NaN,20120820,20171205.0,2012,미니스톱,2017,1933.0
324,미니스톱종각중앙점,2014300016905600049,37.572311908130054,126.98256737350486,폐업처리,"서울특별시 종로구 삼봉로 95, 104호 (견지동)",서울특별시 종로구 견지동 110번지,20140829,20150819.0,2014,미니스톱,2015,355.0
338,한국미니스톱(주) M안국역점,2012300012905600072,37.57660162388654,126.98512960517377,폐업처리,"서울특별시 종로구 율곡로 지하 53 (안국동, 안국역사내)",NaN,20120820,20171205.0,2012,미니스톱,2017,1933.0
352,미니스톱 종로6가점,2004300007605600003,37.57143364267875,127.00654281806953,폐업처리,서울특별시 종로구 종로41길 3 (종로6가),서울특별시 종로구 종로6가 247번지 1호,20100222,20110207.0,2010,미니스톱,2011,350.0
357,미니스톱 숭인지봉로점,2015300016905600029,37.57757397690119,127.01557273276373,폐업처리,서울특별시 종로구 지봉로 84 (숭인동),서울특별시 종로구 숭인동 55번지 5호,20150413,20170630.0,2015,미니스톱,2017,809.0
374,미니스톱 숭인창신점,2015300016905600039,NaN,NaN,폐업처리,서울특별시 종로구 지봉로 100-11 (숭인동),서울특별시 종로구 숭인동 9번지 2호,20150518,20170616.0,2015,미니스톱,2017,760.0
378,미니스톱명륜성대점,2008300012905600099,37.588257099891635,126.99558883124519,폐업처리,서울특별시 종로구 명륜길 21 (명륜3가),서울특별시 종로구 명륜3가 1번지 3호,20081223,20140304.0,2008,미니스톱,2014,1897.0
387,미니스톱 동대문역점,2014300016905600077,37.57233054645546,127.01256507809678,폐업처리,"서울특별시 종로구 종로 313-1, 1층 (창신동)",서울특별시 종로구 창신동 154번지 1호,20141124,20171030.0,2014,미니스톱,2017,1071.0
399,한국미니스톱 (주) M동대문역점,2013300012905600015,37.57041351149444,127.00954468675879,폐업처리,"서울특별시 종로구 율곡로 지하 308 (종로6가, 동대문역사내)",서울특별시 종로구 종로6가 287번지 1호 동대문역사내,20130321,20171205.0,2013,미니스톱,2017,1720.0
401,한국미니스톱(주) 대학로점,2016300016905600056,37.58248716918884,127.00355492834602,폐업처리,"서울특별시 종로구 대학로8가길 79, 1층 (동숭동)",NaN,20160811,20180803.0,2016,미니스톱,2018,722.0
704,미니스톱신당역점,2003301007105600135,37.56520497388084,127.01660696074778,폐업처리,"서울특별시 중구 퇴계로 406 (신당동,제1호)",서울특별시 중구 신당동 100번지 3호 제1호,20031203,20081202.0,2003,미니스톱,2008,1826.0
706,미니스톱 신당점,2005301007105600132,37.55495941672594,127.01178353328291,폐업처리,"서울특별시 중구 동호로10길 21 (신당동,광명빌딩)",서울특별시 중구 신당동 348번지 135 호 광명빌딩,20051025,20181025.0,2005,미니스톱,2018,4748.0
715,미니스톱남산지점,2000301007105600484,37.558707310251975,126.98588440378734,폐업처리,서울특별시 중구 퇴계로20길 32 (남산동2가),서울특별시 중구 남산동2가 27번지 1호,19991108,20090624.0,1999,미니스톱,2009,3516.0
720,미니스톱시청역점,2007301010005600096,37.564053998047285,126.9758369723142,폐업처리,서울특별시 중구 서소문로 135 (서소문동),서울특별시 중구 서소문동 21번지 1호,20070816,20100802.0,2007,미니스톱,2010,1082.0
730,미니스톱 명동세종점,2007301010005600112,37.56131317647912,126.98750920900197,폐업처리,서울특별시 중구 퇴계로 141 (충무로2가),서울특별시 중구 충무로2가 62번지 8호,20071005,20121025.0,2007,미니스톱,2012,1847.0
793,한국미니스톱 M신당역점,2012301010005600078,37.56871845535859,127.01925646713214,폐업처리,"서울특별시 중구 퇴계로 지하 341-1 (남창동, 지하철2호선 신당역내)",서울특별시 중구 황학동 106번지 1호,20120821,20171205.0,2012,미니스톱,2017,1932.0
796,미니스톱 충무로점,2009301010005600063,37.562221723202434,126.9913256084818,폐업처리,서울특별시 중구 수표로2길 15 (충무로3가),서울특별시 중구 충무로3가 59번지 6호,20090602,20120725.0,2009,미니스톱,2012,1149.0
817,한국미니스톱 중구태평점,2011301010005600053,37.56278921478195,126.9769148968781,폐업처리,"서울특별시 중구 세종대로 74-1 (태평로2가,태평빌딩1층)",서울특별시 중구 태평로2가 69번지 20호 태평빌딩1층,20110426,20160414.0,2011,미니스톱,2016,1815.0
819,한국미니스톱 M명동역점,2012301010005600089,37.560909354360476,126.98594737006931,폐업처리,서울특별시 중구 퇴계로 지하 126 (남창동),서울특별시 중구 충무로1가 64번지,20120928,20171205.0,2012,미니스톱,2017,1894.0
841,미니스톱신당역점,2008301010005600159,37.56520497388084,127.01660696074778,폐업처리,서울특별시 중구 퇴계로 406 (신당동),서울특별시 중구 신당동 100번지 3호,20081218,20111128.0,2008,미니스톱,2011,1075.0
842,한국미니스톱,2012301010005600101,37.5663176911162,126.97782838162229,폐업처리,"서울특별시 중구 세종대로 110 (태평로1가, 시청역구내)",서울특별시 중구 태평로1가 31번지 시청역구내,20121123,20171205.0,2012,미니스톱,2017,1838.0
843,미니스톱(명동세종점),2012301010005600103,37.56131317647912,126.98750920900197,폐업처리,"서울특별시 중구 퇴계로 141, 1층 (충무로2가)",서울특별시 중구 충무로2가 62번지 8호 1층,20121130,20171024.0,2012,미니스톱,2017,1789.0
884,한국미니스톱 청구대림점,2011301010005600069,37.560037086756004,127.01489000032603,폐업처리,"서울특별시 중구 청구로4길 1 (신당동,1층)",서울특별시 중구 신당6동 294번지 11호 1층,20110609,20131202.0,2011,미니스톱,2013,907.0
885,한국미니스톱서울시청역점,2010301010005600095,37.564053998047285,126.9758369723142,폐업처리,"서울특별시 중구 서소문로 135 (서소문동,연호빌딩1층)",서울특별시 중구 서소문동 21번지 1호 연호빌딩1층,20100817,20171011.0,2010,미니스톱,2017,2612.0
908,미니스톱(충무로점),2006301007105600059,37.562221723202434,126.9913256084818,폐업처리,서울특별시 중구 수표로2길 15 (충무로3가),서울특별시 중구 충무로3가 59번지 6호,20060512,20090518.0,2006,미니스톱,2009,1102.0
1110,미니스톱 이태원 제일점,2005302007405600025,37.53547318469015,126.9985336645547,폐업처리,"서울특별시 용산구 이태원로 223 (한남동,(1층))",서울특별시 용산구 한남동 737번지 24호 (1층),20050325,20180716.0,2005,미니스톱,2018,4861.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63681,한국미니스톱청주하복대점,2010438003705600062,36.632789443834426,127.4295841372493,폐업처리,충청북도 청주시 흥덕구 진재로15번길 4 (복대동),충청북도 청주시 흥덕구 복대동 2743번지,20100428,20100727.0,2010,미니스톱,2010,90.0
63685,미니스톱 청주금천점,2004437000405600064,36.62922163494908,127.50223195158003,폐업처리,충청북도 청주시 상당구 산성로 68 (금천동),충청북도 청주시 상당구 금천동 199-3번지,20040423,20140402.0,2004,미니스톱,2014,3631.0
63698,미니스톱청주터미널점,2002438000405600049,36.62659190129017,127.43294844740805,폐업처리,충청북도 청주시 흥덕구 풍년로 160 (가경동),충청북도 청주시 흥덕구 가경동 1412번지,20020313,20080603.0,2002,미니스톱,2008,2274.0
63772,미니스톱청주예대점,2010437003305600043,36.658654244500156,127.49577497170257,폐업처리,"충청북도 청주시 청원구 안덕벌로 67 (내덕동,1층)",충청북도 청주시 청원구 내덕동 121-18번지 1층,20100506,20150507.0,2010,미니스톱,2015,1827.0
63804,미니스톱 율량한울점,2011437003505600062,36.6684051686293,127.47795337173471,폐업처리,"충청북도 청주시 청원구 주성로96번길 8, A동 101호 (율량동,상가)",충청북도 청주시 청원구 율량동 1135번지 상가 A동 101호,20110525,20140410.0,2011,미니스톱,2014,1051.0
63816,미니스톱청주하복대점,2006438000405600062,36.632789443834426,127.4295841372493,폐업처리,충청북도 청주시 흥덕구 진재로15번길 4 (복대동),충청북도 청주시 흥덕구 복대동 2743번지,20060407,20100420.0,2006,미니스톱,2010,1474.0
63822,미니스톱 충대사랑점,2012438003905600032,36.63397424078132,127.46074550160989,폐업처리,충청북도 청주시 서원구 1순환로 669 (사창동),충청북도 청주시 서원구 사창동 272-5번지,20120329,20150312.0,2012,미니스톱,2015,1078.0
63828,미니스톱충대공원점,2008438003705600025,36.6329561759568,127.45929040039019,폐업처리,충청북도 청주시 서원구 1순환로674번길 24 (사창동),충청북도 청주시 서원구 사창동 440번지,20081114,20121030.0,2008,미니스톱,2012,1446.0
63875,미니스톱 청대사랑점,2012437003505600050,36.65386104278585,127.48772764108365,폐업처리,충청북도 청주시 청원구 중앙로 186-4 (내덕동),충청북도 청주시 청원구 내덕동 225-1번지,20120717,20161123.0,2012,미니스톱,2016,1590.0
63876,미니스톱 분평지수점,2011438003905600205,36.61144755410218,127.48042290508947,폐업처리,충청북도 청주시 서원구 매봉로12번길 53 (분평동),충청북도 청주시 서원구 분평동 299-3번지,20111229,20160211.0,2011,미니스톱,2016,1505.0
63878,미니스톱 청주푸른점,2011438003905600083,36.61424784663256,127.44139272253281,폐업처리,NaN,충청북도 청주시 흥덕구 가경동 1695번지 상가 101~102호,20110530,20150112.0,2011,미니스톱,2015,1323.0
63895,미니스톱 청주청운점,2009437003305600080,36.61738579241126,127.50616158110196,폐업처리,충청북도 청주시 상당구 원봉로 96 (용암동),충청북도 청주시 상당구 용암동 2175번지,20091015,20130731.0,2009,미니스톱,2013,1385.0
63910,미니스톱 충대공원점,2012438003905600142,36.6329561759568,127.45929040039019,폐업처리,"충청북도 청주시 서원구 1순환로674번길 24, 1층 (사창동)",충청북도 청주시 서원구 사창동 440번지 1층,20121108,20131101.0,2012,미니스톱,2013,358.0
63912,미니스톱 청원미원점,2009441006705600055,36.631540291215096,127.65493370803581,폐업처리,충청북도 청주시 상당구 미원면 단재로 2412,충청북도 청주시 상당구 미원면 미원리 438-24번지,20090720,20170310.0,2009,미니스톱,2017,2790.0
63914,미니스톱 청주대점,2011437003505600016,36.65100859882126,127.48804068205432,폐업처리,NaN,충청북도 청주시 청원구 우암동 236-5번지,20110201,20150918.0,2011,미니스톱,2015,1690.0
73971,대상유통주식회사,2001349000705600021,37.447610340412574,126.45234776023156,폐업처리,NaN,인천광역시 중구 운서동 2851호 여객터미널 1층 C7,20010327,20110310.0,2001,미니스톱,2011,3635.0
74365,미니스탑동양주공점,2011355005905600078,37.55902211731171,126.75612711426957,폐업처리,"인천광역시 계양구 동양로 101 (동양동,105호,106호)","인천광역시 계양구 동양동 580번지 105호,106호",20110906,20130329.0,2011,미니스톱,2013,570.0
74716,미니스탑하남금호점,2006363004105600093,35.16614022115121,126.81090481716407,폐업처리,NaN,광주광역시 광산구 월곡동 612-23호 1층,20060705,20081201.0,2006,미니스톱,2008,880.0
74725,대상유통(주)첨단점,1999363000005600098,35.213170335167014,126.83640786340369,폐업처리,광주광역시 광산구 첨단내촌로 74 (월계동),광주광역시 광산구 월계동 771번지 1 호,19990521,20141217.0,1999,미니스톱,2014,5689.0
76158,미니스탑,2016386048505600008,37.488813215449106,126.78425279441566,폐업처리,"경기도 부천시 부천로54번길 10, 1층 (심곡동)",경기도 부천시 심곡동 161번지 3호,20161024,20180305.0,2016,미니스톱,2018,497.0
76433,미니스탑 평택제니스,2013391026805600014,36.99271852682939,127.09162867310725,폐업처리,"경기도 평택시 자유로20번길 10, 101호 (합정동, 제니스오피스텔)","경기도 평택시 합정동 730번지 5호 외 2필지(6,7) 제니스오피스텔 101호",20130320,20180416.0,2013,미니스톱,2018,1853.0
76478,미니스탑송탄서해점,2003391003505622441,37.065803421394556,127.05653572823358,폐업처리,경기도 평택시 점촌1로58번길 30 (서정동),경기도 평택시 서정동 871호,20030605,20140530.0,2003,미니스톱,2014,4012.0
76587,미니스탑 안산상록점,2004555000505600151,37.3075093864988,126.85185663019112,폐업처리,"경기도 안산시 상록구 중보로 47 (이동,고잔프라자 105)",경기도 안산시상록구 이동 716번지 4 호 고잔프라자 105,20041119,20100319.0,2004,미니스톱,2010,1946.0
77742,미니스탑갈산점,2010409020405600088,37.70291178241315,126.57027558469015,폐업처리,경기도 김포시 월곶면 군하로 18,경기도 김포시 월곶면 갈산리 464번지 9호,20100917,20111230.0,2010,미니스톱,2011,469.0
77792,미니스탑대성리점,2000416000005600187,37.6815010877731,127.37817902498675,폐업처리,NaN,경기도 가평군 청평면 대성리 396호,19911027,20131114.0,1991,미니스톱,2013,8054.0
77847,미니스탑강대정문점,2004418001605600042,37.865322102008996,127.73552748445617,폐업처리,강원도 춘천시 백령로 1 (효자동),강원도 춘천시 효자동 315번지 7 호,20040319,20150710.0,2004,미니스톱,2015,4130.0
78194,미니스탑,2013426006305600014,37.49993356470312,128.2421227220724,폐업처리,강원도 횡성군 둔내면 고원로425번길 35-7,강원도 횡성군 둔내면 두원리 666번지 28호,20131010,20140929.0,2013,미니스톱,2014,354.0
79271,미니스탑금당2점,2005482011805600024,34.94790009609347,127.52505167487561,폐업처리,전라남도 순천시 기적의도서관길 24 (연향동),전라남도 순천시 연향동 1463번지 1호,20050303,20120706.0,2005,미니스톱,2012,2682.0
80146,미니스탑사천점,2010534001605600017,34.94370136257794,128.08713328218377,폐업처리,NaN,경상남도 사천시 용강동 838번지 현대상가1층101,20100519,20100525.0,2010,미니스톱,2010,6.0
80147,미니스탑사천점,2010534001605600019,34.94370136257794,128.08713328218377,폐업처리,NaN,경상남도 사천시 용강동 838번지 현대상가 1층 101,20100601,20101221.0,2010,미니스톱,2010,203.0

# -----

# 얼마나 버텼을까?

In [48]:
cvs.loc[idx_open_after_criteria &idx_close_after_criteria &~idx_closed_date_isna, cols_cvs].sort_values('개업연도', ascending=True).head(50)

,사업장명,관리번호,lat,lng,상세영업상태명,도로명전체주소,소재지전체주소,인허가일자,폐업일자,개업연도,종류,폐업연도,period
223,GS25종로리버,2008300012905600064,37.568838018022426,126.98510824788185,폐업처리,"서울특별시 종로구 청계천로 67, 104호 (관철동,종로1번가 1층)",서울특별시 종로구 관철동 155번지 종로1번가 1층 104호,20080709,20140502.0,2008,GS25,2014,2123.0
61724,GS25창원기산,2008527018205600117,35.22362545974828,128.67892906828345,폐업처리,"경상남도 창원시 성산구 중앙대로 95 (중앙동,기산파라다이스 110,111호)","경상남도 창원시 중앙동 96번지 1호 기산파라다이스 110,111호",20080910,20130823.0,2008,GS25,2013,1808.0
61723,GS25 봉곡제일점,2008527018205600152,35.24362114899295,128.65120097160954,폐업처리,경상남도 창원시 의창구 지귀로12번길 21 (봉곡동),경상남도 창원시 봉곡동 33번지 7호,20081208,20081216.0,2008,GS25,2008,8.0
8932,GS25사당드림점,2008319009905600106,37.47852063420198,126.97919294480425,폐업처리,"서울특별시 동작구 동작대로7길 56 (사당동,1층)",서울특별시 동작구 사당동 1038번지 51호 1층,20081205,20091109.0,2008,GS25,2009,339.0
8939,GS25 사당까치,2008319009905600081,37.48086539300482,126.97206946584694,폐업처리,서울특별시 동작구 사당로16길 65 (사당동),서울특별시 동작구 사당동 309번지 21호,20080919,20100805.0,2008,GS25,2010,685.0
61722,씨유 소답스마일점,2008527018205600144,35.26638495726908,128.6267979295447,폐업처리,"경상남도 창원시 의창구 의안로56번길 26, 101호 (소답동, 북창상가)",경상남도 창원시 소답동 130번지 1호 북창상가 101호,20081117,20130802.0,2008,CU,2013,1719.0
61721,(주)지에스리테일 창원남양점,2008527018205600140,35.21262033228109,128.70160477427618,폐업처리,"경상남도 창원시 성산구 가음로15번길 38, 지하2층 (남양동, 제운동시설동)",경상남도 창원시 성산구 22번지 제운동시설동 지하2층,20081031,20180823.0,2008,GS25,2018,3583.0
8964,미니스톱 노량진미도점,2008319009905600043,37.51331429668576,126.94618692744572,폐업처리,서울특별시 동작구 노량진로 184 (노량진동),서울특별시 동작구 노량진동 148번지 5호,20080604,20110419.0,2008,미니스톱,2011,1049.0
8965,GS25 동작대방점,2008319009905600046,37.499538087034125,126.9293782329336,폐업처리,"서울특별시 동작구 상도로 80 (대방동,1층)",서울특별시 동작구 대방동 336번지 13호 1층,20080610,20090604.0,2008,GS25,2009,359.0
8968,세븐일레븐(상도신동아점),2008319009905600004,37.50568847923075,126.94681670365591,폐업처리,서울특별시 동작구 만양로 9-1 (상도동),서울특별시 동작구 상도동 20번지 30호,20080118,20150403.0,2008,세븐일레븐,2015,2632.0
8969,GS25사당시티점,2008319009905600008,37.47741803571527,126.98058609527368,폐업처리,서울특별시 동작구 사당로30길 166 (사당동),서울특별시 동작구 사당동 1041번지 15호,20080201,20081031.0,2008,GS25,2008,273.0
61734,씨유 용원등대점,2008532011005600062,35.09436360242118,128.81912009163466,폐업처리,경상남도 창원시 진해구 용원동로 239 (용원동),경상남도 진해시 용원동 1137번지 17호,20080828,20150423.0,2008,CU,2015,2429.0
8974,미니스톱 장승배기점,2008319009905600024,37.50398009775228,126.93919074758026,폐업처리,서울특별시 동작구 장승배기로 71 (상도동),서울특별시 동작구 상도동 180번지 2호,20080423,20130924.0,2008,미니스톱,2013,1980.0
8978,미니스톱 이수태평점,2008319009905600016,37.48534336981659,126.98095038345537,폐업처리,서울특별시 동작구 사당로 301-1 (사당동),서울특별시 동작구 사당동 147번지 78호,20080318,20130402.0,2008,미니스톱,2013,1841.0
8980,한국미니스톱(주)보라매역점,2008319009905600034,37.49947126167684,126.92062522285457,폐업처리,서울특별시 동작구 여의대방로 140 (대방동),서울특별시 동작구 대방동 400번지 3호,20080516,20080702.0,2008,미니스톱,2008,47.0
8981,GS25 사닥역점,2008319009905600035,37.47720888194392,126.97987164009288,폐업처리,서울특별시 동작구 동작대로1길 27 (사당동),서울특별시 동작구 사당동 1044번지 37호,20080520,20090603.0,2008,GS25,2009,379.0
61704,미니스톱 경남대점,2008528017005600063,35.180570930647264,128.55764275167522,폐업처리,경상남도 창원시 마산합포구 월영북16길 12-1 (해운동),경상남도 마산시 해운동 2번지 49호,20080416,20110216.0,2008,미니스톱,2011,1036.0
61643,씨유 마산하이츠점,2008528017005600075,35.23695381159303,128.5855755627576,폐업처리,"경상남도 창원시 마산회원구 합성남로 32 (양덕동,하이츠빌라103호)",경상남도 마산시 양덕동 90번지 36호 하이츠빌라103호,20080430,20130501.0,2008,CU,2013,1827.0
61639,GS25 마산상남점,2008528017005600080,35.209590097318014,128.57636389520977,폐업처리,경상남도 창원시 마산합포구 교방천북길 267 (상남동),경상남도 마산시 상남동 230번지 25호,20080509,20130506.0,2008,GS25,2013,1823.0
8997,세븐일레븐 S숭실대입구역점,2008319009905600018,NaN,NaN,폐업처리,NaN,"서울특별시 동작구 상도동 178번지 1호 B1, X06",20080407,20100112.0,2008,세븐일레븐,2010,645.0
8999,미니스톱 보라매역점,2008319009905600053,37.49947126167684,126.92062522285457,폐업처리,"서울특별시 동작구 여의대방로 140 (대방동,1층)",서울특별시 동작구 대방동 400번지 3호 1층,20080714,20100713.0,2008,미니스톱,2010,729.0
20155,GS25 아크리아점,2008352006805600079,37.394563109972175,126.65118374604192,폐업처리,"인천광역시 연수구 신송로125번길 13 (송도동,아크리아 1빌딩 107호)",인천광역시 연수구 송도동 3번지 6호 아크리아 1빌딩 107호,20081216,20100908.0,2008,GS25,2010,631.0
20144,GS 25 연수희망점,2008352006805600046,37.40783164720253,126.67201806532742,폐업처리,"인천광역시 연수구 앵고개로 256 (동춘동,웅지프라자 106호)",인천광역시 연수구 동춘동 936번지 5호 웅지프라자 106호,20080805,20110728.0,2008,GS25,2011,1087.0
8975,미니스톱사당점,2008319009905600028,37.479980551258485,126.98086129737847,폐업처리,서울특별시 동작구 동작대로7길 12 (사당동),서울특별시 동작구 사당동 1030번지 10호,20080430,20100407.0,2008,미니스톱,2010,707.0
28768,씨유 권선장대산점,2008376003405600111,37.25717471281222,127.01963679973426,폐업처리,경기도 수원시 권선구 세지로66번길 42 (권선동),경기도 수원시권선구 권선동 1001번지,20080924,20150616.0,2008,CU,2015,2456.0
61735,GS25 용원세명점,2008532011005600063,35.10102020597604,128.8129691695272,폐업처리,경상남도 창원시 진해구 용원서로 37 (용원동),경상남도 진해시 용원동 1213번지 10호,20080902,20090910.0,2008,GS25,2009,373.0
61737,씨유 진해이동원룸점,2008532011005600059,35.15741347453043,128.69426486469877,폐업처리,"경상남도 창원시 진해구 진해대로728번길 28 (이동,101호)",경상남도 진해시 이동 503번지 5호 101호,20080826,20141113.0,2008,CU,2014,2270.0
61793,미니스톱마산양덕점,2008528017005600179,35.233906671801336,128.58262080142205,폐업처리,경상남도 창원시 마산회원구 합성옛길 41 (양덕동),경상남도 마산시 양덕동 12번지 42호,20081029,20170531.0,2008,미니스톱,2017,3136.0
61785,GS25 상남대동점,2008527018205600054,35.22203365049293,128.68581962801878,폐업처리,"경상남도 창원시 성산구 마디미로21번길 11, 105호 (상남동,로데오상가)",경상남도 창원시 상남동 11번지 4호 로데오상가 105호,20080411,20101222.0,2008,GS25,2010,985.0
61784,씨유 팔용빈스맘점,2008527018205600093,35.26030185989666,128.6126515461735,폐업처리,"경상남도 창원시 의창구 남산로17번길 11, 1층 104호 (팔용동, 유진상가빌라)",경상남도 창원시 팔용동 178번지 5호 유진상가빌라 1층 104호,20080711,20150612.0,2008,CU,2015,2527.0
61783,GS25 노블파크점,2008527018205600045,35.234834387079744,128.66945001224937,폐업처리,"경상남도 창원시 성산구 원이대로473번길 9, 주구중심상가동 115,116호 (반림...","경상남도 창원시 반림동 15번지 노블파크아파트 주구중심상가동 115,116호",20080324,20111227.0,2008,GS25,2011,1373.0
61782,GS25 팔용제일점,2008527018205600034,35.25672870023853,128.60864290242702,폐업처리,경상남도 창원시 의창구 사화로10번길 5 (팔용동),경상남도 창원시 팔용동 159번지 1호,20080307,20090306.0,2008,GS25,2009,364.0
61777,한국미니스톱 상남미광점,2008527018205600041,NaN,NaN,폐업처리,"경상남도 창원시 성산구 마디미로64번길 1, 104,105호 (상남동,미광빌딩)","경상남도 창원시 상남동 31번지 5호 미광빌딩 104,105호",20080320,20100201.0,2008,미니스톱,2010,683.0
61775,GS25창원중앙점,2008527018205600012,35.226977688988924,128.67843140706088,폐업처리,경상남도 창원시 성산구 용지로121번길 9 (중앙동),경상남도 창원시 중앙동 78번지 6호,20080124,20091229.0,2008,GS25,2009,705.0
61774,GS 25 창원삼광점,2008527018205600030,35.222109495890706,128.6865855775238,폐업처리,"경상남도 창원시 성산구 원이대로682번길 14, 105호 (상남동,삼광빌딩)",경상남도 창원시 상남동 10번지 3호 삼광빌딩 105호,20080304,20110311.0,2008,GS25,2011,1102.0
61773,GS25 마산리베라점,2008528017005600173,35.20048489238669,128.57490985913287,폐업처리,경상남도 창원시 마산합포구 해안대로 311 (신포동2가),경상남도 마산시 신포동2가 117번지 42호,20081015,20141030.0,2008,GS25,2014,2206.0
28739,GS25 수원서문점,2008375003205600051,37.28687447381335,127.00647299167963,폐업처리,경기도 수원시 장안구 장안로18번길 1 (영화동),경기도 수원시장안구 영화동 425번지 16호,20080611,20120628.0,2008,GS25,2012,1478.0
61736,GS25 진해대천점,2008532011005600072,35.1521880123422,128.65872222329438,폐업처리,"경상남도 창원시 진해구 중원서로 91 (화천동,대천맨션 101,103호)","경상남도 진해시 화천동 13번지 대천맨션 101,103호",20081007,20181012.0,2008,GS25,2018,3657.0
61768,(주)지에스리테일 GS마트삼계점,2008528017005600129,35.233026656144645,128.504070979702,폐업처리,경상남도 창원시 마산회원구 내서읍 경남대로 927,경상남도 마산시 내서읍 삼계리 25번지 2호,20080806,20100531.0,2008,GS25,2010,663.0
61763,씨유 장수소답점,2008527018205600086,35.26272098600202,128.62395128842135,폐업처리,경상남도 창원시 의창구 의안로12번길 1 (소답동),경상남도 창원시 소답동 111번지 2호,20080704,20130625.0,2008,CU,2013,1817.0
61762,한국미니스톱 창원명서점,2008527018205600074,35.239994038564866,128.6486008905076,폐업처리,경상남도 창원시 의창구 창이대로85번길 2 (명서동),경상남도 창원시 명서동 207번지 6호,20080620,20110302.0,2008,미니스톱,2011,985.0
61761,GS25마산석전점,2008528017005600099,35.23353711209094,128.5777937476431,폐업처리,"경상남도 창원시 마산회원구 석전동13길 28 (석전동,1층)",경상남도 마산시 석전동 234번지 1호 1층,20080625,20100325.0,2008,GS25,2010,638.0
61760,미니스톱(창원명서점),2008527018205600057,35.239994038564866,128.6486008905076,폐업처리,경상남도 창원시 의창구 창이대로85번길 2 (명서동),경상남도 창원시 명서동 207번지 6호,20080414,20080605.0,2008,미니스톱,2008,52.0
61754,GS25 마산합성점,2008528017005600105,35.23779761608289,128.58473078143479,폐업처리,"경상남도 창원시 마산회원구 합성남7길 6 (합성동,백양상가 101호)",경상남도 마산시 합성동 265번지 13호 백양상가 101호,20080704,20100325.0,2008,GS25,2010,629.0
61752,미니스톱 마산해운점,2008528017005600116,35.1791384746003,128.56194032505405,폐업처리,경상남도 창원시 마산합포구 월영동6길 23 (해운동),경상남도 마산시 해운동 36번지 8호,20080715,20080820.0,2008,미니스톱,2008,36.0
61751,GS25 마산합포점,2008528017005600083,35.19240280117212,128.56516285286676,폐업처리,"경상남도 창원시 마산합포구 3·15대로 156 (중앙동2가,하이페르세븐 1층104호)",경상남도 마산시 중앙동2가 7번지 4호 하이페르세븐 1층104호,20080520,20100513.0,2008,GS25,2010,723.0
61743,GS25 진해안골점,2008532011005600087,35.101036129574176,128.80513983138545,폐업처리,경상남도 창원시 진해구 안청남로 20 (안골동),경상남도 진해시 안골동 352번지 12호,20081117,20101105.0,2008,GS25,2010,718.0
61742,씨유 창원다운점,2008527018205600158,35.2265898404463,128.68713959863067,폐업처리,"경상남도 창원시 의창구 신사로 14, 목욕탕동 1층 103호 (신월동, 은아아파트)",경상남도 창원시 신월동 93번지 은아아파트 제목욕탕동 1층 103호,20081224,20121115.0,2008,CU,2012,1422.0
61738,GS25도계제일점,2008527018205600133,35.256693656501525,128.63678719178466,폐업처리,"경상남도 창원시 의창구 원이대로81번길 13, 가동 101호 (도계동,대호빌라)",경상남도 창원시 도계동 401번지 3호 대호빌라 가동 101호,20081022,20160928.0,2008,GS25,2016,2898.0
61767,미니스톱 마산해운점,2008528017005600146,35.1791384746003,128.56194032505405,폐업처리,경상남도 창원시 마산합포구 월영동6길 23 (해운동),경상남도 마산시 해운동 36번지 8호,20080901,20110708.0,2008,미니스톱,2011,1040.0

In [49]:
cvs.loc[idx_open_after_criteria &idx_close_after_criteria &~idx_closed_date_isna]['period'].mean()

1025.7155866758408

In [50]:
cvs.loc[idx_open_after_criteria &idx_close_after_criteria &~idx_closed_date_isna, cols_cvs].groupby('종류').agg({'period':'mean'})

            period
종류
CU     1034.230759
GS25    968.426667
미니스톱   1086.710262
세븐일레븐  1173.422012
씨스페이스   956.752381
이마트24   629.565632

In [41]:
365*5

1825

In [60]:
1026 / 365

2.8109589041095893

In [61]:
12*0.81

9.72

In [51]:
print(len(cvs.loc[idx_open_after_criteria &idx_close_after_criteria &~idx_closed_date_isna]))

24707

# x일 못 버틴 편의점, x=365

In [62]:
limit = 730

In [63]:
idx_close_within_limit = cvs['period']<=limit

# idx_open_5_years_ago = cvs['개업연도'].apply(int)>=2012

cvs_close_within_limit = cvs.loc[idx_open_after_criteria &idx_close_after_criteria & ~idx_closed_date_isna
                            & idx_close_within_limit, cols_cvs].groupby('종류').agg({'관리번호':'count'})
cvs_close_within_limit

       관리번호
종류
CU     3127
GS25   4288
미니스톱    956
세븐일레븐  1530
씨스페이스    52
이마트24   612

In [53]:
cvs_open_since_limit = cvs.loc[idx_open_after_criteria].groupby('종류').agg({'관리번호':'count'})
cvs_open_since_limit

        관리번호
종류
CU     19495
GS25   21293
미니스톱    5028
세븐일레븐  12830
씨스페이스    299
이마트24   4103

In [64]:
close_within_year = cvs_close_within_limit / cvs_open_since_limit * 100
close_within_year = close_within_year.reset_index()
close_within_year = close_within_year.rename(columns={'관리번호':'1년 내 폐업 점포 비율'})
close_within_year

# close_within_year.to_csv('close_within_year.tsv', sep='\t', index=False)

      종류  1년 내 폐업 점포 비율
0     CU      16.040010
1   GS25      20.138074
2   미니스톱      19.013524
3  세븐일레븐      11.925175
4  씨스페이스      17.391304
5  이마트24      14.915915